[2020-07-14 13:17] argetlam-cs commented on #712
/assign @argetlam-cs

[2020-07-14 15:30] mikehelmick commented on #685
without seeing the server logs- you most likely need to set "health authority verification disabled" to `true`

The exact unauthorized reason would be in the Cloud Run server logs.

[2020-07-14 16:38] sherifkozman commented on #711
@gurayAlsac any thoughts related to the index.txt cleaning issue ?

[2020-07-14 21:40] gurayAlsac commented on #663
We won't be changing the header string for this backwards compatible proto change. The header string would only change for a larger file format change (e.g., using a different proto, or something other than a proto)

[2020-07-14 21:47] gurayAlsac commented on #642
It should be public now at https://developers.google.com/android/exposure-notifications/debug-mode

Feel free to create a new issue if its not accessible.

[2020-07-14 22:04] gurayAlsac commented on #711
There are two separate things here: (1) the TTL for when export files themselves get deleted (which is what https://github.com/google/exposure-notifications-server/pull/714/files touched) and is a configuration in the cleanup server, (2) the TTL for how long we look back in the ExportFile table to include things in the index file and is a configuration in the export server.

Two separate configs,

[2020-07-14 22:21] sherifkozman commented on #711
This explains why i found the same ENV variable in 3 different places!
So now we clean up the files but not how the index is created as it looks back at the export...
will that be fixed ?

[2020-07-14 22:24] gurayAlsac commented on #711
Have you set the `CLEANUP_TTL` config on the export server itself?

[2020-07-15 12:56] sherifkozman commented on #711
i think it was applied over clean services, i can set it over the export server and run it if this will fix things and put them in sync @gurayAlsac

[2020-07-15 16:52] chaodaiG opened #723 "Smoke test terraform deployment"
### TL;DR

Create smoke tests that could test terraform deployment, as well as automated tests for ensuring terraform deployment work

### Design

**Proposal**

[2020-07-15 16:54] chaodaiG commented on #723
@sethvargo  and @stati0n, I have created this issue tracking the discussion of this topic. I could be wrong but I'm considering it being a prerequisite for testing Cloud Run

[2020-07-15 16:57] stati0n commented on #723
It shouldn't be a hard blocker for Cloud Run.  We could orchestrate a deployment to Cloud Run ourselves via a Cloud Build.

[2020-07-15 17:01] chaodaiG commented on #723
That's true for services, but for other resources like database, gcs etc. will need to be configured as what's been done by terraform. Or alternatively, we could deploy services using in mem databases?

[2020-07-15 17:11] stati0n commented on #723
We could.  I'm willing to say it's a prereq if we think it's enough work to work around it.

[2020-07-15 17:50] sherifkozman commented on #705
@mikehelmick i want to confirm that the attached error is related to the v1.5 implementation that is not yet complete?
Cause all exposure submission tests are broken so far because of this.
![Screenshot 2020-07-15 10 49 45](https://user-images.githubusercontent.com/666788/87578255-02eb0f80-c689-11ea-84e4-758a4f139081.png)

[2020-07-15 19:06] sherifkozman commented on #705
@mikehelmick done and working :) thanks

[2020-07-15 19:10] mikehelmick commented on #705
great! Sorry again for the breakage, v1.5 was a complicated transition.

[2020-07-15 20:02] chaodaiG commented on #723
Makes sense. I will create another issue gathering requirement for testing Cloud Run

[2020-07-15 20:20] chaodaiG opened #727 "E2e test: against Cloud Run"
### TL;DR

Creating tests for interacting with real Cloud Run services, also automate these tests to be ran in CI

### Design

**Proposal**

Requirements:

1. E2e tests interact with Cloud Run services
1. A way to deploy Cloud Run services in test environment
1. The services to be deployed use in mem databases and local storages

**Alternatives considered**

Deploy a full service using terraform,

[2020-07-15 20:22] chaodaiG commented on #723
Created #727 for discussing Cloud Run tests

[2020-07-15 20:24] chaodaiG commented on #727
Created this issue tracking the work of testing Cloud Run. Gathering requirements at the moment, @sethvargo , @stati0n , please let me know if the requirements above make sense to you or not, feel free editing the body straight

[2020-07-15 20:43] crwilcox opened #728 "Create central place to see configuration settings available across server, verification server, etc"
While editing docs to make configurable validation settings more apparent, the point was raised that it "would be good to have this for all the servers and to point our where things need to be aligned across the application group"

For example, we have this content, but it could definitely go further to flesh out the options.
https://github.com/google/exposure-notifications-server/blob/main/docs/g

[2020-07-15 22:28] #643 closed

[2020-07-15 23:10] sherifkozman opened #729 "Rate limit for exposure API"
Is there an intention to apply a rate limit function similar to the [Verification server ](https://github.com/google/exposure-notifications-verification-server/pull/111)to mitigate possible attacks ?

[2020-07-15 23:15] jixiangox commented on #643
cloudsql_tier         = "db-custom-1-3840"
cloudsql_disk_size_gb = "16"

never success with this less powerful config but default.
Terraform plan out looks good to me, error logs show value is invalid

[2020-07-15 23:18] jpflueger commented on #715
After further investigation I was able to get Managed Identity authentication working for Azure Blob Storage. I can't edit the design proposal so I'll add an updated version here.

## Design
### Proposal
If the AZURE_STORAGE_ACCOUNT_KEY environment variable is not set, use the Managed Identity endpoint to request an access token for the managed identity that can be used to access the Storage Blob

[2020-07-15 23:39] sethvargo commented on #715
Dope!

Seems reasonable and matches how the GCP one works.

I left two comments on the PR, but otherwise I think this is great!

[2020-07-15 23:40] sethvargo commented on #729
This server design intentional obscures any user-identifiable information, including IP addresses. I don't think we plan to add rate limiting, especially with the new PHA verification flow. @mikehelmick thoughts?

[2020-07-16 00:22] #586 closed

[2020-07-16 00:54] mikehelmick commented on #679
not stale

[2020-07-16 00:57] mikehelmick commented on #643
@crwilcox - thoughts on that instance config?

[2020-07-16 12:35] #715 closed

[2020-07-16 20:45] gurayAlsac commented on #711
Try that, and reopen if you're still seeing index issues. The configuration story in general is pretty hairy and has lots of rough little edges like this. https://github.com/google/exposure-notifications-server/issues/728 might help to make it a little better.

[2020-07-16 20:45] #711 closed

[2020-07-16 23:58] mikehelmick opened #734 "Implement and accept "revocation/revision" certificates"
### TL;DR

As part of the [verification flow](https://developers.google.com/android/exposure-notifications/verification-system)

When keys are accepted, an encrypted token needs to be returned as the revocation (or revision) certificate.

This certificate needs to be passed back in order to revise the keys at a later date. This ensures that a key can't be revised by a different device.

/kind enha

[2020-07-17 00:19] sethvargo opened #735 "Add integration tests for revised keys"
https://github.com/google/exposure-notifications-server/pull/733#discussion_r456145573

[2020-07-17 14:04] sherifkozman commented on #711
@gurayAlsac so we tried it by setting CLEANUP_TTL to 72h , it worked for a couple days getting the index sorted out. After we removed the env variable the entire list of older files were re added to the index about a few hundred entries of deleted files.

[2020-07-17 19:37] mikehelmick opened #738 "All keys w/ no report type to be revised"
Treat empty (`""`) report type as "likely" and allow the keys to be revised to confirmed or negative diagnosis.

Example log message from keys uploaded pre-schema migration to post.

error writing exposure record: unable to revise keys: invalid report type transition, cannot transition from '' to 'confirmed'

[2020-07-17 20:05] gurayAlsac commented on #711
Right - WAI. The index file is driven solely by the contents of db and that env var, and doesn't check whether the files exist, or the state of the separate cleanup server. Perhaps there's a separate feature request here (add redundant check to ensure no deleted files are present) but I'm not sure if it would be high priority.

[2020-07-17 20:19] mikehelmick commented on #711
@gurayAlsac - should we make files in the DB as "DELETED" when the cleanup-export job runs? and then exclude them.

would remove an env var that needs to be in sync

[2020-07-17 20:39] gurayAlsac commented on #711
We should already be doing that. We update a file as deleted here:
https://github.com/google/exposure-notifications-server/blob/1208580e92e3a9f23d85eb570fbdff8d1f6e7a00/internal/export/database/export.go#L775

And on the export/index creation side, we already filter for only status `COMPLETED` and filter out `DELETED`. But we do it on the whole ExportBatch:
https://github.com/google/exposure-notif

[2020-07-18 00:23] #248 closed

[2020-07-18 00:23] #250 closed

[2020-07-18 05:54] #729 closed

[2020-07-18 05:58] sherifkozman opened #741 "Running over AWS"
There are multiple references for supporting different AWS components such as S3 and AWS KMS, but to be able to run the containers on a non GCP cloud provider new builder scripts need to be coded, is that correct.

I tried running sample containers that were previously built and the crashed trying to find GCP application-default-credentials.

Is that the case and would it make more sense to keep t

[2020-07-18 14:06] sethvargo commented on #741
Hi @sherifkozman

Yes, that's correct. We really only have expertise in Google Cloud, so those are the configurations we provide (via Terraform). If you want to run on another cloud provider, you need to set the appropriate configuration values via environment variables (e.g. SECRET_MANAGER, KEY_MANAGER). This is documented in [Configuring Components](https://github.com/google/exposure-notificatio

[2020-07-18 14:11] sherifkozman commented on #741
Thanks @sethvargo ,would you think Anthos for AWS is a happy medium retaining all GCP configs (mostly) as is while extending work load locations onto other providers?

[2020-07-18 14:14] sethvargo commented on #741
The Cloud Run bits will definitely work, but I'm not sure if we support Cloud SQL via Anthos yet, so you'd need to use RDS or run the database as a container inside Anthos GKE.

[2020-07-18 14:20] sherifkozman commented on #741
There are different options I would think of, either RDS, whitelisting the AWS cluster to access cloud sql or use a similar vpn tunnel between AWS and GCP similar to the setup user in migrate for compute between AWS and GCP

[2020-07-18 14:21] sethvargo commented on #741
Yea, there's definitely a wealth of options. I think the challenge might be that we (the Google team) lack expertise on those other cloud platforms, so we may not be able to help debug things.

[2020-07-18 14:26] sherifkozman commented on #741
Thanks for confirming, we are exploring best and fastest routes to accommodate to requests without having to rework a lot of the work.

Most of all the automation of releasing new updates and the builder/deployment work.

Terraform scripts for AWS or azure won't be the only part needs changing if an HA decides to launch over a different cloud provider, hence the Anthos option is a sweet spot

[2020-07-18 16:18] mikehelmick commented on #741
I have tested running the system on Anthos in the past, there is nothing in the code itself that would prevent you from running on any container serving infrastructure, including Anthos on AWS.

It is possible to run the code without needing Google application credentials, but that requires appropriate config.

If the HA that you are working with needs to be run on an alternate cloud, please have

[2020-07-18 16:18] #741 closed

[2020-07-19 00:24] #471 closed

[2020-07-19 15:35] marekaf opened #745 "exposure service can't create metricDescriptors in SD"
### TL;DR
Exposure in Cloud Run is logging this all the time
[code]

I have the newest version deployed, including having correct ENV var PROJECT_ID specified and SA has the correct role from terraform

I have Stackdriver enabled, it works for other workload on this GCP project.

[2020-07-19 15:48] marekaf opened #746 "terraform: invalid database_flags for CloudSQL"
### TL;DR
Hello 👋
I'm getting
[code]
because of the db flag max_connections

If I delete it
[code]
I can proceed to create the db.

Since `max_connections` are BETA and this resource is not using `google-beta` provider, can that be the cause of the error?

**Expected behavior**
I expected the db to be provisiones without any errors.

**Observed behavior**
I got the above-mentioned error

**Additio

[2020-07-19 16:12] sethvargo commented on #745
Can you make sure:

1. The service is using the exposure service account
1. The exposure service account has the `monitoring.metricWriter` role

?

[2020-07-19 16:14] sethvargo commented on #746
This error is because the instance size you chose can't accommodate that many connections. We could make the max_connections a variable, or we could document the restriction.

[2020-07-19 16:14] sethvargo commented on #746
https://cloud.google.com/sql/docs/quotas#postgresql

[2020-07-19 17:16] sethvargo commented on #652
Per https://github.com/jackc/pgx/issues/74#issuecomment-139832623, it looks like we just need to wrap reads in serializable transactions.

/assign

[2020-07-19 17:51] marekaf commented on #745
cloud run revisions detail: <img width="535" alt="Screenshot 2020-07-19 at 19 48 22" src="https://user-images.githubusercontent.com/16442967/87881329-cefd4a80-c9f8-11ea-9407-a6886f27be61.png">

IAM: <img width="1087" alt="Screenshot 2020-07-19 19 51 01" src="https://user-images.githubusercontent.com/16442967/87881384-30bdb480-c9f9-11ea-8212-5937de8ee99f.png">

[2020-07-19 17:54] marekaf commented on #746
Aha! Thanks!
It'd be great if that was a documented variable. The error message is not super helpful here.

[2020-07-19 18:14] sethvargo commented on #745
The full email is blacked out - does it match the email from the Cloud Run screenshot? If it does, I'm really not sure.

[2020-07-20 06:24] marekaf commented on #745
Yes, it does. I wanted to black out the first screenshot too, oops.

[2020-07-20 11:59] marekaf commented on #745
@sethvargo
I created a new GCP project, deployed with terraform everything from scratch, added something in the web admin and ran the exposure-client/main.go and now the exposure service is logging this
[code]
which I've seen already in other svcs' logs. Any ideas?

[2020-07-20 12:58] sethvargo commented on #745
That's a known issue (https://github.com/google/exposure-notifications-server/issues/699). We haven't had a chance to fix it yet.

[2020-07-20 12:58] #745 closed

[2020-07-20 13:03] marekaf commented on #699
@sethvargo is there any workaround? I tried setting env var `OBSERVABILITY_EXPORTER=NOOP` but it didn't help, I'm getting the same errors. Logger is not logging the observability config either.
[code]

[2020-07-20 13:27] sethvargo commented on #699
You can ignore them for now. It just means some metrics aren't being published due to an invalid format.

[2020-07-20 13:28] sethvargo commented on #699
Make sure you view the logs in Stackdriver, not the Cloud Run logs. `Infow` produces structured logs which do not appear in the Cloud Run logs viewer yet.

[2020-07-20 13:48] whaber opened #749 "Upgrade dependency for apache thrift dependency due to security vulnerabilities"
### TL;DR

Upgrade dependency for apache thrift to 13.0 dependency due to security vulnerabilities in 12.0

Knows vulns in v12:
* High: Out-of-bounds Read in github.com/apache/thrift
* High: Loop with Unreachable Exit Condition (Infinite Loop) in github.com/apache/thrift

**Expected behavior**

Did dependency security scan and found a version of a library in use with known security vulnerabilities

[2020-07-20 13:58] marekaf opened #750 "exposure-client unable to read http response: http2: response body closed"
### TL;DR
exposure-client is not getting the http response body properly

**Expected behavior**
`tools/exposure-client/main.go` should show
[code]

**Observed behavior**
[code]

### Reproduction
[code]

**Additional information**
If I send the same json via curl, I'm getting a correct response:
[code]

btw I have verification bypassing turned on

[2020-07-20 15:02] sethvargo commented on #749
We're not directly using apache thrift. Looking at the module tree, it appears to be used by a transitive dependency of opencensus:

[code]

I attempted to upgrade to a new version, but it looks like upstream hasn't upgraded yet.

@mikehelmick thoughts?

[2020-07-20 15:39] chaodaiG opened #751 "Centralize integration tests to avoid duplication"
A load test for cleaning up exported keys at scale was added in https://github.com/google/exposure-notifications-server/pull/713, which contains duplicated code with https://github.com/google/exposure-notifications-server/blob/e341b531d8ec2f82bbf9019af8f6c30cac886d10/internal/integration/integration_test.go. The reason for this duplication was discussed in https://github.com/google/exposure-notifi

[2020-07-20 15:42] sethvargo commented on #750
/assign

[2020-07-20 16:02] #750 closed

[2020-07-20 16:09] #652 closed

[2020-07-20 16:16] #746 closed

[2020-07-20 16:40] mikehelmick opened #753 "Drop older TEKs in publish"
Currently, on publish, if there are TEKs older than the settings, the entire request is rejected.

Instead, we should accept any valid TEKs in the batch and drop the older ones.

looking at the logs in the test servers, this is happening very frequently.

/kind bug
/priority important-soon

[2020-07-20 17:22] marekaf commented on #750
thanks!

[2020-07-20 17:28] mikehelmick commented on #753
/assign

[2020-07-20 17:38] chaodaiG commented on #751
Created a draft PR with the best optimization that I could come up with https://github.com/google/exposure-notifications-server/pull/754. The time it takes for creating 100 batches of exports is ~210 seconds

[2020-07-20 19:13] mikehelmick opened #756 "When bypass PHA verification is ON, still allow for valid certs to be processed"
/kind enhancement
/assign

[2020-07-20 19:40] #738 closed

[2020-07-20 21:12] mikehelmick commented on #756
Nevermind - this is already implemented this way. the AppPackage DOES need to be configured for a specific PHA though.

/close

[2020-07-20 21:12] #756 closed

[2020-07-20 21:16] mikehelmick commented on #753
I rolled out a build containing the #755 change.

I'll revisit this after I watch some logs

[2020-07-21 19:57] vbGoz commented on #684
I tried a new project but still ran into the same issue. It looks like my issue is exactly same as:
https://github.com/google/exposure-notifications-server/issues/639
I am trying `vpc_access_connector_max_throughput` default value as 300 now.

[2020-07-21 20:48] odeke-em commented on #749
@mikehelmick, thanks for the tag! Sure, I am happy to help. I'll take this on.

[2020-07-21 21:08] vbGoz commented on #684
@sethvargo It worked with 300 value.

[2020-07-21 23:26] jixiangox commented on #746
Combination of region changed and db-inst (standard one) is not workable. The err logs:

Error: Error, failed to create instance en-hrebk: googleapi: Error 400: Value requested is not valid., invalidFlagValue

  on database.tf line 22, in resource "google_sql_database_instance" "db-inst":
  22: resource "google_sql_database_instance" "db-inst" {

[2020-07-23 16:11] sherifkozman opened #766 "Exposure Key encoding"
Mobile Devs have been asking how key_data is being encoded ? i.e (UTF8 , ASCII, etc.. )
@mikehelmick

[2020-07-23 16:12] mikehelmick commented on #766
For upload or download?

[2020-07-23 16:14] mikehelmick commented on #766
I'm assuming upload - Keys are base64 encoded.

https://github.com/google/exposure-notifications-server/blob/main/pkg/api/v1alpha1/exposure_types.go#L96

[2020-07-23 16:14] sherifkozman commented on #766
download please

[2020-07-23 16:24] mikehelmick commented on #766
The download file format is here
https://developers.google.com/android/exposure-notifications/exposure-key-file-format

Since it is a protocol buffer, keys are available as byte array.

That being said - there is no reason that a mobile app needs to crack open this file. It's possible, but there it is not necessary. The bundle just needs to be handed to the OS for matching.

[2020-07-23 16:33] #766 closed

[2020-07-23 16:55] mikehelmick opened #767 "delete keys.Noop"
remove the keys.Noop KeyManager implementation and replace all uses w/ the new InMemory implementation.

Can also use this to write additional tests that actually sign and verify exports in memory.

/kind enhancement

[2020-07-23 17:09] mattThousand commented on #766
@mikehelmick for a key with a `keydata` property such as this `rb[\220\255?\202\3115\355QTE\266\23`, how do you recommend converting this into a byte array?

[2020-07-23 17:21] mattThousand opened #768 "Converting key_data to byte array after download"
@mikehelmick when the client downloads an `export.bin` file containing keys with keydata properties such as `keydata: "rb[\220\255?\202\3115\355QTE\266\23"`, how should the keydata string be converted to a byte array? (asking for debugging purposes, we'd like to confirm that specific keys are located in specific files on the server to ascertain why we did or did not receive an exposure notificatio

[2020-07-23 18:00] gurayAlsac commented on #768
The key_data field isn't of string type, it's protobuf `bytes`:
https://github.com/google/exposure-notifications-server/blob/dfe02eb3a54ed4d5133931bc6defde175bddbe7d/internal/pb/export/export.proto#L75

Depending on the language you are using that might have a different primitive type:
https://developers.google.com/protocol-buffers/docs/proto#scalar

You can see how the underlying api parses it he

[2020-07-23 19:15] mikehelmick commented on #768
The device side apps do not need to interpret this data. You're free to, but there's no need to. Handling the bundle to the OS is all that is necessary.

[2020-07-23 19:56] mikehelmick commented on #768
Also - this tool can be used to unmarshal and print out an export file

https://github.com/google/exposure-notifications-server/blob/main/tools/export-analyzer/main.go

[2020-07-23 20:12] #768 closed

[2020-07-24 14:02] chaodaiG commented on #243
The first half was done in https://github.com/google/exposure-notifications-server/pull/713

Will need to figure out how to test this `Also verify it doesn't adversely impact table performance during cleanup.`

[2020-07-24 14:04] chaodaiG commented on #250
This was fixed in https://github.com/google/exposure-notifications-server/pull/713

[2020-07-24 14:05] chaodaiG commented on #248
This was fixed in https://github.com/google/exposure-notifications-server/pull/764

[2020-07-26 02:07] mikehelmick commented on #767
/assign

[2020-07-26 13:40] #767 closed

[2020-07-26 16:53] mikehelmick commented on #751
there’s also some duplication w. the unit tests in internal/publish/publish_test.go - although I don’t want those tests lessened as we get good code coverage numbers and assurances from those tests.

[2020-07-26 16:54] mikehelmick commented on #734
This is done - I Want to add one more test before I close it out.

[2020-07-27 15:48] mikehelmick opened #773 "Better formulation of chaff requests"
- should not be a dedicated API
- allow for client to explicitly signal a chaff request
- utilize http://github.com/mikehelmick/go-chaff

[2020-07-27 16:13] mikehelmick opened #774 "Export directory"
Add the ability to generate an export directory that shows all exports available from the sever, the regions they cover and export frequency.

[2020-07-27 20:39] #773 closed

[2020-07-29 01:17] mikehelmick commented on #685
We need to take a pass over the docs.

[2020-07-29 01:18] mikehelmick commented on #671
/kind enhancement

[2020-07-29 21:38] mikehelmick opened #782 "Currently possible to upload key with zero regions"
### TL;DR

reading the code, it looks like lack of any regions is not enforced.
Those key would be accepted, but never appear in an export.

/assign

[2020-07-29 21:52] #782 closed

[2020-07-29 22:00] nmiodice opened #784 "Documentation: RevisionToken flow & security implications"
### TL;DR

During an internal review of the `RevisionToken` feature recently introduced to the service code, we identified a risk related to the public perception of this feature. There is clearly a lot of effort put into making it difficult (impossible?) to associate multiple client requests over time, and it would be great to have this documented in some form of public documentation, likely in t

[2020-07-29 22:05] mikehelmick commented on #784
/kind enhancement

[2020-07-29 22:51] mikehelmick opened #786 "Document how reportType is set"
This is only settable by verification certificates, but we don't document this in the API docs.

/kind enhancement

[2020-07-30 17:10] sherifkozman commented on #685
@mikehelmick Can you elaborate a bit about how the Health Authority creation and JWT configs fit into the verification server setup, the documentation on that side is scarce as we are moving into testing HA verified requests between both implementations.

[2020-07-30 19:02] mikehelmick commented on #685
@sherifkozman - Specifically, how to set up the verification and the key server to trust one another? or something else?

[2020-07-30 19:33] sherifkozman commented on #685
@mikehelmick that's true , i assume this is where the Health Authority config over the ENS plays a role

[2020-07-30 19:57] mikehelmick commented on #734
last thing to add - filtering out "too old" keys

[2020-07-30 21:07] mikehelmick opened #791 "Revision token, key rotation"
### TL;DR

Revision token encryption keys are managed at the DB level.
It would be good to periodically rotate these keys and then age out old keys (thus rendering useless old revision tokens).

Currently thinking to rotate keys ever 8 days and keep the most recent 2 active.

The necessary plumbing for key rotation is already built in
https://github.com/google/exposure-notifications-server/blob/ma

[2020-07-30 21:12] whaught commented on #791
/assign

[2020-07-30 21:43] mikehelmick opened #792 "Roaming: Implement a "traveler" bit"
On publish and in the database, store a traveller bool next to the TEKs.

/kind enhancement
/kind good-first-issue

[2020-07-30 21:46] mikehelmick opened #793 "Key config off of region, drop appPackgeName from API"
Make it so that if no regions are passed on a publish request, and the authorized app has an "allowed regions" list.

Make that the publish regions for the request.

/kind enhancement
/kind good-first-issue

[2020-07-30 21:49] mikehelmick commented on #717
Also needs to be updated to support the traveller bit in addition to revised keys #793

[2020-07-30 21:50] mikehelmick opened #794 "Travellers: Allow export config to include traveller keys"
Once #792 is in

Allow for the exportconfig to include any "traveller" keys in addition to matching region keys

To support federation and international roaming

/kind enhancement

[2020-07-30 21:52] mikehelmick commented on #792
/assign

[2020-07-30 22:04] mikehelmick commented on #794
I think the default value here should be true

[2020-07-31 00:04] mikehelmick opened #795 "Update the functional requirements for v1.5 / newer API shape"
/kind enhancement

[2020-07-31 03:14] mikehelmick commented on #793
/assign

Adding on a bit more.

Proposing removing the authorized app construct instead making "region" a first class construct that indicates which HA certificates to accept.

Will require a rev of the API to v1beta1 and hosting of 2 endpoints at the same time.

[2020-07-31 03:20] mikehelmick commented on #734
and.. that is already done.

/close

[2020-07-31 03:21] #734 closed

[2020-07-31 03:22] sherifkozman commented on #685
@mikehelmick did you have the time to check that or pointer towards how is it set between both servers ?

[2020-07-31 04:30] mikehelmick commented on #685
Right now - the verification server uses a single verification signing key, configured by the env vars.
* this will change in the future w/ the new multi-tenant features

To link a verification server to the key server (using the `./tools/admin-console`)

Create a health authority
![image](https://user-images.githubusercontent.com/92319/88999888-b91a4000-d2aa-11ea-8d52-dd42d88214bf.png)

The issue

[2020-07-31 04:51] sherifkozman commented on #685
@mikehelmick What you just posted is the admin tool of the Exposure notifications server not the verification server if i am not mistaken. The verification server doesnt have ( ./tools/admin-console)

I guess my question how is that is that linked or used when generating a verification token on the verification server side.
If we are to turn on "Health Authority verification Disabled = false" wher

[2020-07-31 05:33] mikehelmick commented on #685
the trust is established in the other direction. The "key server" (this repo) is configured to trust verification certificates as issued by a verification server.

[2020-07-31 05:43] sherifkozman commented on #685
@mikehelmick does this mean that the certificate used in the verification server would be the one used in creating they authority config in the key server? Is that an accurate assumption?

[2020-07-31 14:37] sherifkozman commented on #685
@mikehelmick For the public key when setting a new Health Authority over the ENS , would that be the token signer or the certificate signer key from the verification server?

[2020-07-31 15:51] crwilcox opened #797 "Improve Deployment docs to show getting both key server and verification server running"
It would be helpful to users onboarding if we had a deeper guide for deploying and configuring the two servers for use.

https://github.com/google/exposure-notifications-verification-server/

[2020-07-31 16:00] crwilcox commented on #797
This may not a good first issue, but for sure a good early one. Likely could be done along with onboarding to dev.

[2020-07-31 16:22] mikehelmick commented on #685
It's the certificate signer that is the key that needs to be shared w/ the key server.

[2020-07-31 16:33] chaodaiG commented on #727
Would be much easier if #723 (Smoke test terraform provisioning) is done

[2020-07-31 19:48] sherifkozman commented on #685
@mikehelmick great that worked fine,  i believe the issue was in the issuer value which is preset by default into diagnosis-verification-example

[2020-07-31 19:50] mikehelmick commented on #685
We're going to be making the aud/iss fields configurable in the verification server UI.

[2020-07-31 21:48] sherifkozman opened #799 "exposure services fail to run after update"
After updating to the latest codebase the exposure services fails to run missing a KMS ID
*publish.NewHandler: revisiondb.New: no KMS key ID passed in to revision.New*

has there been any update to the terraform service that requires a new ENV to be added ?

[2020-07-31 22:03] mikehelmick commented on #799
Yes - there is a new symmetric encryption key required to power the revision token feature.

This has all been added to the terraform, running that should provision the keys.

You may need to add the new env vars manually, depending on if things have drifted or not.

REVISION_TOKEN_AAD is a secret - series of generated random bytes, the terraform will create this for you and put it in secret manag

[2020-07-31 22:45] sherifkozman commented on #799
@mikehelmick Thanks this is very helpful.
Also this started showing up in responses which is more descriptive than earlier, yet would this be related to hmac calculation on the client side or that the verification server code base might be a bit old.
Given that the issuer is a match so as the version and certificate signing ?

[2020-07-31 22:47] mikehelmick commented on #799
What started showing up in responses?

[2020-07-31 23:07] sherifkozman commented on #799
sorry it was missed from my previous message :
1- for Apps with : Revision Token Enforcement Disabled & Health Authority Verification Disabled = true
Response contains :  attempt to revise key not in revision token

2- For apps with verification disabled = false
Responses : {"revisionToken":"","insertedExposures":0,"error":"Internal Server Error","padding":""} and logs show " error writing exposur

[2020-07-31 23:56] mikehelmick commented on #799
The revision token is part of the security protocol around verification and the fact that now keys can be revised:
 https://github.com/google/exposure-notifications-server/issues/663

If you want to send the same TEK later on a subsequent publish request, you must send the revisionToken that was returned on the initial upload.

If you have revision token enforcement disabled - and still getting an

[2020-08-01 16:23] sherifkozman commented on #799
so far that is the case @mikehelmick , we had to roll back all updates to a previous state as things were at stall.

[2020-08-01 16:26] mikehelmick commented on #799
This should only be occurring when trying to upload the same set of TEKs (or at least overlapping)

Can you confirm that?

[2020-08-01 16:26] sethvargo opened #800 "Allow configuring custom domain mapping via Terraform"
https://www.terraform.io/docs/providers/google/r/cloud_run_domain_mapping.html

/assign

[2020-08-01 17:07] sherifkozman commented on #799
That might be the case, however I believe it's best to wait until the recent issues on the verification server side are resolved so we can try a code update once more and confirm if the behavior remains the same

[2020-08-01 17:10] mikehelmick commented on #799
ok - so make sure on a publish request that you are now capturing the publish response
   https://github.com/google/exposure-notifications-server/blob/main/pkg/api/v1alpha1/exposure_types.go#L91

And storing the "revisionToken" field.

The next time publish is called from the same device, the revision token must be passed in the publish request, unchanged.

The revision token itself is an encrypte

[2020-08-01 18:44] mikehelmick commented on #799
@sherifkozman - I verified revision tokens are working as intended.

I put together a tool that simulates what a mobile client would do (plus also issues the verification codes)
https://github.com/google/exposure-notifications-verification-server/pull/167

[2020-08-03 15:54] mikehelmick opened #804 "Revision token issues shouldn't result in a 5xx error"
Currently it does

/kind bug

[2020-08-03 17:03] MushuEE commented on #243
/assign

[2020-08-03 17:22] #800 closed

[2020-08-04 01:56] sherifkozman commented on #799
We pulled in the latest updates and still the exposure service fails to run :
Different errors though :
unable to read revision keys: unable to read keys: committing transaction: commit unexpectedly resulted in rollback1
publish.NewHandler: revision.New: reading revision key cache: unable to read keys: committing transaction: commit unexpectedly resulted in rollback1

[2020-08-04 01:57] mikehelmick commented on #799
Did you run the DB migrations?

Sounds like a missing table

[2020-08-04 02:03] sherifkozman commented on #799
Works perfect , i totally forgot we had a migration issue previously.
For the sake of clarification , for envs that are releated to secrets and KMS , would it be better to define the resource ID by a specific version or we define only the root resource ID and it will pick the latest version?

[2020-08-04 02:03] #799 closed

[2020-08-04 02:21] mikehelmick commented on #799
For KMS

- if it's an asymmetric key, you want to specify the exact version
- for symmetric key, you just use the top level resource ID and the active version is selected for encryption and non disabled versions are used for decryption
- for Secrets - use the exact version ID you want

[2020-08-04 04:19] mikehelmick commented on #793
changing this to key off of "healthAuthorityID" which will back fill the regions

[2020-08-04 04:23] MushuEE commented on #243
/reopen

[2020-08-04 04:25] mikehelmick commented on #804
/kind good-first-issue

[2020-08-04 04:42] mikehelmick commented on #804
Sample logs

[code]

[2020-08-04 04:43] mikehelmick commented on #804
[code]

[2020-08-04 05:03] mikehelmick commented on #804
/assign

put up a short term fix so that bypass works

need to add tests for bypass
and make sure that 400 level errors don't result in 500 error codes

[2020-08-04 18:38] mikehelmick opened #811 "Support HMAC with and without transmission risk"
in pkg/verification

Update CalculateExposureKeyHMAC to calculate HMAC with and without the transmission risk values.

But only if all passed in keys have a TR of 0.

This allows for there to be multiple valid (1 or 2) HMAC values and will let clients slowly transition from transmissionRisk to report type.

/kind enhancement

[2020-08-04 22:50] mikehelmick opened #812 "Terraform broken on fresh project"
service_cleanup_export.tf line 88
  for_each= merge(

local.common_cloudrun_env_vars is a tuple with 11 elements
var.service_environment is empty map of map of string

call to function "merge" failed: arguments must be maps or objects, got "tuple"

/kind bug
/assign @sethvargo

[2020-08-05 00:45] argetlam-cs commented on #712
/open

[2020-08-05 01:33] #792 closed

[2020-08-05 01:33] #793 closed

[2020-08-05 02:02] #812 closed

[2020-08-05 16:52] mikehelmick commented on #671
Proposal

* pr template will be updated to capture release notes
* weekly release cadence
* releases will drop on tuesday
* Release will create a branch and a tag
* TAG'd release will roll up the release notes since the last tag

[2020-08-05 22:24] #671 closed

[2020-08-05 22:32] mikehelmick commented on #794
/assign

[2020-08-06 00:25] #728 closed

[2020-08-06 01:00] mikehelmick opened #822 "Make report type required in verification certificates"
### TL;DR

Report type is technically optional, make it required and that it is valid.

/kind enhancement
/assign

[2020-08-06 01:09] #804 closed

[2020-08-06 02:00] #822 closed

[2020-08-06 05:57] chaodaiG commented on #723
/reopen

[2020-08-06 18:21] mikehelmick commented on #811
/assign

[2020-08-06 19:03] stati0n commented on #712
/open

[2020-08-06 19:04] stati0n commented on #712
/reopen

[2020-08-06 19:12] mikehelmick commented on #753
the previous PR seems to have resolved issues seen in testing

[2020-08-06 19:12] #753 closed

[2020-08-06 19:57] mikehelmick commented on #795
/assign

[2020-08-06 19:57] mikehelmick commented on #786
/assign

[2020-08-06 19:57] mikehelmick commented on #784
/assign

[2020-08-06 20:44] #811 closed

[2020-08-06 21:00] #794 closed

[2020-08-06 23:03] sherifkozman opened #831 "Key rotation service fails to restart over a new deployment"
Key rotation service fails to restart over deploying a new instances with missing env variable. Possibly the variable wasnt declared in vars.tf

Error : keyrotation.NewServer: missing key manager in server environment

[2020-08-06 23:13] mikehelmick commented on #831
/assign @whaught

[2020-08-06 23:47] mikehelmick commented on #784
I submitted an internal change to update
https://developers.google.com/android/exposure-notifications/verification-system

[2020-08-07 00:09] whaught commented on #831
/reopen

[2020-08-07 01:06] mikehelmick commented on #699
I added some extended logging and got this stack trace

[code]

[2020-08-07 01:13] mikehelmick commented on #699
seems to be 2 errors - one we can fix by setting `ReportingInterval:` on the stackdriver config.

still looking into the other

[2020-08-07 01:23] mikehelmick commented on #699
https://github.com/census-instrumentation/opencensus-java/pull/870

[2020-08-07 01:26] mikehelmick commented on #699
the problem would seem to be multiple writers

From the docs

[code]

[2020-08-07 01:35] #784 closed

[2020-08-07 01:35] #786 closed

[2020-08-07 01:35] #795 closed

[2020-08-07 02:02] #831 closed

[2020-08-07 03:12] sherifkozman commented on #831
There is a duplicate resource naming "revision-token-aad" that is decalred in :
service_keyrotation.tf
service_exposure.tf

The exact error :
`A google_secret_manager_secret_iam_member resource named "revision-token-aad"
was already declared at service_exposure.tf:48,1-72. Resource names must be
unique per type in each module.`

[2020-08-07 18:50] sherifkozman opened #842 "Invalid Report type error with a valid JSON Payload"
With recent updates we started getting a 401 error with invalid report type although transmission risk value is set correctly.

Running the same payload vs an older codebase seems to work find.

sample TeK :
    "temporaryExposureKeys": [
        {
            "key": "UXmeJEJRoJndICMVdVspUw==",
            "rollingPeriod": 144,
            "rollingStartNumber": 2661264,
            "transmissionRi

[2020-08-07 18:52] mikehelmick commented on #842
ReportType only comes from the verificationPayload - can you share the claims in the verification certificate? or the rest of the request?

[2020-08-07 18:53] mikehelmick commented on #842
Specifically: https://github.com/google/exposure-notifications-server/blob/main/pkg/api/v1/verification_types.go#L66

[2020-08-07 19:16] #842 closed

[2020-08-07 20:02] mikehelmick commented on #699
/assign

got a fix incoming

[2020-08-07 20:34] mikehelmick commented on #663
/close

Remaining work is in #717

[2020-08-07 20:34] #663 closed

[2020-08-07 23:48] #791 closed

[2020-08-10 11:55] augard opened #855 "Keys verification"
### Question
Hi,
we are trying to get to work our key server (from main) with verification server (https://github.com/google/exposure-notifications-verification-server). Even when we have everything configured in admin we always get error "failed to parse: no rows in result set". We try to check everything, but we didn't find reason why it don't want to accept the VerificationPayload.

`publish AP

[2020-08-10 12:00] marekaf opened #856 "DEFAULT_REGOIN should be DEFAULT_REGION"
### TL;DR
https://github.com/google/exposure-notifications-server/blob/main/internal/generate/config.go#L50

[code]

`DEFAULT_REGOIN` -> `DEFAULT_REGION`

[2020-08-10 12:54] sethvargo commented on #855
Hi @augard - have you configured a health authority and verification server too? You need to register the verification server to the main server so it trusts signatures. Alternatively, for testing, you can bypass the verification server by setting `bypass_health_authority_verification` to `true` for the row in the `AuthorizedApp` table.

[2020-08-10 12:58] augard commented on #855
Yes, i think we have everything configured on both servers. I know about that settings, but we need to get it working with verification to on.

What setting it's need to have configured on verification server?

Thanks

[2020-08-10 13:03] #856 closed

[2020-08-10 13:16] sethvargo commented on #855
Are you running the admin console GUI? (It's in this repo). If so, can you send me a screenshot of your configuration please? More info [is here](https://github.com/google/exposure-notifications-server/blob/main/docs/getting-started/publishing-temporary-exposure-keys.md#server-access-configuration).

[2020-08-10 13:29] augard commented on #855
Yes, i sent you our configuration to your email address.

[2020-08-10 15:32] mikehelmick commented on #855
The iss and aud fields currently come from envionment variables on the verification server (this will be moved into per-realm DB settings in the near future). Those fields must line up with your health authority configuration on the key server.

In the error message, this indicates that the key sever has no health authority configured with the issuer of `diagnosis-verification-example `

[2020-08-10 21:31] augard commented on #855
Hi, thanks that was one issue, now how we can get key for health authority? It's one of keys created with command
[code]
?

[2020-08-10 21:38] mikehelmick commented on #855
The `certificate-signing` key is the one used to sign certificates to allow upload to the key server.

[2020-08-10 22:14] sherifkozman opened #858 "unable to validate diagnosis verification: HMAC mismatch"
We have been testing against 2 different verification servers one that is proviosned by @mikehelmick yet we still get the same error :

unable to validate diagnosis verification: HMAC mismatch, publish request does not match disgnosis verification certificate.

we have tested 2 different servers with different JWT configs

Any clues?
@sethvargo

[2020-08-10 22:22] sethvargo commented on #858
Hi @sherifkozman - can you share more about how your constructing the requests?

[2020-08-10 22:33] mikehelmick commented on #858
debugged w/ @sherifkozman

Client was either sending the hmac secret or hmac value twice and not separating the tool.

For in illustrative example of how a client should operate, see https://github.com/google/exposure-notifications-verification-server/blob/main/tools/e2e-test/main.go

/close

[2020-08-10 22:33] #858 closed

[2020-08-11 01:35] mikehelmick commented on #774
/kind enhancement

[2020-08-11 08:44] augard commented on #855
We now get error: `unable to validate diagnosis verification: crypto/ecdsa: verification error`

Do we need regenerate the keys after we changed env variables on verification server?

[2020-08-11 14:20] mikehelmick commented on #855
If you changed the verification certificate signing key on the verification server, then yes, you need to update the configuration of this server to match.

That error indicates that (1) the public key is invalid or (2) the verification certificate itself has an issue / is incomplete.

You can use https://jwt.io to validate your verification certificates are parsable JWTs (including validating the

[2020-08-11 15:59] augard commented on #855
The tool helped a lot. Now it verified successfully. Thanks!

[2020-08-11 15:59] #855 closed

[2020-08-11 23:09] sethvargo opened #861 "Test and upgrade to Go 1.15"
### TL;DR
Upgrade to Go 1.15: https://golang.org/doc/go1.15

[2020-08-12 13:47] hvisser opened #862 "Keyset validation will drop all keys if start interval of any key is out of bounds"
Our app is not using this project, but we ran into a similar issue as the one I'm reporting here and I thought I'd flag it.

### TL;DR
We've observed that mobile clients (iOS 13.5 confirmed) can return TEKs with a start interval that is way older than 14 days, mixed in with valid keys. The validation in https://github.com/google/exposure-notifications-server/blob/702c0796ecf6ab1a6816aaa2dfe422fed3

[2020-08-12 13:54] hvisser commented on #862
So after looking at this for a while and deciding to create an issue I now realise that this function is called _per key_ and that invalid keys are in fact effectively dropped. So never mind me then 😅

[2020-08-12 13:59] mikehelmick commented on #862
The errors do cascade up, so one bad key metadata will cause the whole batch to be rejected.

I’ve reached out to both the iOS and Android develoeprs to verify if they expect this to happen in production devices or not. My previous understanding was not.

[2020-08-12 13:59] mikehelmick commented on #862
/assign

[2020-08-12 14:17] hvisser commented on #862
We definitely saw this on one or more production 13.5 iOS device. My own device I hardly ever turn on as an Android developer and it was posting keys as old as June and July. It appears that iOS is keeping 14 keys vs 14 days worth of keys or something like that.

[2020-08-12 15:55] mikehelmick commented on #862
I confirmed that iOS does indeed return keys older than 14 days and that Android devices (at least on newer releases) will not. I'll have a fix for this to have partial success at the server shortly.

[2020-08-12 16:25] #862 closed

[2020-08-12 22:10] mikehelmick opened #864 "Revision token issues"
2 potential issues discovered, but shouldn’t occurr in production environments

1) When validating a revision token, the token metadata for a TEK is checked against the database. The incoming publish metadata for a repeate TEK should also be checked agasint one of theres (either the token or the database). I.e. we need a==b==c, right now we’re checking a==b

2) When minting a new revision token on

[2020-08-12 23:18] #864 closed

[2020-08-13 00:10] sherifkozman opened #866 "creating export configs with different bucket names and similar filename root results error"
### TL;DR
Creating 2 different export configs for different GCS bukcet but same filename root results error

**Screenshots**
![Screen Shot 2020-08-12 at 5 08 42 PM](https://user-images.githubusercontent.com/666788/90080169-c7ab2300-dcbe-11ea-89a1-81412f41c46b.png)

[2020-08-13 00:26] #684 closed

[2020-08-13 13:26] stati0n commented on #727
/reopen

[2020-08-13 13:39] stati0n commented on #727
/kind enhancement

[2020-08-13 13:39] stati0n commented on #243
/kind enhancement

[2020-08-13 13:40] stati0n commented on #243
@crwilcox is "table performance" in this case simultaneously inserting data while running cleanup?

[2020-08-13 13:44] sethvargo commented on #866
@gurayAlsac do you think it's okay to remove this uniqueness constraint?

[2020-08-13 13:48] mikehelmick commented on #866
can't remove it, but could make it unique over bucket + root filename.

which should be a safe DB migration.

[2020-08-13 13:52] sethvargo commented on #866
Well, we'd have to:

1. Create a new index that's unique on [bucket, filename]
1. Delete the existing index

AFAIK, it's not possible to "update" the fields an index is indexing

[2020-08-13 16:33] sherifkozman commented on #866
I would wanna add there is an additional behaviour i spotted when fileroot value is left blank a new directory is being created within GCS with the value of "/" so index isnt actually created at the root of the GCS bucket

[2020-08-13 16:39] gurayAlsac commented on #866
Agree w/ @mikehelmick that the constraint can be made unique over both filename root and bucket.

Out of curiosity, what's the use case for exporting to different buckets/same roots?

[2020-08-13 17:30] sethvargo commented on #866
/assign

[2020-08-13 19:18] MushuEE commented on #243
@stati0n that is what I understand from syncing with @chaodaiG, I was going to try to repopulate the DB with a blob or docker image. Currently cleanup takes such a short time that it is hard to determine impact.

[2020-08-13 22:01] chaodaiG commented on #712
https://github.com/google/exposure-notifications-server/pull/829 added the scenario of exposure is verified, but not the case of exposure not verified yet, so there is still some work left to do

[2020-08-13 23:36] mikehelmick commented on #866
@gurayAlsac - different buckets could be under different billing accounts.

[2020-08-13 23:42] gurayAlsac commented on #866
Ah gotcha! So if someone were running a multi-tenant key server and wanted to isolate the resource consumption, but have respective apps use the same prefix schemes. Makes sense.

[2020-08-14 15:10] #866 closed

[2020-08-14 18:25] mikehelmick commented on #699
fixed!

/close

[2020-08-14 18:25] #699 closed

[2020-08-15 14:38] zssz opened #875 "How to setup federation?"
### Question

Given A and B, two working Google EN Key Server deployments, how to set up A to pull diagnosis keys from B?

I believe the high-level instructions are:
1. Schedule `A.federationin` service to periodically pull keys from `B.federationout` service.
2. Add A's federation authorization info to B.

It would be great if you could provide instructions on how to set this up.

I think I'm mis

[2020-08-15 14:42] mikehelmick commented on #875
First off - federation is missing some updates for the newer fields , #717

In this case, I think you just need to drop the port number from the server_addr, server addr should be `https://federationout-REDACTED-uc.a.run.app"

[2020-08-15 14:48] zssz commented on #875
@mikehelmick:

Missing the newer fields is not an issue, for now.

Dropping the port number doesn't fix the issue, as it is a requirement to provide it explicitly:
`2020-08-15 17:44:34.543 EESTFederation query "dev-REDACTED" failed: fetching query dev-REDACTED: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp: address federationout-REDACTED-uc.

[2020-08-15 14:51] mikehelmick commented on #875
Can you try :443 then? Since we're doing gRPC over HTTPS

[2020-08-15 15:04] zssz commented on #875
Yes, @mikehelmick, that was it. Thank you!

[code]

[2020-08-15 15:04] #875 closed

[2020-08-16 03:19] juantopx opened #876 "Failed to create files for batch"
Creating index file for batch 17: creating file /index.txt in bucket exposure-notification-export-cxxdc: storage.Writer.Close: googleapi: Error 400: Bucket is requester pays bucket but no user project provided., required.

[2020-08-16 13:13] gatemezing opened #877 "Where to ask permission to use the API in West and Central African Region"
### Question
Hello,
We are starting to develop an android App to be used in the West African region with the OOAS ORG. https://www.wahooas.org/web-ooas/en. I'm struggling to find the form to sign to get the corresponding permission from Google. Any help?

[2020-08-16 13:23] sethvargo commented on #876
Hi @juantopx - how have you configured your bucket? I don't believe we support "requestor pays" right now.

[2020-08-16 13:23] sethvargo commented on #877
Please email the address at the bottom of this project's README.

[2020-08-16 13:23] #877 closed

[2020-08-16 19:01] juantopx commented on #876
Now Works Good... I create new bucket with same user to create a new version of export cloud run..
Works..

But file index.txt is Zero Size..

[2020-08-16 19:23] mikehelmick commented on #876
There needs to be some data in the exposures table that would be picked up by the export (this means matching the exportonconfig region and in the correct time window).

If you don't have any data in the database, try running the generate server(`cmd/generate`) to place data in the databse.

[2020-08-16 19:55] juantopx commented on #876
I run cmd/generate and output is this::

{"severity":"EMERGENCY","timestamp":"2020-08-16T15:53:45.201749538-04:00","caller":"generate/main.go:42","message":"setup.Setup: unable to create observability provider: unknown observability exporter type stackdriver","stacktrace":"main.main\n\t/root/exposure-notifications-server/cmd/generate/main.go:42\nruntime.main\n\t/root/.go/src/runtime/proc.go:203"}

[2020-08-16 21:38] mikehelmick commented on #876
If you deployed to Google Cloud Platform via the provided terraform, the [generate service](https://github.com/google/exposure-notifications-server/blob/main/terraform/service_generate.tfl) is part of that deployment.

By default, it is deployed as a private service. You can use authenticate yourself [using curl](https://cloud.google.com/run/docs/authenticating/developers) or schedule this service

[2020-08-16 21:38] mikehelmick commented on #876
Also - if you have an application that is uploading temporary exposure keys, that will also get data into the database.

[2020-08-17 00:42] juantopx commented on #876
I make> using curl
and also> execute cloud scheduler "generate-worker"
and log in export is > Wrote index file "index.txt" with 0 entries (triggered by batch 25)
index.txt  Size 0

[2020-08-17 22:30] juantopx commented on #876
Sorry, have some solution

[2020-08-18 00:31] sethvargo commented on #876
/close

[2020-08-18 01:09] juantopx commented on #876
I can't resolve this issue

[2020-08-18 14:12] argetlam-cs commented on #712
#868 added the scenario for the exposure not yet verified

[2020-08-18 14:13] chaodaiG commented on #712
Cool
/close

[2020-08-18 14:13] #712 closed

[2020-08-18 16:26] andrebriggs opened #881 "Health check endpoint for Exposure API"
### TL;DR
We would like to be able to send synthetic requests to the exposure API (publish) just to make sure the API is running. This requires getting a 200 HTTP code back with having to send legitimate key data and correspond with the verification server first.

### Design

**Proposal**
Another endpoint on `exposure`  that simply returns 200 http code.

**Alternatives considered**

Going through

[2020-08-18 16:54] georules opened #882 "Cost evaluation"
### Question

The current overall cost estimation is based on `1,250 new cases daily`.  It seems that the 7-day average of daily new cases is closer to 50,000 cases daily in the US.  Should we update this documentation to reflect this case load, or perhaps, make some note as to why 1,250 cases daily was selected as the example calculation?

https://github.com/google/exposure-notifications-server/b

[2020-08-18 17:01] sethvargo commented on #881
This is one of the reasons we recommend chaff requests. Are you having trouble with the chaff requests?

[2020-08-18 17:33] mikehelmick commented on #876
Hello -

Can you share the details of your exportconfig? Screenshots from the admin console program or DB rows are fine.

And then also the health authority configuration from admin console.

You can send screenshots to the email address in the README.md file on this repo

[2020-08-18 18:03] juantopx commented on #876
https://docs.google.com/document/d/1GwAeEk8LExAXgdP9zNrSt8mRNCLUtUnOCMSIFPtN3ZU/edit?usp=sharing

[2020-08-18 18:08] mikehelmick commented on #876
I requested access to that document

[2020-08-18 18:12] juantopx commented on #876
Sorry, I add Editor Access to Document

[2020-08-18 18:58] mikehelmick opened #884 "generate service must account for revision tokens"
### TL;DR

The generate service attempts to revise keys, but that is always failing since it doesn't handle revision tokens.

[2020-08-18 20:18] juantopx commented on #876
Last LOG Error >>>
2020-08-18 16:15:00.304 EDTFailed to create batches for config 1: fetching most recent batch for config 1: latest export batch end: starting transaction: read tcp 169.254.8.1:46756->10.60.0.2:5432: read: connection reset by peer, continuing to next config

[2020-08-18 20:36] mikehelmick commented on #876
Are the any long lines around that? that's a DB connection reset.

[2020-08-18 21:34] juantopx commented on #876
More of 20

[2020-08-18 21:35] juantopx commented on #876
Another ERROR is

Failed to create files for batch: creating export file 1 for batch 240: unable to get signer for key projects/aig-expo-dev-05/locations/us-central1/keyRings/export-signing: KeyManager.NewSigner: failed to fetch public key: rpc error: code = InvalidArgument desc = Resource name 'projects/aig-expo-dev-05/locations/us-central1/keyRings/export-signing' does not match pattern 'project

[2020-08-18 21:35] juantopx commented on #876
This server> https://export-7ichwhq52q-uc.a.run.app

[2020-08-18 21:45] mikehelmick commented on #876
Thanks for sharing that - for the signing key, you need to specify the full version of the key to use, so it is probably

`projects/aig-expo-dev-05/locations/us-central1/keyRings/export-signing/versions/1`

[2020-08-18 22:15] juantopx commented on #876
I make the change..

Now the error is >

2020-08-18 18:15:00.812 EDTerror writing exposure record: starting transaction: read tcp 169.254.8.1:53020->10.60.0.2:5432: read: connection reset by peer
2020-08-18 18:15:00.815 EDTGET500404 B12 msGoogle-Cloud-Scheduler https://generate-7ichwhq52q-uc.a.run.app/

[2020-08-18 22:50] mikehelmick commented on #876
any additional log information?

this could be an issue w/ the database credentials configuration or with the serverless VPC configuration.

[2020-08-18 23:08] mikehelmick opened #886 "nil pointer dereference"
Stack trace

2020/08/18 22:55:56 http: panic serving 169.254.8.129:56282: runtime error: invalid memory address or nil pointer dereference goroutine 76 [running]: net/http.(*conn).serve.func1(0xc0005ec140) net/http/server.go:1800 +0x139 panic(0x1409520, 0x24d39e0) runtime/panic.go:975 +0x3e3 github.com/google/exposure-notifications-server/internal/publish/database.(*PublishDB).InsertAndReviseExpos

[2020-08-18 23:08] mikehelmick commented on #886
/assign

[2020-08-18 23:15] mikehelmick commented on #886
This can only happen if revision tokens are being bypassed.

[2020-08-18 23:25] juantopx commented on #876
I recreate new version of service generate (sql conection not exist in the original) and make test...

[2020-08-18 23:31] juantopx commented on #876
This is the output now >

2020-08-18 19:30:54.837 EDTGenerated 14 exposures
2020-08-18 19:30:54.848 EDTattempt to revise key not in revision token.
2020-08-18 19:30:54.848 EDTattempt to revise key not in revision token.
2020-08-18 19:30:54.848 EDTattempt to revise key not in revision token.
2020-08-18 19:30:54.848 EDTattempt to revise key not in revision token.
2020-08-18 19:30:54.848 EDTattempt t

[2020-08-18 23:33] mikehelmick commented on #876
ok - the revision error is a known issue

but you should have 14 exposures in the exposures table now

[2020-08-18 23:34] #886 closed

[2020-08-18 23:51] juantopx commented on #876
But the file> https://storage.googleapis.com/prueba_a001/exposureKeyExport-PA/index.txt

is empty !!!

[2020-08-18 23:57] mikehelmick commented on #876
Did you modify the generate service to put keys in the right region? Adding `?region=PA` to your request

[2020-08-19 00:13] juantopx commented on #876
?region=PA

Only for clarify, this change is in ANDROID or Servers?

[2020-08-19 14:50] puskaiz opened #888 "export-analyzer"
### Question

The export-analyzer tool checks if the keys are in the future (14 days) - lines 88, 89 and 108 - https://github.com/google/exposure-notifications-server/blob/main/tools/export-analyzer/main.go.
Is this the expected behavior? Or it should check if the keys are in 14 days past?

Shouldn't it also use the file date to calculate the floor and ceiling?

[2020-08-19 14:52] mikehelmick commented on #888
looks like a negative sign got removed

The file date / name doesn't have prescribed semantic value, so that is why the max key age is a flag.

/kind bug
/assign

[2020-08-19 14:57] puskaiz commented on #888
Will You add the negative sign?

What if I want to check a 2 days old file? floor and ceiling are calculated from 'now'.

[2020-08-19 15:02] #888 closed

[2020-08-19 15:04] mikehelmick commented on #888
Would an optional flag for "now adjustment" help?

[2020-08-19 15:06] puskaiz commented on #888
I think it is needed. Thanks.

[2020-08-19 16:36] #861 closed

[2020-08-19 23:33] mikehelmick opened #893 "Additional partial success support"
Allow for partial success in this scenario.
Assuming 2 regions are on a shared server.

* User uploads likely diagnosis with AppA, and gets revision token indicating as such
* User changes regions and installs a different app, AppB
* 5 days later, user gets a positive test in their new region. Currently key upload would fail because AppA doesn't hold the revision token for days -6 to -14
  * In th

[2020-08-20 16:12] mikehelmick commented on #876
That change is just on the server, specifically in how you invoke the generate service.

To further debug this, we'll need information like you posted in the doc you shared previously.

What I need to see

1) Rows in the exposure table including the assigned region code and created_at field.
2) Rows in exportconfig table
3) complete logs from an export service `/do-work` invocation.

Some things y

[2020-08-20 16:12] mikehelmick commented on #876
Those changes will let you upload a TEK and see it in an export file within 10 minutes instead of 2 hours.
These settings should not be that low in production.

[2020-08-20 16:23] sherifkozman opened #895 "exposure keys being inserted into the database although verification fails."
There is a case which we spotted where it seems regardless of an error in the verification token keys are being inserted into the database, which leads to a subsecquent error when keys are being re-submitted later due to a verification token error.

The verification error in question is "unable to unmarshall / descrypt revision token: token has invalid key id: 3"
Then immediatly after that "Insert

[2020-08-20 16:27] mikehelmick commented on #895
Do you have revision token bypass turned on?

[2020-08-20 16:28] mikehelmick commented on #895
or verification token bypass turned on? -either, both?

[2020-08-20 16:33] sherifkozman commented on #895
No its all off
![Screen Shot 2020-08-20 at 9 31 35 AM](https://user-images.githubusercontent.com/666788/90799357-f2e9cf80-e2c7-11ea-91d4-51b658162237.png)

[2020-08-20 16:36] sherifkozman commented on #895
This also started happening this morning, not sure if its related
![Screen Shot 2020-08-20 at 9 35 17 AM](https://user-images.githubusercontent.com/666788/90799790-93d88a80-e2c8-11ea-911a-e46e67eb7629.png)

[2020-08-20 16:42] mikehelmick commented on #895
that second error indicates an invalid verification certificate - not a 3 segment JWT.

[2020-08-20 16:44] sherifkozman commented on #895
we are re verifying the jwt once more and will revert back, until you have more for the first issue.

[2020-08-20 16:46] mikehelmick commented on #895
Can you share anything from the logs on the initial issue?

[2020-08-20 16:52] mikehelmick commented on #895
Also - the initial error message is the revision token NOT the verification certificate. Different things.

[2020-08-20 17:02] sherifkozman commented on #895
@mikehelmick This is the trace for the inital issue :

![Screen Shot 2020-08-20 at 10 00 58 AM](https://user-images.githubusercontent.com/666788/90802507-38100080-e2cc-11ea-837f-0acf912aec00.png)

[2020-08-20 22:01] juantopx commented on #876
I share Positive Result from 2 diferent devices >>

INSERT INTO "exposure" ("exposure_key", "transmission_risk", "app_package_name", "regions", "interval_number", "interval_count", "created_at", "local_provenance", "sync_id", "health_authority_id", "report_type", "days_since_symptom_onset", "revised_report_type", "revised_at", "revised_days_since_symptom_onset", "revised_transmission_risk", "trave

[2020-08-20 22:02] juantopx commented on #876
2020-08-20 18:00:05.336 EDT Generating exposure 1 of 10
2020-08-20 18:00:05.357 EDT error writing exposure record: unable to check for existing records
2020-08-20 18:00:05.359 EDT GET500344 B27 msGoogle-Cloud-Scheduler https://generate-7ichwhq52q-uc.a.run.app/

[2020-08-20 22:46] juantopx commented on #876
EDT GET 403 msChrome 84 https://generate-7ichwhq52q-uc.a.run.app/
The request was not authenticated. Either allow unauthenticated invocations or set the proper Authorization header. Read more at https://cloud.google.com/run/docs/securing/authenticating

2020-08-20 18:45:00.289 EDTerror writing exposure record: unable to check for existing records
2020-08-20 18:45:00.291 EDTGET500344 B33 msGoogle-C

[2020-08-20 23:17] mikehelmick commented on #895
The token contains invalid number of segments error comes from the JWT parsing library.
https://github.com/dgrijalva/jwt-go/blob/master/parser.go#L99

I'm going to add an option to debug log the JWTs themselves that fail so that an operator could verify the issue.

[2020-08-20 23:30] mikehelmick commented on #876
Those are logs from the generate service - can you share logs from the export service.

[2020-08-21 00:21] juantopx commented on #876
Processing export batch 878 (root: "exposureKeyExport-PA", region: PA), max records per file 30000
Failed to create files for batch: creating export file 1 for batch 878: unable to get signer for key projects/aig-expo-dev-05/locations/us-central1/keyRings/export-signing/versions/1: KeyManager.NewSigner: failed to fetch public key: rpc error: code = InvalidArgument desc = Resource name 'projects/ai

[2020-08-21 00:25] mikehelmick commented on #876
Thanks - can you go into the cloud console and verify that key version exists?

https://console.cloud.google.com/security/kms

And if it does exist, the service account that the export service is running as must have permission to be a signer/verifier for that key

[2020-08-21 00:33] juantopx commented on #876
1 | Enabled | Elliptic Curve P-256 keySHA256 Digest | 8/4/20, 12:24 AM | Generated |   |  
-- | -- | -- | -- | -- | -- | --

[2020-08-21 00:49] mikehelmick commented on #876
in that case it is most likely that the service account does not have permissions to access the key.

This is the permission that is needed.

If you used the terraform to set this up, the service account should begin with `en-export-sa@`

[2020-08-21 01:10] juantopx commented on #876
en-export-invoker-sa@*******************.gserviceaccount.com

Now assign ROLE for Verify and Read

[2020-08-21 02:45] juantopx commented on #876
2020-08-20 22:40:00.996 EDT GET200235 B69 msGoogle-Cloud-Scheduler https://export-7ichwhq52q-uc.a.run.app/create-batches
2020-08-20 22:41:01.079 EDT Processing export batch 908 (root: "exposureKeyExport-PA", region: PA), max records per file 30000
2020-08-20 22:41:01.090 EDT No records for export batch 908
2020-08-20 22:41:01.262 EDT Wrote index file "exposureKeyExport-PA/index.txt" with 0 entries

[2020-08-21 03:45] mikehelmick commented on #876
Did you add more records in the export table first?

You can delete / recreate batches if you delete all records from the exportbatch table.

[2020-08-21 03:50] juantopx commented on #876
Yes, always clear table exposure , exportbatch and create 1 or 2 POSITIVE RESULTS from 2 diferent devices

[2020-08-21 15:17] sherifkozman opened #899 "random connection errors between Cloud Run and Cloud SQL during exposure submission"
We started noticing random connection errors during checking keys or inserting keys into CloudSQL
![image](https://user-images.githubusercontent.com/666788/90906392-7669f600-e386-11ea-9b57-584764143d0b.png)

[2020-08-21 17:25] mikehelmick opened #903 "More specific errors on certificate failures"
Currently all verification certificate issues result in the same error code, 'health_authority_verification_certificate_invalid'

Change this to be more specific

/kind enhancement

[2020-08-21 18:46] mikehelmick opened #905 "validate symptom onset interval"
### TL;DR

currently we accept anything and calculate the magnitude.

symptom onset should never be in the future

and keys w/ a days from magnitude should be dropped

[2020-08-21 19:01] #899 closed, assigned to nobody

[2020-08-24 15:47] gurayAlsac commented on #876
Generating a bug report might help us debug further. The initial issue
(creating batch files) seems resolved.

Would you be able to work with your Partner Developer Relations contact to
troubleshoot this issue?

On Sat, Aug 22, 2020 at 1:05 PM Juan Benavides <notifications@github.com>
wrote:

[2020-08-24 16:24] mikehelmick opened #911 "Accept JWKS URIs for Health Authority Keys"
### TL;DR

After https://github.com/google/exposure-notifications-verification-server/issues/93 is complete.

Implement the ability for health authority signing keys to be accepted via JWKS URI instead of through configuration in the admin console / database

### Design

**Proposal**

* Add another field to `HealthAuthority` for the JWKS URI
* Add a periodic refresh for all HealthAuthorities that

[2020-08-24 16:41] mikehelmick opened #913 "Add destroy key version to keys.SigningKeyManagement"
The interface currently supports key version creation and key version list.

/kind enhancement

[2020-08-24 16:42] mikehelmick opened #914 "keys.InMemory should implement keys.SigningKeyManagement"
/kind enhancement

[2020-08-24 16:43] mikehelmick opened #915 "keys.HashiCorpVault should implement keys.SigningKeyManagement"
/kind enhancement

[2020-08-24 16:43] mikehelmick opened #916 "keys.AWSKMS should implement keys.SigningKeyManagement"
/kind enhancement

[2020-08-24 16:45] mikehelmick opened #917 "keys.AzureKeyVault should implement keys.SigningKeyManagement"
/kind enhancement

[2020-08-24 17:11] MushuEE commented on #243
Finally have time to try and tackle this.
Background for future me/others:

We use a postgres:12-alpine container to create the local integration/e2e test database. This is then populated in the test.

Plan is to pre-populate the database via either a standalone script or the test (I think I might want a standalone script to make the process more flexible and re-usable -if we want to increase / de

[2020-08-24 19:01] sethvargo commented on #913
/assign

[2020-08-24 19:01] sethvargo commented on #914
/assign

[2020-08-24 19:02] sethvargo commented on #915
/assign

[2020-08-24 19:02] sethvargo commented on #916
/assign

[2020-08-24 19:02] sethvargo commented on #917
/assign

[2020-08-26 19:55] mikehelmick commented on #905
acceptable range is -14::+14 days

[2020-08-26 22:30] mikehelmick commented on #905
/assign

[2020-08-27 08:13] marekaf opened #922 "retry logic for SQL transactions"
Hi,
we are experiencing a lot of 4xx (404, 401) from mobile app / curl clients on key uploads in the past weeks

Client is getting in about 50% of the cases:
[code]
Eventually it always ends up with a 200 success, but the error rate is very high.

with very minimal load (15 db connections maximum)

server is logging these
[code]

Even though it looks like some network between Cloud Run and CloudSQ

[2020-08-27 14:09] mikehelmick commented on #922
Can you either update past [this commit](https://github.com/google/exposure-notifications-server/commit/f9f169285e7aa0e9da09a7110b0a695a340ab929) or set `DB_POOL_HEALTH_CHECK_PERIOD` to `1m` on your services?

We believe this should precent the connection resets.

[2020-08-27 14:32] sethvargo commented on #913
Okay this is done now.

[2020-08-27 14:32] #913 closed

[2020-08-27 17:28] marekaf commented on #922
I'll try to set the ENV var. Thanks for the quick response!

[2020-08-27 18:16] sherifkozman opened #925 "Health Authority with multiple Keys returning only the value of the last key when verifying a certificate"
### TL;DR
Health Authority with multiple Keys returning only the value of the last key when verifying a certificate

**Expected behavior**
Multiple Keys are added to the same health authority corresponding to multiple verification servers, it is expected when verifying a certificate that is issued through one verification server that the response from the key server would match that server

**Obse

[2020-08-27 18:28] sherifkozman commented on #925
@mikehelmick The issue seems to be originating from the verification server so will move the issue there

[2020-08-27 18:28] #925 closed

[2020-08-27 22:30] mikehelmick commented on #922
looks like there are 2 items that need to be set

https://github.com/google/exposure-notifications-server/commit/b1c4a0d9e3db0091a2246360c11af56a7ec18a2c

[2020-08-27 22:43] mikehelmick commented on #922
see that commit, you can set those manually or upgrade and get the defaults

[2020-08-28 00:39] mikehelmick opened #928 "Proposal: Key Sever Migration Support"
### TL;DR

For various reasons, some jurisdictions that have launched exposure notifications systems would like to change servers (usually to merge with neighboring jurisdictions).

We make a couple of assumptions / state some facts

1. The severs are not able to share export signing keys

1. It is not possible for there to be 2 active export signing keys for an application and that active signing

[2020-08-28 16:08] sethvargo opened #929 "Include git SHA/tag in builds and logs"
When debugging things, it'd be helpful to know _which_ version of the code a log corresponds to. We can use build tags and the namespaced logger to always include this information.

/assign

[2020-08-28 16:56] mikehelmick commented on #929
+1 - would be great.

[2020-08-28 16:56] mikehelmick commented on #922
We cut release v0.5.1 that contains all of these settings as default.

Please let us know if this is still occurring after you’ve updated past that point. Thanks!

[2020-08-28 17:00] mikehelmick opened #930 "Check routing"
We have a report that on the exposure service

`/` serves v1alpha1
`/v1/publish` serves v1
`/v1/publish/` serves v1alpha1

/kind bug

[2020-08-28 20:22] gurayAlsac commented on #928
If constraint 1 can be relaxed somewhat and both export servers can use a temporary manually managed (http://cloud/kms/docs/importing-a-key) transition key, that might trade the complexity of the proxy server for one additional key rotation and two-way federation. Perhaps not a huge win in terms of complexity, but might be less code needing to get written.

[2020-08-29 00:12] icco commented on #930
What's the proper functionality here?

[2020-08-29 00:29] mikehelmick commented on #930
I think that `/v1/publish/` should 404

[2020-08-29 02:30] icco commented on #881
We have `/health` on all of the binaries of the verification server for this cause.

[2020-08-30 20:45] besingamkb opened #932 "Error on terraform apply on vpcaccess.googleapis.com service"
### Question

I am trying to deploy exposure server on our own gcp account. I am pretty new to gcp and terraform. And I got stuck on the error after I execute `terraform apply`. Our gcp account have been enabled billing. And I have follow every steps from the <a href="https://google.github.io/exposure-notifications-server/getting-started/">official docs</a> and <a href="https://github.com/google/e

[2020-08-31 14:12] sethvargo commented on #932
Hi @besingamkb

My guess is that you're seeing that error because of the error above. It looks like you have uncommitted local changes in your repo, which is preventing the migrations from running.

[2020-08-31 14:46] #881 closed

[2020-08-31 16:52] #915 closed

[2020-08-31 18:31] #905 closed

[2020-08-31 21:20] besingamkb commented on #932
@sethvargo thanks i think it works. but I got a new error now.

`Error: Error creating Connector: googleapi: Error 409: Requested entity already exists`

[2020-08-31 21:26] sethvargo commented on #932
Hmm @besingamkb - did you ctrl+c or interrupt Terraform? That error is happening because the VPC connector already exists. You can try deleting it in the UI and re-running Terraform.

[2020-08-31 21:44] besingamkb commented on #932
hi @sethvargo i haven't interrupt terraform. can you point me out where should I go and delete it? because on my serverless VPC access overview page I dont see anything..

![Screenshot_325](https://user-images.githubusercontent.com/6380139/91771813-37556380-ec16-11ea-855d-b0b3e597fda3.png)

[2020-08-31 22:43] sethvargo commented on #932
Can you share the full error output? Are you sure you're in the correct GCP project?

[2020-08-31 23:16] besingamkb commented on #932
here is what I am getting now and yes I am on the same GCP project.

[code]

![Screenshot_326](https://user-images.githubusercontent.com/6380139/91777629-f748ad80-ec22-11ea-929b-806a0ee1eb04.png)

[2020-08-31 23:20] sethvargo commented on #932
Can you run with `TF_LOG=debug`, put the output in a gist, and paste the link here?

[2020-09-01 01:29] sethvargo commented on #685
@mikehelmick I think we can close this out?

[2020-09-01 03:07] mikehelmick commented on #685
yeah

/close

[2020-09-01 03:07] #685 closed

[2020-09-01 04:39] besingamkb commented on #932
sorry for late reply @sethvargo  i'll inform you later i just got an crash issue after I terminate a `terraform apply` using ctrl + c

[2020-09-01 09:05] #929 closed

[2020-09-01 13:49] sethvargo commented on #932
Can you please share the logs?

[2020-09-01 14:22] besingamkb commented on #932
Hi @sethvargo here is the log file you requested. https://gist.github.com/besingamkb/442c39ce0a614b86d3a3cc485bf6dd4a I ended up creating new project because of the crash I encounter on the previous project `aex-gaen-server-ph`. The new project name i created is  named `gaen-ph`

below is the history for the new created project on gcp.
[code]

[2020-09-01 15:41] sethvargo commented on #932
Hi @besingamkb

I don't see any errors or failures in that log output.

[2020-09-01 16:48] besingamkb commented on #932
@sethvargo i have updated the gist can u check again?. i'll try to change the TF_LOG=TRACE and see if it show more than debug

[2020-09-01 16:53] sethvargo commented on #932
I think your gist may be getting truncated. I only see 7k lines and none of them contain the `[ERR` string.

[2020-09-01 17:02] besingamkb commented on #932
@sethvargo oh yes here is the raw link of the log https://gist.githubusercontent.com/besingamkb/442c39ce0a614b86d3a3cc485bf6dd4a/raw/50c7d27f3ea463c605f00d870a4f0dbfc32fc342/gistfile1.txt

[2020-09-01 17:05] sethvargo commented on #932
Do you already have a network using `10.8.0.0/28` (or overlapping)?

[2020-09-01 17:09] besingamkb commented on #932
i dont think so but im not sure. I dont see any data on VPC Network > Serverless VPC Access. Should I create it manually?

[2020-09-01 17:17] Cutup195 opened #939 "Bitcoin"
### TL;DR

**Expected behavior**

**Observed behavior**

### Reproduction

1.  Went to ...
2.  Ran ...
3.  Clicked on ...

**Screenshots**

**Environment**

- OS:
- Browser:
- Version:

**Additional information**

[2020-09-01 17:18] Cutup195 opened #940 "d06af89fa4b3da70649dbd2e13783a9f457b280ba309c31a6198396b11e0bb44"
### TL;DR

### Design

**Proposal**

**Alternatives considered**

**Resources**

- [Link to documentation](TODO)

**Additional information**

[2020-09-01 17:18] #939 closed

[2020-09-01 17:21] #940 closed

[2020-09-01 17:22] sethvargo commented on #932
You can try creating it manually. I'm curious if you'll see the same error in the UI.

[2020-09-01 17:31] besingamkb commented on #932
I got this when creating it manually
![Screenshot_330](https://user-images.githubusercontent.com/6380139/91886484-fadc4300-ecbb-11ea-9602-762fb4785a39.png)

I also got the same error
[code]

[2020-09-01 17:34] sethvargo opened #941 "Upgrade to Go 1.15.1"
https://groups.google.com/g/golang-announce/c/8wqlSbkLdPs/m/UccMwBPUBAAJ

[2020-09-01 17:38] sethvargo commented on #932
Can you try deleting it from the UI now? I think your connector is in a partial state and I'm hoping deleting it from the UI deletes it. After that, wait about a minute before trying Terraform again.

[2020-09-01 17:53] besingamkb commented on #932
it still got the error. here's the updated raw terraform.log https://gist.githubusercontent.com/besingamkb/442c39ce0a614b86d3a3cc485bf6dd4a/raw/c702bb28e270565a2767113ba7d5517943f1d822/gistfile1.txt

do you think it might be the region? because I set the region in asia-east-1 and asia-east-2

[2020-09-01 18:00] besingamkb commented on #932
actually i tried change the `network_location` from asia-east-1 to asia-east-2. and I a different error now.

[code]

and I see this on the serverless VPC access page
![Screenshot_331](https://user-images.githubusercontent.com/6380139/91889262-22cda580-ecc0-11ea-95ce-713c400d03b3.png)

[2020-09-01 18:22] besingamkb commented on #932
@sethvargo actually i dont have an organization on my gcp account as of the moment

[2020-09-01 18:33] sethvargo commented on #932
Hmmm. I wonder if that's a requirement for VPC connectors. @mikehelmick do you know?

[2020-09-01 18:36] sethvargo commented on #941
/assign @jeremyfaller

Note: we'll need to wait for the official Docker containers _and_ Homebrew to be updated.

[2020-09-01 19:03] chaodaiG commented on #932
Sounds like related to the region, could you try `us-central1` instead?

[2020-09-01 19:55] besingamkb commented on #932
i tried creating new project again on gcp .. now I didnt change any region and I got this error..

[code]

[2020-09-01 19:58] sethvargo commented on #932
It's very possible that our configurations require an organization.

[2020-09-02 15:31] sethvargo commented on #941
Looks like the container is out, but Homebrew is waiting on https://github.com/Homebrew/homebrew-core/pull/60495  to be merge.d

[2020-09-03 11:24] marekaf opened #955 "generate service should be disabled in production?"
### Question
Hello 👋
Do I understand it correctly that `generate` service is being used only to generate sample exposure keys and thus should be disabled for production use?

Thanks!

[2020-09-03 13:18] sethvargo commented on #955
It's safe to run in production and adds more privacy preserving features to the system.

[2020-09-03 13:18] sethvargo commented on #955
/close

[2020-09-03 13:18] #955 closed

[2020-09-03 13:29] marekaf commented on #955
Do you mind adding that to the docs? Thanks.

[2020-09-03 13:41] sethvargo commented on #955
Hi @marekaf - can you point to the documentation that says this?

[2020-09-03 13:50] marekaf commented on #955
https://google.github.io/exposure-notifications-server/getting-started/deploying here's a
[code]

[2020-09-04 19:08] raghvenders opened #956 "Unable to Run Exposure Notification Service Locally"
Hi,
Based on the "exposure-notifications-server/blob/main/CONTRIBUTING.md" , when I try to run Exposure Notification Server locally , I am getting below error at step 5 while all the above steps looks success.

[code]

And Do we have any where option to see the list of services or endpoints available (Local End points)

Thanks,
Raghv

[2020-09-04 19:10] sethvargo commented on #956
Do you have the gcloud command line tool installed? That error seems to indicate you have a permissions issue.

[2020-09-04 20:18] raghvenders commented on #956
Thanks @sethvargo - I did gcloud installed and after i have had permission give ~/.config , permission related error is not coming.But still facing below
{"severity":"EMERGENCY","timestamp":"2020-09-04T15:02:03.627184-05:00","caller":"exposure/main.go:48","message":"setup.Setup: unable to connect to secret manager: secretmanager.NewClient: google: could not find default credentials. See https://de

[2020-09-04 20:40] raghvenders commented on #956
How About rather running as in-memory , do we really need one?

[2020-09-07 14:06] sethvargo commented on #956
You can use the local in-memory secret manager by setting `SECRET_MANAGER=IN_MEMORY` in your environment variables.

[2020-09-08 03:51] raghvenders commented on #956
Thanks Sethvargo.Able to run admin tools locally and configure exposure server.
By the way , i saw some changes around moving away from in memory KMS to fileSystem Issue #957 .Is that for local?

I am facing some issues around running v1/publish local yet which i am trying to make it work in local.

[2020-09-08 13:45] sethvargo commented on #956
Hi @raghvenders - yea that's for local dev. We strongly recommend using a managed key management system like Google Cloud KMS, AWS KMS, Azure KeyVault, or HashiCorp Vault in production.

For local development, the in-memory key manager has some issues because it loses state if the server is stopped. The filesystem key manager won't have these same issues, but it should not be used in production.

[2020-09-08 13:45] #956 closed

[2020-09-08 14:35] #914 closed

[2020-09-08 19:45] sethvargo commented on #749
This has been fixed.

[2020-09-08 19:45] #749 closed

[2020-09-08 19:46] sethvargo commented on #876
/clse

[2020-09-08 19:46] sethvargo commented on #876
/close

[2020-09-08 19:46] #876 closed

[2020-09-08 19:49] sethvargo commented on #882
Hi @georules

The original estimate was based on 0.01% infection rate. It should be trivial to adjust the numbers to higher or lower values based on locality and risk. The network, storage, and database are the largest cost, but only the network and storage scale linearly with use.

[2020-09-08 19:49] #882 closed

[2020-09-08 19:52] mikehelmick commented on #693
This is actually covered on the verification server: https://github.com/google/exposure-notifications-verification-server/issues/137

[2020-09-08 19:53] #693 closed

[2020-09-08 22:10] sethvargo commented on #884
/assign

[2020-09-08 22:17] sethvargo commented on #893
This all makes sense if the third bullet meant to say "fail because **AppB** doesn't hold the revision token for days -6 to -14". Is that correct @mikehelmick?

[2020-09-08 23:06] sethvargo commented on #893
/assign

[2020-09-08 23:24] mikehelmick commented on #893
The 3rd large bullet describes current behavior -the sub-bullet describes desired behavior

[2020-09-09 02:51] mikehelmick commented on #928
This plan needs to be revisited. The proposal with adding signature blocks will not work since the listed signatories is part of what is signed. We did a good job at preventing tampering.

It's on me to think of another plan

/assign

[2020-09-09 02:54] mikehelmick commented on #928
The current best path forward is

1) Enable bidirectional federation
2) Gradually shift users over to target server.

We could implement a second form of federation that works by importing export files. This would be easier to configure and maintain than the existing gRPC protocol.

[2020-09-09 08:44] marekaf opened #965 "EFGS Federation Gateway support"
Hello 👋
Do you plan on supporting EFGS project somehow? (open sourced [with docs here](https://github.com/eu-federation-gateway-service/efgs-federation-gateway/blob/master/docs/software-design-federation-gateway-service.md), [architecture spec here](https://ec.europa.eu/health/sites/health/files/ehealth/docs/mobileapps_interop_architecture_en.pdf))

Briefly, the project is described as
[code]

We

[2020-09-09 08:48] marekaf commented on #922
@mikehelmick thanks for the support, after setting everything you proposed, it seems like we stopped getting 4xx errors due to this healthcheck issue (we started getting them for different reason but that should be solved too). We'll be upgrading soon past the v0.5.1 so that should be resolved too.
Thanks again!

[2020-09-09 08:57] marekaf commented on #932
It works for us for a projects both inside and outside org (our prod is inside org, old dev is outside org for legacy reasons). I do remember having some troubles with it too when trying to bootstrap everything on one `terraform apply`. I think I had to apply everything, wait for this error, manually delete the connector and apply again (took 2-3 applies before it work), I suspect some weird depen

[2020-09-09 13:04] sethvargo commented on #922
/close

[2020-09-09 13:04] #922 closed

[2020-09-09 13:05] sethvargo commented on #932
I'm not sure the best path forward. I'm unable to reproduce this, and we haven't had other users report this, which leads me to believe it's some kind of configuration with your org or account.

[2020-09-09 13:19] sethvargo opened #966 "Padding is double-quoted"
[code]

/assign

[2020-09-09 13:33] sethvargo commented on #930
I've confirmed this behavior. Working on a fix.

/assign

[2020-09-09 13:51] sethvargo commented on #941
I think Jeremy is out this week, so I'll pick this up.

/assign

[2020-09-09 14:06] #941 closed

[2020-09-09 14:57] #966 closed

[2020-09-09 16:25] #930 closed

[2020-09-09 16:34] mikehelmick commented on #965
Hello -

We haven't had any requests yet to support this. If it is needed in your jurisdiction, it is something we can evaluate.

Let us know if this is a blocker for you and what kind of timeline would be needed.

[2020-09-09 16:46] gurayAlsac commented on #928
I suppose if its a single server A migrating to server B, server B can start including the SignatureInfo from server A but a dummy signature. Then the listed signatories could match during the transition. But if there are lots of A's migrating to a B that might be more challenging.

[2020-09-09 16:50] mikehelmick commented on #928
That's an interesting take. I think we need a code change at the server to support that, but it's possible. Thanks for the idea!

[2020-09-09 18:36] marekaf commented on #965
hi @mikehelmick
thanks for the answer,

There is a lot of European Union countries trying to implement this as soon as possible. We have integration/e2e testing scheduled in about 7-10 days, prod rollout before the end of month AFAIK.

Some countries are building their own key servers, we are trying to use upstream for as long as possible but this might force us to fork it. We are currently evalua

[2020-09-09 18:51] mikehelmick commented on #965
I'm don't think we can meet that timeline of having this production ready by the end of the month. The EFGS federation protocol is quite different from the one that we already implement for federation.

If you wanted to contribute code back to this repo to enable that, we would be available to review (it requires assigning copyright to Google and singing our Common Licensing Agreement).

I think t

[2020-09-09 19:13] marekaf commented on #965
I understand that. Honestly I don't understand the current federation implementation in key server - can't find proper docs for that. I'll try to dig into the code to see if we can reuse some of it or, as you say, reimplement it for EFGS.

 At least I know now for sure that it is not compatible with EFGS, not sure why they decided to go 'their way'.

I didn't expect you could re-prioritize this bu

[2020-09-10 01:29] #884 closed

[2020-09-10 02:41] besingamkb commented on #932
I am contacting my manager to get gsuite for organization. can we still open this issue i'll update once I got organization ready

[2020-09-10 16:38] mikehelmick commented on #717
/assign

Plan
- Deprecate the existing federation implementation.

- Implement an exporter-importer job that can read another system's export files

This is also in service of #928

[2020-09-10 17:11] sethvargo commented on #932
If you have a gsuite account, I believe you have to have an organization. It should be the domain for your gsuite account.

[2020-09-10 18:32] peetsasaki opened #974 ""internal error" returned for invalid TEK revision"
### TL;DR
Response body returned for invalid TEK revisions (e.g. positive -> negative) says "internal server error", but this is a client error.

**Expected behavior**

JSON returned something like:

[code]

**Observed behavior**
JSON returned:

[code]

### Reproduction
1. Upload some set of TEKs with a cert from the verification server, created using a code with testType = "confirmed".
2. Upload

[2020-09-10 20:48] sethvargo commented on #974
/assign

[2020-09-10 21:36] #893 closed

[2020-09-10 21:36] icco opened #977 "Replicate log based metrics in open census."
### TL;DR

We currently have a bunch of metrics that are exported as log metrics, lets move them to use the pkg/observability code.

### Design

**Proposal**

Where ever we are calling metrics.Write, also send to open census. Example places:

 - https://github.com/google/exposure-notifications-server/blob/702c0796ecf6ab1a6816aaa2dfe422fed39fce9d/internal/export/batcher.go#L86
 - https://github.com

[2020-09-10 22:33] #974 closed

[2020-09-10 23:57] sethvargo commented on #735
This is done!

[2020-09-10 23:57] #735 closed

[2020-09-10 23:58] sethvargo commented on #679
Is this a dupe of GH-911?

[2020-09-11 00:00] mikehelmick commented on #679
yes, it's a dupe

[2020-09-11 00:06] sethvargo commented on #679
/close

[2020-09-11 00:06] #679 closed

[2020-09-11 00:26] sethvargo commented on #916
In exploring this more today, AWS KMS does not support key versioning, making it incompatible with our current model: https://docs.aws.amazon.com/sdk-for-go/api/service/kms/#pkg-operations.

[2020-09-11 00:26] #916 closed

[2020-09-11 15:19] #917 closed

[2020-09-11 21:02] #977 closed

[2020-09-11 23:27] jendakol commented on #717
Hi @mikehelmick,
what does it mean to `Deprecate the existing federation implementation`? We're in CZ currently about to implement support for [European Federation Gateway Service](https://github.com/eu-federation-gateway-service/efgs-federation-gateway/blob/master/docs/software-design-federation-gateway-service.md) and the existing `Traveler` flag in both publish request and DB could be quite use

[2020-09-11 23:35] mikehelmick commented on #717
We have an existing gRPC based federation mechanism that was not updated as the protocol changed. That is what we plan to deprecate.

The traveler flag is not being removed.

#965 is an existing feature request for EFGS support.

We are currently working on a federation mechanism that can work without the source server having to implement anything, by using just the public export files from that s

[2020-09-12 02:35] mikehelmick commented on #717
The federation by means of importing export files won't work due to the data padding we employ.

This would create a potentially unbounded growth function, causing the generated data to be imported into primary storage and re-exported.

Instead, we will first update the existing gRPC interface to be compatible w/ v1.5

[2020-09-12 13:01] besingamkb commented on #932
i have tried this several times now. i'll keep trying i hope i got it work on my end too.

[2020-09-12 17:11] besingamkb commented on #932
i have made some progress here. what I did is I add `vpc_access_connector_max_throughput= 300` on `terraform.tfvars` that I have read here https://github.com/google/exposure-notifications-server/issues/639

It finally create a serverless VPC access that is not on the bad state and the error got different. please see below..

[code]

[2020-09-12 18:24] besingamkb commented on #932
it is working on my end now.

this works for me. adding this into the terraform.tfvars `vpc_access_connector_max_throughput= 300`

[2020-09-12 18:24] #932 closed

[2020-09-14 09:22] marekaf opened #987 "Stackdriver custom metrics do not appear in SD monitoring"
Hello 👋
We are currently using `v0.3.0` key server and I'd like to query `publish-exposures-written` metric from SD Metrics Explorer.
I have the default `OBSERVABILITY_EXPORTER=stackdriver` and in SD logs I see `"!METRIC! Type = publish-exposures-written cumulative = true" ...`, however these do not appear in SD metrics. Also, I see no error logs in trying to write to SD.

Any chance this is a bug

[2020-09-14 09:56] marekaf opened #988 "/healthz endpoint for exposure service"
Hi 👋

I need to prevent scaling to 0 / cold starts on exposure service.

AFAIK Cloud Run does not support this yet (but it is in the roadmap for GA) and the "recommended" way is a Cloud Scheduler workaround https://github.com/ahmetb/cloud-run-faq#how-to-keep-a-cloud-run-service-warm
I tried setting up Scheduler with HTTP trigger but it doesn't feel right to call `/v1/publish` endpoint. I'd rather

[2020-09-14 12:02] icco commented on #988
/health is implemented for this purpose. https://github.com/google/exposure-notifications-server/issues/881 was where this was requested and links to the pull request where it was implemented.

[2020-09-14 12:04] icco commented on #988
If it's missing or not working on any binaries, let us know, but should be good to go.

[2020-09-14 12:06] icco commented on #987
Yup! So a bunch of the metrics are fixed in the latest version, and the next release should have all of the metrics exported. See https://github.com/google/exposure-notifications-server/pull/984

[2020-09-14 12:06] #987 closed

[2020-09-14 17:07] mikehelmick commented on #928
Download resigning will not work because the list of signatories is part of what is signed. Adding another one will invalidate the signature.

Updated proposal

First - enhance federation to support v1.5 fields + revised keys. This is in progress.

Migration process will look like - moving from local server A to larger region B.

1. Enable federation from server A to server B.   - TEKs from server

[2020-09-14 17:53] mikehelmick commented on #988
re: preventing scaling to 0.

Can you elaborate on why?

[2020-09-14 18:29] marekaf commented on #988
@mikehelmick when it scales to 0, uploading exposure keys fails and needs to be retried on mobile app client. On a retry, new cloud run instance is already warmed up and can serve the upload request.

[2020-09-14 18:33] mikehelmick commented on #988
I've observed cold start times typically < 2 seconds.

What kind of timeout do you have on the client? How is this manifesting?

Want to see if theres any changes we should make in general.

[2020-09-14 18:42] marekaf commented on #988
I'll try to find out, I don't have access to the client, I'll ask the teams reponsible. Thanks!

[2020-09-14 20:45] MushuEE commented on #243
@chaodaiG I am not sure what the next step to take here is. I was not able to go far past 100k Publishers and cleanup time seemed to never be impacted. If we need many more publishers I might need to expand the memory space of the postgress because I start getting failures at high numbers and my only idea is there could be a space issue with say 200k Publishers

[2020-09-15 16:15] chaodaiG commented on #243
I think this either means the performance of cleanup is very great, or there were not enough exports generated. Could you try to log how many exports(exported files) were generated for 100k publishes?

[2020-09-15 16:23] MushuEE commented on #243
Sure, will do

[2020-09-16 00:08] georules commented on #928
It sounds like this solution requires a future release level of the `exposure-notifications-server` (referencing future v1.5 spec support).  Am I correct in this interpretation?

[2020-09-16 00:11] mikehelmick commented on #928
The server as a whole already supports v1.5+. The federationin and federationout servers need to be updated w/ such support. This is ~50% done and I can finish that work once all agree on this plan.

[2020-09-16 16:03] mikehelmick commented on #965
Note: The EFGS protocol is not compatible w/ v1.5 level exports and revised keys.

[2020-09-16 18:12] jeremyfaller opened #1001 "Add/Improve documentation for boostrapping"
### TL;DR

The learning curve for developers starting from scratch on this code is pretty high. Add more documentation to ease this. Things like:

- Getting started guide
- Required environment variables
- How to start the db, and seed it.

And if we're feeling adventurous, improve/revist the documentation for deploy similar to ENVS's docs.

### Design

**Proposal**

**Alternatives considered**

*

[2020-09-17 00:32] #797 closed

[2020-09-17 14:37] nmiodice commented on #930
*Not asking for a change here, just a curious reader*

Is there a reason to return 404 instead of publish the `v1` API @mikehelmick?

[2020-09-17 14:50] jeremyfaller opened #1004 "Update ENS to Go 1.15.2"
### TL;DR

1.15.2 contained a number of security fixes, and we should update.

[2020-09-17 15:06] mikehelmick commented on #930
This totally could go either way. I have a personal preference for being exact on things like this.

[2020-09-17 22:09] nmiodice opened #1007 "Export Analyzer tool always reports error"
### TL;DR
When running the export analyzer on an export file with zero errors, an error is reported and the exit status of the program is 1

[code]

I believe this is because a `multierror.Error` is always returned by the function.

**Expected behavior**
No errors should be reported and the exit status should be `0`

**Observed behavior**
Exit status was `1`

### Reproduction

*See above*

**Scree

[2020-09-17 22:25] #1007 closed

[2020-09-18 20:00] mikehelmick opened #1010 "signature info ordering"
* update .proto spec, signature block on export files, indicating "newest" signature should appear first in the block (both)
    * add limit to number of signatures that is allowed (10)
* update server to actually implement this
* add instructions to admin console. As soon as you make this key active, notify Google/Apple immediately

/kind enhancement

[2020-09-18 22:14] mikehelmick opened #1011 "log "healthAuthorityId" in publish logs"
this will help correlate failures back to the entity that is attempting to upload TEKs

[2020-09-21 13:53] #911 closed

[2020-09-21 21:21] mikehelmick commented on #1010
/assign

[2020-09-21 22:08] #1010 closed

[2020-09-23 15:27] icco commented on #988
@marekaf any updates?

[2020-09-23 15:29] icco opened #1023 "Add buildID metric"
The server should export a build ID metric regularly. We want a graph with the number of tasks for each build ID that are currently running.

[2020-09-23 16:13] sethvargo commented on #1023
It's global, so should be easy to grab from the `buildinfo` package.

[2020-09-23 17:05] marekaf commented on #988
Hi, we rolled out some detailed logging on the clients quite late, we had to create a hotfix using cloud scheduler to prevent scaling to zero so we have no way to test this now. Now as the hotfix is in place, we have no way to test this unfortunately. We'll bump the server version tomorrow. I think this can be closed for now.

[2020-09-23 18:19] jeremyfaller commented on #1011
Any particular error paths you want handled beyond the entry? Anything that would have made your life easier?

[2020-09-23 19:12] mikehelmick commented on #1011
A couple of points that come to mind

- https://github.com/google/exposure-notifications-server/blob/main/internal/publish/publish.go#L279

- https://github.com/google/exposure-notifications-server/blob/main/internal/publish/publish.go#L327

- https://github.com/google/exposure-notifications-server/blob/main/internal/publish/publish.go#L352

[2020-09-23 19:47] jeremyfaller commented on #903
Does this require a rev on the API version? (just asking...)

[2020-09-23 19:56] sethvargo commented on #903
We could change the error _message_ without revving the API. I think changing the code should rev the API though.

[2020-09-23 20:06] mikehelmick commented on #903
sorry - Seth is right on the intention here, keep the error code, but provide a more specific reason to the developer in the message

[2020-09-23 20:19] #1011 closed

[2020-09-23 20:28] jeremyfaller commented on #903
As I read the code, I only see codepaths that result in meaningful messages. Without any further info, I think this is obsolete.

(Note, I also read the blames on most of the files, and again, I don't see any recent changes that would be relevant. I don't think there's work to be done here unless you have noted examples for when this bit us.)

[2020-09-23 21:21] icco commented on #988
Ack.

[2020-09-23 21:21] #988 closed

[2020-09-23 21:37] mikehelmick commented on #903
thanks - I'll take a second look and see if I can jog my memory

[2020-09-23 21:37] icco commented on #1023
/assign @mylesdakan

[2020-09-24 01:03] sherifkozman opened #1028 "promote and deploy scripts might fail because of missing optional services"
The deploy and promote scripts might fail in case an optional service such as "debugger" was not provisioned as the default behaviour is SERVICES=ALL
The workaround is to specify services names manually in deploy and promote steps.

[2020-09-24 01:53] mikehelmick commented on #1028
I'll let @sethvargo comment, but II think this may be working as intended if not all services are enabled.

[2020-09-24 14:35] sethvargo commented on #1028
Hi @sherifkozman - I think you may be on an outdated version. The scripts haven't used `SERVICES` [since Sept 1](https://github.com/google/exposure-notifications-server/commit/67d574984d2200be48e0944f0a318048e855bb8d#diff-2cd5a769047cc97c38be7c1d885ea647). But yes, this is WAI.

[2020-09-24 14:35] #1028 closed

[2020-09-24 14:44] sherifkozman commented on #1028
@sethvargo i am on v0.9.2 and I was referring to deploy and promote not build unless I got the wrong.

[2020-09-24 14:46] sethvargo commented on #1028
None of the scripts accept `SERVICES` anymore.

[2020-09-24 15:07] #1004 closed

[2020-09-25 15:08] chaodaiG commented on #1023
/assign @mylesdakan

[2020-09-25 15:09] mylesdakan commented on #1023
/assign

[2020-09-25 17:03] chaodaiG opened #1033 "E2E test: export"
### TL;DR

E2E test only tests /publish endpoint so far, need to figure out a way of testing exports as well

https://testgrid.k8s.io/googleoss-en-server#e2e

[2020-09-25 17:03] chaodaiG commented on #1033
/assign

[2020-09-25 17:04] chaodaiG opened #1034 "E2E test: clean up"
### TL;DR

E2E test also test clean up endpoints

https://testgrid.k8s.io/googleoss-en-server#e2e

[2020-09-25 17:04] chaodaiG commented on #1034
/assign

[2020-09-25 17:49] day-jeff commented on #928
How does this work?

[2020-09-25 17:51] mikehelmick commented on #928
Most likely full copies would need to be downloaded and stored, correcting for the expected base path.

[2020-09-26 18:11] sethvargo opened #1036 "Bump latency alert for key-rotation and cleanup jobs"
For background jobs like key-rotation and cleanup, we need to increase the allowed latency before paging. Right now everything is at 2s, but it's fine that these background jobs take 15s+ in some cases. I think we only want the 2s response time on in-path request services.

/cc @yegle @icco

[2020-09-28 15:51] mikehelmick commented on #965
update - I'm have done a full review of the EFGS protocol and implementation.

I'm in communication with that team and working out what a compatibility model would look like

[2020-09-29 18:16] #1001 closed

[2020-09-29 22:45] #717 closed

[2020-09-30 15:16] jeremyfaller commented on #774
So, I've been doing some thinking about this. My conclusions are as follows:

1. As these endpoints will be hit daily by traveling users, we need to weigh the bandwidth costs of metadata vs just downloading. For some jurisdictions, (eg, let's say small island nations), it might make sense to not have much metadata at all, and just return the codes. I think it's important that whatever system, we s

[2020-10-01 15:14] grpandurangi opened #1046 "error while provisioning google_vpc_access_connector.connector"
Getting below error while creating google_vpc_access_connector.connector

Where is the agent getting created to provide editor role.

[code]

Releasing state lock. This may take a few moments...

[2020-10-01 15:19] sethvargo commented on #1046
xrefs: github.com/google/exposure-notifications-server/issues/639

[2020-10-01 15:21] sethvargo commented on #1046
Can you also try setting:

[code]

[2020-10-01 15:39] grpandurangi commented on #1046
It worked. Thank you so much.

On Thu, Oct 1, 2020 at 8:51 PM Seth Vargo <notifications@github.com> wrote:

[2020-10-01 17:06] grpandurangi opened #1047 "gcloud run deploy error --no-traffic error"
Getting below error when we run /scripts/deploy script.

[code]

[2020-10-01 17:28] #1046 closed

[2020-10-01 17:30] sethvargo commented on #1047
Hi @grpandurangi

This is expected. You need to deploy the services the first time using Terraform as we mentioned on the call. Then you can use the deployment and promotion scripts.

[2020-10-01 19:17] sethvargo commented on #903
I just took a run through and can't see anywhere. I think we did this as part of the api errors refactor.

/close

[2020-10-01 19:17] #903 closed

[2020-10-02 01:59] mikehelmick opened #1048 "idea: Implement encrypted exports"
### TL;DR

For use in the importing of export files from one server to another. Implement the ability to encrypt export files so they can be produced specifically for import purposes and not distributed to clients. This will allow them to be not padded.

### Design

**Proposal**

1. Server that will be doing the importing has an RSA asymmetric key
2. Public key is shared with server that will be g

[2020-10-02 02:01] mikehelmick commented on #928
Still to do

1. Terraform for export-importer job

2. Cloud rsync - mirror export files from one CDN to another

[2020-10-02 02:21] sethvargo commented on #1048
I worry that encrypting the exports sends a message that implies they are "secret" in some way. We've gone to extensive lengths to convince people that the data is not PII and not a secret. In this case, encryption is basically just some additional math over a PSK, so it's really only providing the same value as a high-entropy basic-auth.

As such, my vote (in order) would be:

- Do nothing and ac

[2020-10-02 05:53] yegle commented on #1023
/assign @yegle

[2020-10-02 11:53] grpandurangi commented on #1047
Thank you for your response Seth.

Terraform was successful and was able to provision the resources. After
that tried the perform build, deploy and promote. Build failed due to
save-cache.
After commenting that it was successful. However, deploy is failing with
error "--no-traffic not supported when creating a new service."

Regards,
Gururaj

On Thu, Oct 1, 2020 at 11:00 PM Seth Vargo <notificatio

[2020-10-05 13:12] grpandurangi commented on #1047
*Hi Seth,*

*Below is the error: *

*Step #2 - "save-cache": Already have image (with digest):
us-docker.pkg.dev/vargolabs/gcs-cacher/gcs-cacher:0.1
<http://us-docker.pkg.dev/vargolabs/gcs-cacher/gcs-cacher:0.1>*

*Step #9 - "build-export": Already have image: golang:1.15.2*

*Step #19 - "build-key-rotation": Already have image: golang:1.15.2*

*Step #15 - "build-federationout": Already have image

[2020-10-05 15:23] sethvargo commented on #1047
@grpandurangi did you create the cache bucket? Terraform normally does this. If not, it's `$PROJECT_ID-cloudbuild-cache`, replacing `$PROJECT_ID` with your project ID.

[2020-10-05 15:29] grpandurangi commented on #1047
Seth,

I tried several times . Only after disabling this below code, terraform
gets completed:

# - id: 'save-cache'
#   name: 'us-docker.pkg.dev/vargolabs/gcs-cacher/gcs-cacher:0.1'
#   args:
#   - '-bucket=${PROJECT_ID}-cloudbuild-cache'
#   - '-cache=go-{{ hashGlob "go.mod" }}'
#   - '-dir=/go/pkg'
#   waitFor:
#   - 'download-modules'

Also, TF creates the cache storage bucket.
[image: image.p

[2020-10-06 00:23] mikehelmick opened #1054 "Export config"
Add more options

* include all regions, but exclude a specific list
* only include non-travellers.

The existing setup works well for

* home country + travellers export

We need the ability to create a second export that represents

* foreign country non travelers

/kind enhancement

[2020-10-06 00:26] mikehelmick opened #1055 "Change default days since symptom onset handling"
Introduce an option to set a default days since symptom onset in the event that a day is unknown

the default should be 10.

/assign
/king enhancement

This is on
/hold
while we confirm parameters with clinical teams

[2020-10-06 20:42] #1055 closed

[2020-10-07 15:37] yegle commented on #1023
This should be fixed in https://github.com/google/exposure-notifications-verification-server/pull/731

[2020-10-07 15:42] #1023 closed

[2020-10-08 16:17] jeremyfaller commented on #1054
/assign

[2020-10-10 00:34] mikehelmick opened #1068 "admin console: add export-importer"
Add configuration for export-importer to admin console

/kind enhancement

[2020-10-10 00:34] mikehelmick opened #1069 "admin console: mirror"
add mirror configuration to admin console

/kind enhancement

[2020-10-13 14:05] sherifkozman commented on #965
@mikehelmick I see an open PR on the EFGS that is in review, any updates on that front?

[2020-10-13 17:17] mikehelmick opened #1073 "mirror: add unit tests"
1. Break apart the main HTTP handler into (at least) one testable function
2. add tests

/kind enhancement

[2020-10-13 21:10] #928 closed

[2020-10-14 21:00] #1054 closed

[2020-10-14 22:19] mikehelmick commented on #965
coding is in progress

[2020-10-14 22:20] mikehelmick commented on #1048
At the moment it doesn't appear we need this.
/close

can always come back to it if that matters.

[2020-10-14 22:20] #1048 closed

[2020-10-15 14:48] sethvargo commented on #1047
Can you add `- '-debug'` as an argument?

[2020-10-15 23:04] #1068 closed

[2020-10-15 23:17] mikehelmick commented on #965
/assign @whaught

Work tracking (list not currently complete

- [ ] efgs-upload model / config
- [ ] traveler fanout config
- [ ] efgs-upload job
- [ ] efgs-upload scheduler (terraform)
- [ ] efgs-download model/config
- [ ] efgs-download job
- [ ] efgs-download scheduler (Terraform)

[2020-10-16 10:05] #1047 closed

[2020-10-16 10:06] grpandurangi commented on #1047
I dont see the issue anymore.

[2020-10-16 15:38] demo-git-account opened #1087 "'migrate' container's image scan results findings"
@sethvargo as per our discussion earlier, we performed an image scan using [anchore-engine](https://github.com/anchore/anchore-engine) on 'migrate' container's image and found [this](https://nvd.nist.gov/vuln/detail/CVE-2020-7212#range-4498807) vulnerability within Python's util/url.py due to an inefficient algorithm.

[2020-10-16 17:59] jeremyfaller opened #1089 "Audit all uses of `time.Truncate`"
### TL;DR

https://github.com/google/exposure-notifications-verification-server/issues/819

The linked bug was found in the verification server, and it's likely it exists through this code base. Audit all uses of time's Truncate, and make sure we aren't a full day behind.

[2020-10-16 18:15] mikehelmick commented on #965
Thinking about this a bit more - if we upload only valid keys ( and not export padding), the EFGS re-publishing will leak our padding. I think we need

1. persist the export padding to the database
2. publish the same keys that are present in export files on a similar cadence as the upload batches

[2020-10-16 19:58] sethvargo commented on #1087
Hi @demo-git-account - I just ran the scan on the latest migrate container and confirmed no vulnerabilities were found:

[code]

I also confirmed that we do not have python installed on the image, so I'm not sure how that vulnerability was surfaced. Please make sure you're checking against one of the latest images that are built.

[2020-10-16 19:58] #1087 closed

[2020-10-17 00:39] #1033 closed

[2020-10-19 15:36] #1089 closed

[2020-10-19 16:52] MushuEE commented on #243
I believe this is verified. I ran a number of tests with up to 400,000 publishers or 5.6mil keys. This required me to change the export config timeout and max records:
[code]
But the clean up time was not impacted much, only varying a slightly between runs of 100k, 200k, and 400k publishers being exported. The previous changes reduced the load time and it does not take more than 5 minutes for the

[2020-10-19 16:52] #243 closed

[2020-10-22 01:58] mikehelmick opened #1102 "Prefer user provided symptom date over verification certificate"
### TL;DR

Related to https://github.com/google/exposure-notifications-verification-server/issues/882

If a symptom onset date is provided in the publish request, prefer that over the certificate provided one.

### Design

reverse the if statement...

/kind enhancement
/assign

[2020-10-22 20:13] slagise opened #1105 "Is there a way to reset the key server"
### Question

Is there a way to reset the exports? I tried deleting the archives but the new export index file had the records of the older deleted archives. Is there a way to reset the whole export server? If not, what is the best way to handle this scenario. We recently had to changed the public key without setting the older one to expire, and the matching isn't working properly. I don't mind lo

[2020-10-22 21:00] mikehelmick commented on #1105
If you delete the record from the `exportbatch` and `exportfile` tables - the export job should re-create them, signed with the new private key.

[2020-10-22 21:26] mikehelmick commented on #1105
/assign
/close

Please reopen if this doesn't solve the issue for you.

[2020-10-22 21:26] #1105 closed

[2020-10-22 21:29] #1102 closed

[2020-10-23 23:47] mikehelmick opened #1111 "missing revision token"
### TL;DR

In this scenario, the revision token is not returned, but should be.

1) TEKs are shared, revision token returned
2) TEKs are shared again on the same day, but device is not releasing same day keys, publish again

**Expected behavior**

Revision token is same was it was on the input (or trimmed for aged out TEKs)

**Observed behavior**

Nothing returned

/assign

[2020-10-24 00:10] #1111 closed

[2020-10-25 17:24] hadassah-jade opened #1113 "Please implement for South Carolina"
### TL;DR

### Design

**Proposal**

**Alternatives considered**

**Resources**

- [Link to documentation](TODO)

**Additional information**

[2020-10-25 17:57] mikehelmick commented on #1113
Hello -

It is up to each local public health authority to decide to deploy this system or not.

Please contact the department of health in our state to request exposure notifications.

/close

[2020-10-25 17:57] #1113 closed

[2020-10-29 03:19] mikehelmick opened #1121 "Verification certificate aud not checked"
### TL;DR

The issuer is currently checked, but the audience is not.
Given the tight configurations, this is unlikely to cause an issue, but should be fixed for correctness.

/assign

[2020-10-29 20:52] mikehelmick opened #1126 "Change FEATURE_FAIL_ON_CERTIFICATE_AUDIENCE_MISMATCH to default true"
Must be done after v0.15.1 is cut and appear in v0.16

[2020-10-29 20:53] mikehelmick commented on #1126
/kind enhancement
/assign

[2020-10-29 20:53] mikehelmick opened #1127 "Remove FEATURE_FAIL_ON_CERTIFICATE_AUDIENCE_MISMATCH"
Must be done after v0.16 release, targeting v0.17

/kind enhancement
/assign

[2020-10-29 20:55] #1121 closed

[2020-10-30 01:34] mikehelmick opened #1129 "JWKS update files on subsequent loads"
### TL;DR

JWKS update works first time, but returns 500s on second update

**Expected behavior**

Most of the time JWKS data doesn't change.

**Observed behavior**

[code]

### Reproduction

configure a HA w/ a JWKS URI
run service twice

[2020-10-30 16:41] mikehelmick commented on #965
Quick update for the community.

This work is currently on hold as we assess global roaming solutions.

[2020-10-30 18:30] #1129 closed

[2020-11-02 05:29] chaodaiG commented on #1034
If was done in https://github.com/google/exposure-notifications-server/pull/1071

/close

[2020-11-02 05:29] #1034 closed

[2020-11-02 05:30] chaodaiG commented on #723
Done in https://github.com/google/exposure-notifications-server/pull/948

/close

[2020-11-02 05:30] #723 closed

[2020-11-02 05:31] chaodaiG commented on #727
Done in https://github.com/google/exposure-notifications-server/pull/995

/close

[2020-11-02 05:31] #727 closed

[2020-11-02 05:32] chaodaiG opened #1132 "Performance test is flaky"
### TL;DR

Performance test has been failing intermittently, with error:

[code]

It doesn't fail every time

**Expected behavior**

Performance test passes consistently

**Observed behavior**

### Reproduction

See https://k8s-testgrid.appspot.com/googleoss-en-server#performance

[2020-11-02 05:33] chaodaiG commented on #1132
@MushuEE , interested in taking this?

[2020-11-02 14:52] sethvargo commented on #1132
From those numbers, it looks like we either need to tune the parameters or just wait longer.

[2020-11-02 16:12] mikehelmick commented on #1132
I recently made changes to export that would negatively imapct performance

[2020-11-02 16:21] chaodaiG commented on #1132
So this might be the cause for this flakiness. And the mako graph does show the performance degradation, note the moving average change around Oct 30th:

![Screen Shot 2020-11-02 at 8 20 32 AM](https://user-images.githubusercontent.com/45011425/97891968-4aeb7c00-1ce4-11eb-8900-29352c999dcc.png)

Link for the dashboard:
https://mako.dev/benchmark?benchmark_key=4790091207671808

[2020-11-02 17:01] mikehelmick commented on #1132
we need to adjust expectations - the generated data is persisted to the DB, so there are now database write transactions in the critical path

[2020-11-02 17:20] MushuEE commented on #1132
If we have acceptable limits, I don't mind updating to enforce. Both increasing the number of retry and
[code]
Increasing MaxRecords seemed to help when seeing similar behavior previously.
/assign

[2020-11-02 20:03] bschlaman opened #1134 "Exportimporter leaves importfiles OPEN or PENDING"
### TL;DR
If an importfile is unable to be ingested by exportimporter (due to incorrect formatting of export url, etc), it sometimes remains in "PENDING" status instead of failing.

**Expected behavior**
Import should fail after X number of tries.

**Observed behavior**
Importfile left in PENDING status.

@mikehelmick

[2020-11-02 21:13] bschlaman opened #1135 "Trailing slash on export_root"
### TL;DR
Exportimporter does not add a "/" in between export_root and export filepath if one is missing when importing the exportfiles.

**Expected behavior**
Exportimporter should check if a "/" is included in the paths listed in an index.txt file, and if one is not there, add it on to the export_root before importing exports.

**Observed behavior**
Exportimporter will append whatever is in the

[2020-11-05 17:40] mikehelmick opened #1140 "Export worker failing to complete batches"
### TL;DR
The persisting of export generation is failing to complete batches in some cases

[code]

/assign
/priority important-soon

[2020-11-05 17:45] #1135 closed

[2020-11-05 19:52] #1140 closed

[2020-11-06 16:35] mikehelmick commented on #965
/close

We are not able to proceed with this work at this time. We will revisit in the future if this work becomes feasible.

[2020-11-06 16:35] #965 closed

[2020-11-06 17:08] mikehelmick opened #1146 "remove EFGS DB columns"
defer this one release to allow for smooth migration.

/assign

[2020-11-06 17:16] #1126 closed

[2020-11-06 18:08] mikehelmick commented on #1134
/assign

my plan is to retry a file as long as it appears in the index.txt file - when it drops out of there, we'll move it to failed.

will also add a retry count, so an operator could see this

[2020-11-06 20:28] jeremyfaller commented on #1134
yoink

[2020-11-06 22:10] mikehelmick opened #1148 "export cleanup should regenerate index.txt"
### TL;DR

When the cleanup job runs, it deletes from the database, and then removes from storage old files.

Those old files continue to appear in the index.txt until the next export runs.

**Expected behavior**

All files that appear in index.txt are not deleted by our application.

**Suggested fixes**

2 possible fixes.

1) determine which files are to be deleted. regnerate the index.txt file w

[2020-11-09 22:19] mikehelmick opened #1152 "export-importer doesn't handle nested paths"
### TL;DR

If the index.txt file is at

https://cdn.example.com/folder/region-us/index.txt
and the root is
https://cdn.example.com/folder/

with relative paths  like "region-us/a.zip"

This will generate filenames like

https://cdn.example.com/folder/folder/region-us/index.txt

/assign

[2020-11-09 22:37] #1152 closed

[2020-11-10 17:51] mikehelmick opened #1155 "Return JSON response bodies on Chaff requests"
### TL;DR

The go-chaff library already supports this
  https://github.com/mikehelmick/go-chaff/blob/main/json.go

Use this to respond w/ properly formed JSON based on the request being chaffed - for our APIs, this really just means having a `padding` key in the JSON object.

REMEMBER - the size of the random data will need to be reduced as base 64 encoding will cause ~33% size increase.

/priorit

[2020-11-10 21:33] jeremyfaller commented on #1155
This requires changes to the chaff library, and the person who does it should make sure to do both.

Yoink.

[2020-11-10 22:20] sethvargo commented on #1155
Do you know which changes need to be made?

[2020-11-11 14:58] alexgarzao opened #1156 "How can I update a SVG file based on a diagram file?"
Hello! I'm using this project to learn more about architecture, golang, gRPC, protobuf, and so on.

There are a lot of amazing diagrams [here](https://github.com/google/exposure-notifications-server/tree/main/docs/diagrams). It seems that was used something like [that](https://github.com/blushft/go-diagrams), but I'm not sure about that.

When is necessary to change a diagram file, how you update

[2020-11-11 16:00] mikehelmick commented on #1156
the .diagram files are turned into SCV with a special version of https://graphviz.org/
The version we are using is internal to Google only.

/close

[2020-11-11 16:00] #1156 closed

[2020-11-11 16:48] yegle commented on #1036
/assign @yegle

[2020-11-11 16:56] yegle opened #1157 "Migrate key server to use gorm"
It looks like in the key server we are using github.com/jackc/pgx directly, instead of its database/sql compatible layer. There's no way to plug-in the OpenCensus SQL instrumentation code (https://pkg.go.dev/contrib.go.opencensus.io/integrations/ocsql/).

We should consider moving to gorm to allow adding OpenCensus instrumentation code.

[2020-11-11 16:58] mikehelmick commented on #1157
I view this as too risky a change at this point

[2020-11-11 21:02] #1155 closed

[2020-11-11 23:21] #138 closed

[2020-11-12 15:02] jeremyfaller commented on #1148
As I think about this, method (2) seems more correct than method (1), which seems to me to have a race condition. That race condition is:

- Client downloads index file.
- Client begins downloading files.
- Cleanup job is triggered, causing the some of the files to be deleted.
- Client tries to download a file that's been deleted, triggering an error.

Strategy (2) doesn't completely eliminate thi

[2020-11-12 16:04] sethvargo commented on #1157
I explored this recently and completely agree with Mike. The change is incredibly invasive and error-prone.

[2020-11-12 16:07] mikehelmick commented on #1157
Going to close this for now

/close

[2020-11-12 16:07] #1157 closed

[2020-11-12 19:36] mikehelmick commented on #1148
agreed - the mark and seep is a better approach
latency between the two doesn't have to be long - O(hours)

[2020-11-13 04:00] mikehelmick opened #1164 "mirror filename rewrite"
Allow for the mirror service to rewrite filenames into different patterns.

/assign

[2020-11-13 04:52] mikehelmick commented on #1164
quick design sketch

1) Add optional filename rewrite pattern to mirror config
    support some expansion patterns like [timestamp] and [uuid]
2) add column to mirrorfile to indicate what the re-written filename is (needed for index building)

[2020-11-16 00:57] #1164 closed

[2020-11-16 19:29] #1146 closed

[2020-11-17 21:12] #1134 closed

[2020-11-19 16:30] sethvargo commented on #1036
/close

done in #1139

[2020-11-19 16:30] #1036 closed

[2020-11-20 16:18] mikehelmick opened #1178 "add maintenance mode"
### TL;DR

Allow for servers to be put in maintenance mode - stopping mutating requests during that period.

/assign
/kind enhancement

[2020-11-20 18:41] #1178 closed

[2020-11-21 04:39] mikehelmick opened #1184 "clean up export generation, batch numbering"
### TL;DR

Clean up the code from the emergency patches

/kind enhancement
/assign

[2020-11-21 16:13] mikehelmick opened #1185 "Write guide to index file processing"
/assign

[2020-11-21 16:30] #1069 closed

[2020-11-21 16:38] #1127 closed

[2020-11-24 23:04] bschlaman opened #1192 "Allow export-analyzer to ingest multiple files"
### TL;DR
Currently, export-analyzer can analyze one file at a time.  When having to analyze all exports of a key server, it would save a ton of time to call the tool once as opposed to once per zip.

### Design

**Proposal**
Create a new flag like "--files" for a comma separated list, or "--zips-location" to point to a directory wherein the zips reside.  Then the tool would ingest all files and o

[2020-11-25 16:00] #1192 closed

[2020-11-25 16:00] mikehelmick commented on #1192
@bschlaman - if there is a specific use case that we can help solve as well, let us know

[2020-11-25 17:11] #1148 closed

[2020-11-25 17:28] vranystepan opened #1194 "hard-coded database name in v0.17.0"
### TL;DR

During the upgrade process, we discovered quite a big drift caused by the changed database name
https://github.com/google/exposure-notifications-server/blob/v0.17.0/terraform/database.tf#L105

**Expected behavior**

in previous versions, we were able to supply database name in variables

**Observed behavior**

DB name is hard-coded to `key` so it's causing replacement of database.

###

[2020-11-25 17:39] vranystepan commented on #1194
same for db user https://github.com/google/exposure-notifications-server/commit/75d0423e5dbee413f75e60737cc9cca9329fd5c2#diff-e74570c17a49307ad3a889df543757969e5b0234b8e255bce28c2380033eb24eL89

I might submit PR once I'm done with the upgrade of our infrastructure :)

[2020-11-25 17:45] sethvargo commented on #1194
Note there's a difference between the database name and the database _instance_ name. We needed to remove the database _instance_ name to allow Terraform to properly manage multiple Cloud SQL instances and to support read-only replicas.

The name of the actual database itself (in postgres) was never customizable via a variable. We needed to change it to accommodate some upcoming changes.

We'd acc

[2020-11-25 17:45] #1194 closed

[2020-12-01 20:32] mikehelmick opened #1202 "Integration tests - test large / split batches"
The integration tests currently don't have coverage over large batches / split batches.

[2020-12-01 23:54] #1185 closed

[2020-12-02 01:04] sethvargo commented on #1202
@chaodaiG do you have any bandwidth to work on this?

[2020-12-02 01:24] chaodaiG commented on #1202
I'll give it a stab. By looking at the title, this means testing exporting batches from various time points, is this correct?

/assign

[2020-12-02 01:26] mikehelmick commented on #1202
for large: I think that can be a unit test - but it means injecting a bunch of data and generating an export

for splitting: It means having enough TEKs that it causes the batch to be split into 2 files (Which can be made artificially low through settings)

[2020-12-03 15:40] sethvargo commented on #1184
@mikehelmick which code specifically do you want to cleanup? We reverted mostly everything, right?

[2020-12-03 16:31] mikehelmick commented on #1184
I'll send a PR today

[2020-12-03 17:48] #774 closed

[2020-12-03 17:49] mikehelmick commented on #774
we may revisit this in the future

[2020-12-04 03:24] #1184 closed

[2020-12-04 05:52] #1202 closed

[2020-12-04 16:18] #1073 closed

[2020-12-04 22:45] sethvargo commented on #751
This seems to have been fixed as the file in question no longer exists and I can't find dupe code anymore.

[2020-12-04 22:45] #751 closed

[2020-12-07 19:50] bschlaman opened #1213 "Kubernetes pods only get auth token on startup"
### TL;DR
For the azure driver, Pods only get authentication token at startup.  This means that if the pod is not restarted for a long stretch of time, the token will expire after 60 days, causing the pod to fail requests to storage, etc.

**Expected behavior**
Get authentication token for every call, or at some more frequent interval.

**Observed behavior**
Auth token only refreshed only upon sta

[2020-12-07 19:50] bschlaman commented on #1213
cc: @jpflueger

[2020-12-07 19:51] bschlaman commented on #1213
/assign @mikehelmick

[2020-12-07 19:55] mikehelmick commented on #1213
is this across all services (key vault and storage) or just specific to storage?

[2020-12-07 19:58] bschlaman commented on #1213
I discovered the issue in storage - but I'm assuming this goes for key vault as well.  @jpflueger does that sound right?

[2020-12-07 19:59] sethvargo commented on #1213
We definitely don't want to do the auth token dance _every_ time. We use the standard Azure client libraries. IMO, those libraries should handle re-auth (that's how the Google ones work). Alternatively, schedule a pod restart every ~45 days?

@nmiodice or @jpflueger can you comment? If there's some flag we need to set on the client libraries to regularly refresh, let us know.

[2020-12-07 20:17] nmiodice commented on #1213
@sethvargo there is code in place to support a token refresh. See here for more info: https://github.com/google/exposure-notifications-server/blob/main/internal/storage/azure_blobstore.go#L48-L74. For Azure Storage, it is a little bit more manual than other services but the general pattern should suite our needs.

@bschlaman, it looks like based on the implementation, if a token refresh ever fails

[2020-12-07 20:46] bschlaman commented on #1213
Unfortunately this happened a while back, so I won't be able to check the logs

[2020-12-07 21:16] sethvargo commented on #1213
Thanks @nmiodice. It sounds like we might not need a code change here?

@bschlaman can you share more of the symptoms? Was this just a log message or was there legitimate production impact?

[2020-12-07 21:18] nmiodice commented on #1213
How long back? I don't have access to check the logs myself, but the retention should be at least 90 days, I think. It's been a while :).

@sethvargo & @bschlaman , IMO it is not a bad idea to not return `0` if the token refresh fails, otherwise the system will stop working correctly if the token refresh fails only one time.

[2020-12-07 21:44] mikehelmick opened #1214 "Allow max records on export to be configurable per-exportconfig"
### TL;DR

Allow max records to be overridden in the exportconfig

/assign

[2020-12-07 21:52] sethvargo commented on #1213
@nmiodice what is a better value to return? 30s or 5m?

[2020-12-07 23:36] #1214 closed

[2020-12-08 21:41] nmiodice commented on #1213
The values in https://github.com/google/exposure-notifications-server/pull/1218 are reasonable. A quick retry time is suitable since any token refresh failure should be transient

[2020-12-08 21:42] #1213 closed

[2020-12-09 18:42] mikehelmick opened #1219 "Change export service default config to 2G memory on Cloud Run"
### TL;DR

Extra overhead for large export batches.

/kind enhancement

[2020-12-09 19:59] #1219 closed

[2020-12-10 04:46] mikehelmick opened #1223 "Flaky test : export"
See
https://oss-prow.knative.dev/view/gs/oss-prow/pr-logs/pull/google_exposure-notifications-server/1221/pull-en-server-release-unit/1336815304650526720

[2020-12-10 04:48] mikehelmick commented on #1223
/assign

This is due to the new padding algorithm - I’ll adjust the test

[2020-12-10 16:52] #1223 closed

[2020-12-11 00:09] sethvargo opened #1229 "Backfill or reject missing data imported from other systems"
When importing data from other systems, we should either backfill missing data (e.g. symptom onset) or reject requests that don't have that data.

/assign @mikehelmick

[2020-12-11 23:15] #1229 closed

[2020-12-20 23:26] mikehelmick opened #1250 "Key server metrics for health authorities"
### TL;DR

Track metrics at the key server for later retrieval by the verification server.

/assign

[2021-01-05 23:31] #1250 closed

[2021-01-07 17:56] mikehelmick opened #1267 "allow for stats API disabled on a per HA ID"
/assign
/kind enhancement

[2021-01-07 18:08] mikehelmick opened #1268 "JWKS service error"
### TL;DR

[code]

[2021-01-07 19:30] #1268 closed

[2021-01-08 01:04] #1267 closed

[2021-01-08 16:08] sethvargo opened #1273 "Make admin console deployable"
### TL;DR
Run admin console as a Cloud Run service, only select users have invoker permissions.

[2021-01-11 18:17] mikehelmick opened #1279 "Increase test coverage to >= 85%"
### TL;DR

Increase test coverage, targeting 85%.

/kind enhancement

[2021-01-12 02:52] #1273 closed

[2021-01-15 19:43] mariliamelo opened #1295 "Update alert structure"
### TL;DR
Make sure that we have SLO based alerts and all critical user journeys are covered.

[2021-01-20 19:27] mikehelmick opened #1299 "JWKS updater - not revoking keys correctly"
### TL;DR

Keys that are no longer in the upstream publish attempt to revoke, but the DB isn't showing updates.

investigate + fix

/assign

[2021-01-20 22:21] #1299 closed

[2021-01-29 23:17] sherifkozman opened #1313 "Creating new verification key error"
### TL;DR
When adding a new Public verification key to an issues the following error occurs
"Error parsing new health authority key: unable to decode PEM block containing PUBLIC KEY"

**Expected behavior**
When copying the Key values created by the verification server including kid and public key, key should be added to issuer/

**Release version**
v0.20.0

[2021-01-29 23:19] sethvargo commented on #1313
Hi @sherifkozman

Sorry, I'm not sure I follow. Can you describe the steps you took, where you copied the key, where you pasted the key, and what you expected to happen? There are many kinds of "keys" in the system.

[2021-01-29 23:23] mikehelmick commented on #1313
Can you share the exact data that fails?

The preferred method for verification key sharing is to use the JWKS discovery.

[2021-01-29 23:23] mikehelmick commented on #1313
/assign

[2021-01-29 23:25] sherifkozman commented on #1313
From the Realm Settings over the Verification Server we copy the Verification certificate Key settings.
Those values are copied into the exposure key admin console manually into the verification keys
upon adding the Pasted key details the error occur.

@mikehelmick I would have used the JWKS method but there wasnt much info on which values to set in the documentation, specifically how to source th

[2021-01-29 23:27] mikehelmick commented on #1313
See the "view public key discovery" link on the verification server's signing key page

![image](https://user-images.githubusercontent.com/92319/106337608-7976e580-6246-11eb-9fc2-147b3f8494cb.png)

Any additional details you can provide on the error would be helpful

[2021-01-29 23:31] sherifkozman commented on #1313
@mikehelmick I used the URI from the public discovery link as advised.
I shared all steps we encountered but happy to share more if there is other places to look? would the error reflect in Logging ?

[2021-01-29 23:32] mikehelmick commented on #1313
yes, the error would show up in your logs.

without seeing the actual public key data - I can't possibly attempt to reproduce this.

[2021-01-29 23:42] mikehelmick commented on #1313
This does not impact v0.20.0, but is broken at head

[2021-01-29 23:55] #1313 closed

[2021-01-30 02:48] mikehelmick opened #1316 "export-import scheduler"
### TL;DR

found `ERROR: could not serialize access due to read/write dependencies among transactions (SQLSTATE 40001)`
in the logs

call site `exportimport/scheduler.go:51`

/assign

[2021-01-30 07:35] ryanwolcott321 opened #1318 "I realize I'm a public key, can someone please please give me a brief summary of what I'm capable of and how to produce it? Tia. Also I need a run down on tokens, creating and using. Thanks."
### Question

[2021-01-30 14:58] sethvargo commented on #1318
Hi @ryanwolcott321

Thank you for opening an issue. This is the [Exposure Notifications project](g.co/ens) repository. Do you have a specific question about exposure notifications?

[2021-01-30 15:26] mikehelmick commented on #1318
There are several places where asymmetric signing is used in this system. Which public key are you referring to.

The only tokens in this system are “revisionTokens” - please see the API documentation
   https://github.com/google/exposure-notifications-server/blob/716d93c62c2a3f0aa6da43ce79f21f57b7f91732/pkg/api/v1/exposure_types.go#L90

They are used by mobile clients - but created and validated

[2021-01-30 17:25] mikehelmick opened #1321 "check usages of isolation level of pgx.Serializable"
### TL;DR

audit usages of pgx.Serializable

lower to ReadCommitted if appropriate

[2021-01-30 17:32] #1316 closed

[2021-02-03 14:32] sethvargo opened #1328 "KMS keys can be in "PENDING_GENERATION" state during rotation"
While rare, we currently have a race condition when rotating keys. We create a new key via the API, but that does not guarantee the key _material_ is ready yet. For example, we have this error in our logs:

[code]

Reading the KMS API, key version generation happens in the background.

### Options

1. Update the key server KMS package to poll for the `READY` state when creating a new key version,

[2021-02-03 14:38] sethvargo commented on #1321
Done.

[2021-02-03 14:38] #1321 closed

[2021-02-03 14:39] sethvargo opened #1329 "Generate worker fails with key expiration window"
We sporadically get errors like this in logs:

[code]

It doesn't happen all the time, which makes me think we might be missing a `.UTC()` somewhere.

[2021-02-03 17:04] mikehelmick commented on #1329
/assign

[2021-02-03 22:38] #1329 closed

[2021-02-03 22:46] mikehelmick commented on #1328
working on this

[2021-02-03 23:01] #1132 closed

[2021-02-03 23:12] sethvargo commented on #1328
Oh whoops - I was working on this and just saw your comment.

[2021-02-03 23:18] #1328 closed

[2021-02-04 20:29] sethvargo commented on #1318
Hi @ryanwolcott321 - did you have any follow up questions?

[2021-02-05 16:53] #1318 closed

[2021-02-05 20:32] bschlaman opened #1348 "v1alpha API fails with new mux handler"
### TL;DR
Calls to exposure service /xxx are not handled by HandleV1Alpha1

**Expected behavior**
Calls like /publish should invoke the v1alpha handler

**Observed behavior**
Get a 404 response

### Reproduction
Hit key server exposure service with /xxx endpoint

**Additional information**
mux.NewRouter() matches "/" exactly, unlike http.NewServeMux() which is a catch-all

[2021-02-05 20:35] mikehelmick commented on #1348
Does this impact a production deployment?

[2021-02-05 20:35] mikehelmick commented on #1348
We're planning to make Mux routes more strict, not less strict (i.e. requiring POST method)

[2021-02-05 20:36] sethvargo commented on #1348
Also, this particular mux hasn't changed in a very long time...

[2021-02-05 20:39] bschlaman commented on #1348
This is due to the v0.21 switch to using gorilla/mux.  It handles path matching differently than the http.ServeMux - so a call to /publish will return a 404 where it previously would have been handled by v1alpha

[2021-02-05 20:43] bschlaman commented on #1348
The v1alpha path "/" will still work, but I believe some jurisdictions might be using weird paths

[2021-02-05 21:07] bschlaman commented on #1348
Scratch that - I don't see any evidence of paths other than "/" being used for v1alpha in production; this might be a case of a developers testing config being different from prod

[2021-02-05 21:09] #1348 closed

[2021-02-05 22:55] mariliamelo opened #1356 "Add e2e tests for key server"
### TL;DR
Add end to end tests on the Key server to verify all the core functionalities like uploading new keys, verifying the uploaded keys are available in export.

### Design

**Alternatives considered**
The current End to End test available on the verification server [link](https://github.com/google/exposure-notifications-verification-server/blob/main/internal/clients/e2e.go) tests uploading k

[2021-02-10 01:11] sethvargo commented on #1356
Like this? https://github.com/google/exposure-notifications-server/blob/main/internal/e2e/e2e_test.go

[2021-02-10 01:23] mikehelmick commented on #1356
I was thinking more of a deployable one like we have in verification.

The answer may be to make the verification one check for the keys that it uploads... later.

[2021-02-10 17:32] sethvargo commented on #1356
/assign

[2021-02-10 21:23] jendakol opened #1370 "Misleading error message"
Hello,
I believe there is a very misleading typo in error message in the [`exposure_model.go`](https://github.com/google/exposure-notifications-server/blob/release-0.9/internal/publish/model/exposure_model.go#L318): the comment says that it must be greater or equal to N, but the code considers the equality bad and it doesn't pass.
It results in messages like this:
[code]

Thanks for fixing.

[2021-02-10 21:28] mikehelmick commented on #1370
/assign

[2021-02-10 21:53] #1370 closed

[2021-02-16 03:10] sethvargo opened #1380 "jwks service times out"
### TL;DR
The jwks service sporadically times out, likely when building the cache.

We should consider moving computation to be more frequent and in-parallel, serving stale data when the result isn't rebuilt in time.

[2021-02-16 03:15] sethvargo commented on #1380
https://github.com/google/exposure-notifications-server/blob/main/internal/jwks/jwks.go#L76

[2021-02-16 23:39] sethvargo opened #1386 "Upgrade to Go 1.16"
### TL;DR
Upgrade to Go 1.16

### Design

In addition to standard testing, there are two features we should make use of:

- `embed` directive to embed the HTML and locale assets inside binaries (dramatically simplifies our dockerfiles)
- replace signalcontext with signal.NotfiyContext

[2021-02-17 02:35] #1380 closed

[2021-02-17 14:55] sethvargo commented on #1386
ioutil is also deprecated: https://golang.org/pkg/io/ioutil

[2021-02-19 00:28] ryanwolcott321 opened #1393 "(6153184713/6158942097) watermelon ."
(6153184713/6158942097) watermelon .

_Originally posted by @ryanwolcott321 in https://github.com/google/neural-tangents/issues/103#issuecomment-781725936_

[2021-02-19 00:46] #1393 closed

[2021-02-19 01:46] sethvargo opened #1394 "Admin console needs crypto signer verifier"
/assign

[2021-02-25 05:25] #1394 closed

[2021-02-28 20:16] #1386 closed

[2021-03-01 19:52] mikehelmick opened #1410 "export forward progress alerting"
### TL;DR

Create a templated alert for
    https://github.com/google/exposure-notifications-server/blob/main/internal/export/metrics.go#L81

So that an operator can specify which of their export configs should be monitored

Example from dev

![image](https://user-images.githubusercontent.com/92319/109550577-55e0ce00-7a84-11eb-82a6-d660b88945d5.png)

Somewhat manual config - you'll need the region

[2021-03-01 20:03] mikehelmick opened #1411 "log based metrics for export file downloading"
### TL;DR

Create terraform template so operators can automate the creation log logs based metrics around index.txt downloads through Cloud CDN (applies only when operating on GCP).

The operator would need a list of these in their main.tf, i.e. a list of the URLs

metric type: counter
units: 1
The filter selection is

[code]

Label

iOS

![image](https://user-images.githubusercontent.com/92319/10

[2021-03-02 04:56] mariliamelo opened #1412 "Update status code for error generated from user requests"
### TL;DR
We are returning 500s for errors originated in the user requests. This should be updated to 400s.

### Design
This is currently happening in at least 2 points:

https://github.com/google/exposure-notifications-server/blob/02a136a7cf2f70f3d9f79ab6da44a72bbd9637e5/internal/publish/model/exposure_model.go#L340

https://github.com/google/exposure-notifications-server/blob/02a136a7cf2f70f3d9f

[2021-03-02 05:02] mikehelmick commented on #1412
For the revision token - if that fails we log an error, but don’t return an error code

https://github.com/google/exposure-notifications-server/blob/02a136a7cf2f70f3d9f79ab6da44a72bbd9637e5/internal/publish/publish.go#L454

[2021-03-02 05:05] mikehelmick commented on #1412
And for the first one - transform errors result in a bad request

https://github.com/google/exposure-notifications-server/blob/02a136a7cf2f70f3d9f79ab6da44a72bbd9637e5/internal/publish/publish.go#L358

[2021-03-02 07:57] mariliamelo opened #1414 "Add documentation about debugger"
We have no documentation about the debugger service. When and how should one use it?

[2021-03-02 08:05] mariliamelo commented on #1356
Seth and Mike, what have you decided about the e2e tests for the key server? Do we need a new e2e test or are we going to just use the one from verification?

[2021-03-02 12:31] sethvargo commented on #1356
I think we need to do this in the verification server, but I don't think we've decided on how yet.

[2021-03-02 15:49] #1414 closed

[2021-03-02 20:31] mikehelmick commented on #1412
I don't see where the AdjustAndValidate ever comes back to a 500 - it is a 400.

[2021-03-03 00:53] sethvargo commented on #1412
I think it's the logging of the error (not necessarily a 500): https://github.com/google/exposure-notifications-server/blob/02a136a7cf2f70f3d9f79ab6da44a72bbd9637e5/internal/federationin/federationin.go#L399

[2021-03-03 02:01] #1412 closed

[2021-03-03 18:09] mariliamelo opened #1422 "Remove uptime check on endpoints for export and federation"
After creating uptime checks for all hosts in the application we noticed that export and federation don't define health endpoints.

[2021-03-03 19:10] #1422 closed

[2021-03-03 20:13] mariliamelo opened #1424 "Document federation module support"
We aren't going to deprecate the federation module, although we don't pretend to use it in our servers. We should document the module isn't going to be supported as well.

[2021-03-03 23:19] mikehelmick opened #1426 "Disable v1alpha1 by default (allow for flag on still)"
### TL;DR

[2021-03-04 00:04] #1426 closed

[2021-03-04 00:07] #1424 closed

[2021-03-04 01:40] mikehelmick opened #1428 "write doc for creating export config and sharing signing keys"

[2021-03-04 06:04] mariliamelo opened #1429 "Improve CloudSchedulerJobFailed playbook"
We should improve [CloudSchedulerJobFailed playbook](https://github.com/google/exposure-notifications-server/blob/main/docs/playbooks/alerts/CloudSchedulerJobFailed.md) and add information for each cloud scheduler job we have (similar to what we have in the [Verification Server](https://github.com/google/exposure-notifications-verification-server/blob/main/docs/playbooks/alerts/CloudSchedulerJobFa

[2021-03-04 15:10] sethvargo commented on #1429
`export-importer-cschedule` invokes the `/schedule` endpoint of the export-import service. It downloads and parses the remote index file, applies any rewrite rules, and stores the results in the database. It does _not_ download the actual export zip files themselves, just the references in the index. It syncs index files and applies rewrite rules. The `export-importer-worker` uses the data synced

[2021-03-04 21:28] #1428 closed

[2021-03-11 02:15] #1411 closed

[2021-03-20 00:12] mikehelmick opened #1475 "Add support for user-report"
### TL;DR

Add to verification cert and thread through as SELF_REPORT

Allowed revisions are

 SELF_REPORT -> {confirmed, clinical, revoked}

[2021-03-20 00:31] #1475 closed

[2021-03-22 13:10] rachyandco opened #1477 "Issue section removed for exposure-notifications-internals repo"
### Question
Why was the issue section for https://github.com/google/exposure-notifications-internals/ removed ?

We are specially interested in issue 27 which we believe should remain open: Here is a link to the webarchive https://web.archive.org/web/20210320232232/https://github.com/google/exposure-notifications-internals/issues/27

[2021-03-22 13:58] sethvargo commented on #1477
Hi @rachyandco

Thank you for opening an issue. This repository is specific to the Exposure Notifications server implementation. For feedback about the overall Exposure Notifications project, please use the email address in the README.

[2021-03-22 13:58] #1477 closed

[2021-03-22 14:05] pdehaye commented on #1477
For reference, that issue had been archived [here](https://web.archive.org/web/20210320232232/https://github.com/google/exposure-notifications-internals/issues/27) before deletion.

[2021-03-24 00:08] #1356 closed

[2021-03-25 16:26] sethvargo commented on #1429
All background jobs have been refactored to be forward-progress alerts. This is now obsolete.

[2021-03-25 16:26] #1429 closed

[2021-03-25 16:26] sethvargo commented on #1295
All background jobs have been refactored to be forward-progress alerts. What additional alerts are you thinking about @mariliamelo?

[2021-03-31 18:44] #1295 closed

[2021-04-01 14:46] #1279 closed

[2021-04-17 11:21] alextur opened #1508 "Unreachable db ping check within health handler"
With providing `0` value to `NewLimiter()` function the created limiter will never allow to permit an event.
https://github.com/google/exposure-notifications-server/blob/36dbf20153e8103529c4c13dc07f0f9daff53819/pkg/server/healthz.go#L30

[2021-04-17 21:38] #1508 closed

[2021-04-21 19:58] ethanmdavidson opened #1511 "Server time synchronization tolerance"
### Question
How much clock drift is accepted between Verification Server and Key Server?

e2e-runner is intermittently failing with error messages like "token is not valid yet" and "token used before issued". This seems to indicate a clock sync issue between MVS and NKS. How much tolerance is built into these checks?

Full errors here in case I'm misinterpreting them:
`error uploading teks: POST

[2021-04-21 20:09] mikehelmick commented on #1511
The clock skew allowance is currently 1 second

https://github.com/google/exposure-notifications-verification-server/blob/32253afb64ce876cd8e354a355695eda34a0ed3b/pkg/controller/certapi/certificate.go#L125

[2021-04-21 20:45] ethanmdavidson commented on #1511
thanks

[2021-04-21 20:45] #1511 closed

[2021-06-11 16:27] mikehelmick opened #1526 "Upgrade to https://github.com/golang-jwt/jwt"
### TL;DR

Upgrade to https://github.com/golang-jwt/jwt
a support fork of the legacy JWT library

[2021-06-11 16:35] #1526 closed

[2021-06-25 14:17] ae-wehealth opened #1535 "EXPOSURE Service crashes if STATS_UPLOAD_MINIMUM envar is set to less than 10."
### TL;DR
EXPOSURE Service crashes if STATS_UPLOAD_MINIMUM envar is set to less than default value.
I couldnt set it to without code modification.

**Expected behavior**
Working Exposure service was expected.

1. The single service initialization failure shall not render the entire api unusable. Other endpoints should still work.
2. The stats should be calculated daily even for zero values or very

[2021-06-25 14:20] mikehelmick commented on #1535
This is working as intended to prevent potential tracking of individuals when there is low throughput.

stats for days that don’t meet the threshold are released after 48 hours.

[2021-06-25 14:37] ae-wehealth commented on #1535
How can the individuals be tracked this way if the stats are pulled by the verification server and from the verification server.
There is no identifiable info in the https://admin.verification.api.wehealth.org/stats/realm/key-server.json response.

[2021-06-25 14:39] ae-wehealth commented on #1535
btw I had to set STATS_EMBARGO_PERIOD to 0 too because we do want the most up-to-date statistics.

[2021-06-25 15:12] sethvargo commented on #1535
This minimum embargo is required to maintain privacy in the system. With a small stats window, a PHA could issue codes at specific times and then correlate whether those codes had been redeemed back to individual users. This was Mike's point about "potential tracking of individuals when there is low throughput". The identifiable information is the timestamp.

Statistics are designed to be retroact

[2021-06-25 15:37] mikehelmick commented on #1535
Setting `STATS_EMBARGO_PERIOD` to 0 means that days below the `STATS_UPLOAD_MINIMUM` will never be released (it disabled the feature altogether).

The values here are the absolute minimums recommended by Google and authorized by our internal review process.

[2021-06-25 16:29] #1535 closed

[2021-07-09 14:43] MhdAmr788 opened #1537 "Pullback"
### TL;DR

### Design

**Proposal**

**Alternatives considered**

**Resources**

- [Link to documentation](TODO)

**Additional information**

[2021-07-09 14:49] #1537 closed

[2021-08-04 02:07] mikehelmick opened #1541 "don't block startup on metric initialization"
### TL;DR

in stackdriver.go - a server can fail to start if metrics can't be initialized.

During a scale up event, this is lots of write RPCs in a short amount of time that are effectively no-ops.

Things to investigate

* can we to a read pass to see if metrics exist before attempting to create
* should this be done in a go-routine or selectively done in a go-routine

[2021-08-05 00:19] sethvargo commented on #1541
https://github.com/google/exposure-notifications-server/pull/1542

[2021-08-05 00:19] #1541 closed

[2021-08-12 08:55] alextur opened #1546 "Server graceful shutdown sync"
`ServeHTTP()` function requires some synchronization between shutdown routine and the main one. Otherwise it simply doesn't wait for the actual server's shutdown and returns from the function.

https://github.com/google/exposure-notifications-server/blob/b6dc1aeb17b456e04d15f216fb05f8b8bccd0225/pkg/server/server.go#L120

[2021-08-12 17:01] #1546 closed

[2021-08-16 17:04] mikehelmick opened #1548 "don't register stackdriver metrics on every instance start"
### TL;DR

Registering on every instance start causes us to get throttled on the stackdriver API and can cause errors on startup.

[2021-08-16 17:17] sethvargo commented on #1548
I think there's a few ways we could do this:

1. Move the metrics registration process into its own binary that we execute as part of the build/deploy steps. This ensures it happens once per deploy (which is what we really want). I think I prefer this approach.

2. Move the metrics creation back into Terraform. It started this way, but became unsustainable to keep them in sync. Now that metrics cr

[2021-08-16 17:22] mikehelmick commented on #1548
I was thinking something along the lines of #1

[2021-08-16 17:28] sethvargo commented on #1548
Ah - and then set min/max instances to 1?

[2021-08-17 22:16] sethvargo commented on #1548
https://github.com/google/exposure-notifications-server/pull/1549

[2021-08-18 15:07] #1548 closed

[2021-11-08 17:15] sethvargo opened #1572 "Switch Cloud Scheduler to UTC"
Daylight savings time must be avoided.

[2021-11-08 18:44] #1572 closed

[2022-04-08 17:39] mikehelmick opened #1595 "Self report not included in export-importer functionality"
### TL;DR

Self report keys are treated as unknown and dropped

[2022-04-08 17:51] #1595 closed

[2022-07-18 17:05] mikehelmick opened #1604 "terraform using deprecated arg"
we're using a deprecated element in our TF

[code]

redacted

[code]

[2022-07-18 17:05] mikehelmick commented on #1604
applies to verification server

[2022-07-18 19:15] sethvargo commented on #1604
https://github.com/google/exposure-notifications-server/pull/1605

https://github.com/google/exposure-notifications-verification-server/pull/2363

[2022-07-18 19:20] #1604 closed

[2022-11-17 15:14] jlory opened #1614 "Possible dead lock in the cache package?"
Looking at the cache implementation I'm wondering if the code could dead lock in certain conditions.

We aquire a read lock there: https://github.com/google/exposure-notifications-server/blob/90c1deec6cad8694da073e18fa7705c82bad9068/pkg/cache/cache.go#L177

Then we call the purge expired in a goroutine, the purge expired aquires a rw lock : https://github.com/google/exposure-notifications-server/b

[2022-11-17 15:20] sethvargo commented on #1614
Hi @jlory

I don't believe there's a deadlock here. The expiration happens in a goroutine because we don't want to block the main process from executing while an older item is purged from the cache.

If it wasn't in a goroutine, it would deadlock, but the goroutine doesn't exist to prevent a deadlock (it exists to optimize the way this particular cache is used).

[2022-11-17 15:20] #1614 closed