[2020-05-01 19:11] mikehelmick opened #24 "Add 'platform' field to APIConfig table"
Add platform field for mobile device platform.

android will indicate to use the SafetyNet device attestation
ios will indicate to use the iOS Device Check attestation

[2020-05-01 19:30] mikehelmick opened #26 "split apart internal/api package"
Each piece of the API should have it's own package

/assign @mikehelmick

[2020-05-01 21:02] #24 closed, assigned to mikehelmick

[2020-05-01 23:35] mikehelmick opened #35 "Separate packages, include internal/model to minimize exported fields."
@crwilcox plan
- [x] Move all packages under api/ to internal/package-name
- [x] Combine database and model -> model to avoid dependency cycles
- [ ] don't extend DB, instead pass in for use by model specific methods

[2020-05-02 17:19] #26 closed, assigned to mikehelmick

[2020-05-03 01:13] mikehelmick opened #49 "Create installer tool"
Create an installer CLI tool to build, install and configure the components end to end.

- [x] Verify presence of gcloud and cloud_sql_proxy (needed for DB schema)
- [x] verify project ID to setup
- [x] verify permissions on user
- [x] Configuration questionnaire - get some setup parameters
- [x] Enable APIs
  - [x] Cloud Run
  - [x] KMS
  - [x] Secret Manager
  - [x] Cloud Storage
  - [x] Cloud S

[2020-05-03 15:00] jba opened #55 "lock protocol should check unique ID on unlock"
In the lock protocol (internal/database/lock.go): if a process times out while holding a lock, another process steals the lock, and then the first finishes, it will delete the second's valid lock. Maybe add a timestamp column to the table which can be checked on delete.

[2020-05-03 15:05] jba opened #56 "support database migration"
There should be a way to change the DB schema without dropping and recreating it. We at `pkg.go.dev` have been happy with https://github.com/golang-migrate/migrate.

[2020-05-04 22:04] mikehelmick opened #64 "allow DB password to be read from a secret store"

[2020-05-05 03:51] #64 closed, assigned to mikehelmick

[2020-05-05 03:55] mikehelmick opened #68 "add signing for export files"
needs

- [x] add signing keys reference to ExportConfig
- [x] sha256 of each ExportFile - will be the ecdsa signature of the sha256 of the export contents.

[2020-05-05 15:33] mikehelmick opened #69 "change to 200 response codes for most requests"

[2020-05-06 00:33] #69 closed, assigned to mikehelmick

[2020-05-06 04:15] #55 closed, assigned to squee1945

[2020-05-06 21:00] mikehelmick opened #87 "put dependencies behind interfaces"
In particular

- [x] Secret Manager
- [x] KMS
- [x] GCS

[2020-05-07 01:12] laurentsimon opened #93 "SafetyNet nonce is not randomly-generated by server"
**Location**
[internal/android/nonce.go](https://github.com/google/exposure-notifications-server/blob/master/internal/android/nonce.go#L51)

**Problem**
The nonce is generated based on values selected by the client app.
Without being random, the attestation may be replayed to the server. This seems consistent with [SafetyNet doc:obtain-a-nonce](https://developer.android.com/training/safetynet/atte

[2020-05-07 01:23] laurentsimon opened #94 "Harden the computation of Nonce"
**Location**
[nonce.go](https://github.com/google/exposure-notifications-server/blob/master/internal/android/nonce.go#L51)

**Problem**
The nonce (besides not being randomly generated server-side) does not use a unique encoding. Currently it's calculated as

`cleartext := n.appPackageName + strings.Join(n.ttKeysBase64, "") + strings.Join(n.regions, "")`

So if an app is called com.app and sends N

[2020-05-07 01:26] laurentsimon opened #95 "reject attestation that don't contain a nonce"
see [safetynet.go](https://github.com/google/exposure-notifications-server/blob/master/internal/android/safetynet.go#L71)

I think this should return an error, rather than a warning. I think it's probably just for testing. If we want testing, maybe add a special flag to make sure debug code  not accumulate and it's easy to turn it off.

[2020-05-07 01:32] laurentsimon opened #96 "remove bypass_safetynet or provide a debug flag"
This is an option in the database and config. I think it's only used for testing? If so, please provide a debug flag that can be easily turned off.

This is used, for example in [verify.go](https://github.com/google/exposure-notifications-server/blob/master/internal/verification/verify.go#L64). We need to gate these thru a global debug flag.

[2020-05-07 01:35] laurentsimon opened #98 "do we need EnforceApkDigest"
I'm not sure why we need this option. Is this for testing only? If so, please provide a debug flag to disable it on production code.

In production mode, we want to enforce it and we should always verify [APKDigestSHA256](https://github.com/google/exposure-notifications-server/blob/master/internal/model/apiconfig/config.go#L68) is set to a good value

Is my understanding correct?

[2020-05-07 01:56] laurentsimon opened #100 "Invalid token is logged but does not return an error"
In [safetynet.go](https://github.com/google/exposure-notifications-server/blob/master/internal/android/safetynet.go#L181):

`if !token.Valid {
	logger.Errorf("invalid JWS attestation passed.")
}`

It' not obvious this [function exits](https://github.com/uber-go/zap/blob/master/sugar.go#L147). Please confirm this is the case.

Can we add a comment? Maybe also a `return nil,nil` for peace of mind.

[2020-05-07 01:59] laurentsimon opened #101 "rename parseAttestion()"
the function [parseAttestation()](https://github.com/google/exposure-notifications-server/blob/master/internal/android/safetynet.go#L167) is misleading because it not only parses, but also validates the signature.

Can we change the name?

[2020-05-07 16:16] laurentsimon opened #104 "don't store data in /tmp"
see [env.go](https://github.com/google/exposure-notifications-server/blob/master/internal/serverenv/env.go#L141)

the file contains a key/secret from SM so it should be kept outside /tmp which is word readable. There's also a risk that the file concatenation is

`fName := "/tmp/secret-%v" + envVar` with `envVar = "../../whatever"`

This is not exploitable in our use case, but let's avoid doing thi

[2020-05-07 16:30] laurentsimon opened #105 "verify apkCertificateDigestSha256"
currently not verified in [safetynet.go](https://github.com/google/exposure-notifications-server/blob/master/internal/android/safetynet.go#L93).

There is already a TODO(). I'm opening this issue just for tracking purposes.

[2020-05-07 17:11] laurentsimon opened #107 "enforce maximum number of keys per uploads"
In [publish.go](https://github.com/google/exposure-notifications-server/blob/master/internal/api/publish/publish.go), we're not verifying the number of keys submitted by a device.

I think we want to force devices to submit the maximum number of keys (144). If we don't do that, it leaks when the infected device installed the app, which may be used as additional data to de-anonymize users.

[2020-05-07 17:13] #56 closed, assigned to crwilcox

[2020-05-07 17:13] laurentsimon opened #108 "do we need time as parameters to TransformPublish()?"
in file [exposure.go](https://github.com/google/exposure-notifications-server/blob/master/internal/model/exposure.go#L84) we're passing a time as parameter.

I don't think the caller should need to pass a time, and the call to Time.Now() should happen within TransformPublish().

[2020-05-07 17:15] laurentsimon opened #109 "why do we need correctIntervalCount()"
in [exposure.go](https://github.com/google/exposure-notifications-server/blob/master/internal/model/exposure.go#L76), we're 'fixing' the intervalCount sent by devices.

I don't really understand why.  Does this not indicate a problem client side that should be fixed in client code?

[2020-05-07 17:17] laurentsimon opened #110 "use uint32 for things that are never negative"
in [exposure.go](https://github.com/google/exposure-notifications-server/blob/master/internal/model/exposure.go#L43), interval_number and intervalCount are defined as signed integers but they cannot take negative values.

[2020-05-07 17:24] laurentsimon opened #112 "validate data before storing in db"
in [exposure.go](https://github.com/google/exposure-notifications-server/blob/master/internal/model/exposure.go#L99)

There is already a TODO. This issue is only for tracking purposes

[2020-05-07 17:54] laurentsimon opened #114 "add decoy records and/or increase batchWindow"
in [publish.go](https://github.com/google/exposure-notifications-server/blob/master/internal/api/publish/publish.go#L120)

We add to the database each set of keys uploaded by users, with a 15mn timestamp granularity as  defined in [exposure.go](https://github.com/google/exposure-notifications-server/blob/master/internal/model/exposure.go#L68).

It's dangerous to give such granularity, as these rec

[2020-05-07 21:22] laurentsimon opened #122 "wipeout naming is misleading"
[wipeout.go](https://github.com/google/exposure-notifications-server/blob/master/internal/api/wipeout/wipeout.go) and similar methods make it sound like data will be securely deleted from the server, but it's not.

Not sure what the name should be though. Note that we don't care about secure deletion, since data stored is public anyway.

[2020-05-08 07:50] cathieyun opened #130 "reject attestation without time validation"
See [safetynet.go](https://github.com/google/exposure-notifications-server/blob/3e12395e38a56aec23eff7236e238e2c74d57afc/internal/android/safetynet.go#L74).
This is also true for the opts checks (CTSProfileMatch, BasicIntegrity).

Currently those checks just log a warning (logger.Warnf) if they fail, but will not return an error. It should return an error. Related to the bug here: https://github.c

[2020-05-08 15:21] #95 closed, assigned to mikehelmick

[2020-05-08 15:21] #130 closed, assigned to nobody

[2020-05-08 18:58] mikehelmick opened #138 "Write client/server interop spec"
/cc @crwilcox @gurayAlsac @peetsasaki

[2020-05-08 19:09] mikehelmick opened #139 "bucket name should be part of ExportConfig"
The bucket name is currently an environment variable, but should be based on each export config.

/kind bug

[2020-05-08 19:40] #122 closed, assigned to crwilcox

[2020-05-08 19:45] #100 closed, assigned to mikehelmick

[2020-05-08 21:03] #104 closed, assigned to nobody

[2020-05-08 21:06] #101 closed, assigned to nobody

[2020-05-08 21:11] #68 closed, assigned to mikehelmick

[2020-05-08 21:20] mikehelmick opened #145 "Implement iOS device check"
/kind enhancement

[2020-05-08 21:24] #87 closed, assigned to mikehelmick

[2020-05-08 21:52] #96 closed, assigned to sethvargo

[2020-05-08 21:58] #114 closed, assigned to mikehelmick

[2020-05-08 22:17] gurayAlsac opened #147 "denormalize signing key info in export tables"
In a world where we might have multiple signatures on an export (whether from a key rolling, or an external authority cosigning on the exports) we would want to populate multiple SignatureInfo's on the export. Currently our ExportConfig and ExportBatch assume one signing key (and don't allow for additional info like key version or identifier).

[2020-05-08 23:13] #98 closed, assigned to mikehelmick

[2020-05-08 23:13] #105 closed, assigned to mikehelmick

[2020-05-09 00:43] sethvargo opened #154 "Simplify sharing configuration between packages"
Right now a new configuration has to be plumbed through quite a few structs and its tedious to add new fields (see https://github.com/google/exposure-notifications-server/pull/153/commits/ac0fc4ec8aeca8588695291194a747a6cc631267 as an example).

Some values come from the database, some from Secret Manager, and some from the environment. Since most things are internal/, it would be great if we had

[2020-05-10 15:29] #109 closed, assigned to mikehelmick

[2020-05-10 15:29] #112 closed, assigned to mikehelmick

[2020-05-11 00:01] mikehelmick opened #160 "make server more robust to padded and non-padded base64 encodings"
For a publish - as long as the client consistently pads or doesn't pad this should work.

/kind bug

[2020-05-11 01:53] #94 closed, assigned to mikehelmick, peetsasaki

[2020-05-11 01:56] #107 closed, assigned to nobody

[2020-05-11 16:09] #139 closed, assigned to crwilcox

[2020-05-11 17:28] #108 closed, assigned to nobody

[2020-05-11 21:47] sethvargo opened #170 "Support multi-tenancy for iOS DeviceCheck"
The initial implementation of DeviceCheck only allows a single app per server. We need to support a per-app configuration. Users will likely need to store a _reference_ to a secret in the database and then the app looks up that secret at runtime on a per-app basis.

- Refs #153
- Pending on #154

[2020-05-11 22:12] mikehelmick opened #173 "Add specific field in publish API for roaming"
Two options -

* leave as is, each country would whitelist it's app to publish for "all regions"
* separate out the home region that the app is publishing for and roaming regions that are part of the request

I'm inclined to leave it as is. A server should only be configured to accept regions that the sever has roaming agreements with

[2020-05-11 22:45] #145 closed, assigned to sethvargo

[2020-05-12 16:02] mikehelmick opened #187 "support multiple APKHashes per app package"
For support dev and release keys builds

/kind enhancement

[2020-05-12 16:27] #160 closed, assigned to sethvargo

[2020-05-12 20:48] #187 closed, assigned to mikehelmick

[2020-05-12 23:30] squee1945 opened #197 "Standardize API responses"
As discussed briefly in #195
cc @sethvargo

[2020-05-12 23:34] #154 closed, assigned to mikehelmick

[2020-05-13 01:38] #49 closed, assigned to nat-henderson

[2020-05-13 01:56] mikehelmick opened #200 "Refactor duplicate code in mains"
Create a common main and eliminate copy/paste-is code.

/assign

[2020-05-13 16:05] mikehelmick opened #203 "implement optional export encryption"
/kind enhancement

[2020-05-13 17:04] sethvargo opened #205 "Create single entrypoint binary"
Create a single binary that has all the handlers installed and can demo a complete e2e working system locally.

[2020-05-13 17:36] #200 closed, assigned to mikehelmick

[2020-05-13 17:38] mikehelmick opened #208 "ensure logs based metrics appear on all binaries"
/kind enhancements
/assign

[2020-05-13 18:59] #208 closed, assigned to mikehelmick

[2020-05-13 20:41] mikehelmick opened #214 "terraform: ensure all service accounts can read secrets"

[2020-05-14 00:58] mikehelmick opened #227 "ensure keys are consecutive on upload"
No gaps and no overlap on intervals

/assign
/kind bug

[2020-05-14 01:51] stati0n opened #230 "Sending exposure key with `--app=com.example.ios.app` results in nil exception"
Repro steps:

[code]

Stack trace:
[code]

[2020-05-14 01:53] #230 closed, assigned to nobody

[2020-05-14 03:57] #227 closed, assigned to mikehelmick

[2020-05-14 16:18] crwilcox opened #241 "cleanup: add unit tests"

[2020-05-14 16:18] crwilcox opened #242 "cleanup: cloud run setup"

[2020-05-14 16:19] crwilcox opened #243 "cleanup: load test"
Should verify how long a run takes at scale. Also verify it doesn't adversely impact table performance during cleanup.

[2020-05-14 16:41] squee1945 opened #246 "Add terraform for federation services"
Two federation services on Cloud Run: federationin and federationout

federationin is invoked on a schedule (e.g., hourly) and must be accessible only to the scheduler (e.g., Cloud Scheduler)

federationout is a gRPC endpoint that can be called by external parties. It requires an OIDC token, so it should be "self-guarded" already.

[2020-05-14 16:51] crwilcox opened #247 "e2e: create an automated e2e test"
We have done some manual runs, but it would be great to have a test that can do an automated e2e walkthrough of exposure keys getting uploaded and exposure keys getting downloaded

[2020-05-14 17:00] crwilcox opened #248 "test: create load test for exposure key ingest"

[2020-05-14 17:00] crwilcox opened #249 "test: create load test for exposure key batching"

[2020-05-14 17:01] crwilcox opened #250 "test: create load test for exposure key batch cleanup"

[2020-05-14 17:56] mikehelmick opened #251 "Determine if keys can have gaps"
Currently on publish, keys must be consecutive with no gaps in the rolling period.

We need to verify w/ the one device protocol how extended power off periods are handled. Are gaps backfilled before key upload or should we allow gaps by not overlap?

/assign @peetsasaki @flagxor

/kind question

[2020-05-14 17:58] mikehelmick opened #252 "Embargo keys for 2 hours after expiry."
Exports might not embargo keys long enough.

Changed needed
1) On publish - don't accept keys where the rollingPeriod hasn't ended
2) On export - instead of not entering the current alignment window, don't enter alignment windows that aren't 2 hours old.

/kind enhancement
/assign

[2020-05-14 18:08] mikehelmick opened #253 "ExportConfig - include bundle_id / app_package_name in config"
/kind enhancement
/assign @gurayAlsac

[2020-05-14 18:09] mikehelmick opened #254 "MCC / ISO country codes"
/kind question

Determine the correct handling of MCC and or ISO code in upload and export.

/cc @flagxor @peetsasaki @gurayAlsac
/assign

[2020-05-14 19:30] crwilcox opened #256 "metrics: Instrument functions with tracing"
In order to have better ability to dig into performance and to debug, it would be useful to instrument methods

`defer trace.StartRegion(ctx, "ValidateAttestation").End()`

[2020-05-14 19:30] mikehelmick opened #257 "Fix alignment between spec and implemenation"
Field names in the spec don't match the implementation.

/assign
/kind bug

[2020-05-14 19:54] #205 closed

[2020-05-14 21:54] mikehelmick commented on #251
Confirmed w/ Android team that if a phone is powered off there will be a gap in the intervals, but overlap is not allowed.

/assign

[2020-05-14 21:57] mikehelmick commented on #253
/assign

[2020-05-14 21:58] mikehelmick opened #267 "Remove verification_authority_name field"
Remove from
model/exposure.go
remove from federation in/out

[2020-05-14 22:02] #251 closed

[2020-05-14 22:54] mikehelmick commented on #257
/fixed in #263

[2020-05-14 22:54] #257 closed

[2020-05-14 22:55] mikehelmick commented on #254
Got a little more info - it seems that the sever can continue to be agnostic to to this.

Right now, there is no action to be taken.

/close

[2020-05-14 22:55] #254 closed

[2020-05-14 23:19] mikehelmick opened #269 "Allow AuthorizedApp to accept iOS and Android"
Allow for AuthorizedApp to dual home android and ios in the same row

(same bundle ID / app package name)

/kind enhancement

[2020-05-14 23:20] mikehelmick opened #270 "federation clean up"
- Move transmission risk to an integer
- remove verification authority

[2020-05-14 23:28] danawillow opened #272 "google_cloudbuild_trigger won't work for everyone"
The google_cloudbuild_trigger terraform resources in https://github.com/google/exposure-notifications-server/blob/master/terraform/main.tf create [GitHub app triggers](https://cloud.google.com/cloud-build/docs/automating-builds/create-github-app-triggers) which rebuild and push all the containers to GCR each time master is updated on this repo.

This resource won't work when running from an empty

[2020-05-14 23:37] mikehelmick opened #273 "Tool to generate export files"
Write a tool to generate export files from the command line.

Shouldn't require a database and should be able to take keys from input or generate random.

[2020-05-15 00:47] ndmckinley commented on #272
I'm inclined towards option 2 - I am in favor of minimizing flags, but also feel that up-to-date-ness is important enough to be worth one.

[2020-05-15 01:01] sethvargo commented on #272
Prefer 2 as well

[2020-05-15 01:32] #170 closed

[2020-05-15 05:45] mikehelmick opened #276 "Create index on exposure.created_at"
Query key needed for creating exports.

[2020-05-15 14:36] sethvargo commented on #276
/assign

[2020-05-15 14:38] johanbrandhorst opened #280 "Community contributions assistance"
**Is your feature request related to a problem? Please describe.**
I'm a member of the public with expertise in this area and I'd like to help the project. I don't think I'm alone.

**Describe the solution you'd like**
* Github issue labels to guide project beginners to meaningful contributions (help-wanted/good-first-issue/etc).
* Some public discussion board where beginners can reach out to othe

[2020-05-15 14:48] sethvargo commented on #197
Adding more context here. Right now, across the entire project, we have HTTP handlers that:

- Log an error that's wrapped/formatted
- Publish a metric (usually)
- Write a status (usually 200, even for failures)
- Return

The current problems are:

- If we forget to return, the handler continues on
- If we don't log, debugging is a challenge
- Sometimes we do use a non-200 status (e.g. for federat

[2020-05-15 14:50] sethvargo commented on #203
Dropping my thoughts here from internal chat threads. Without additional information, I don't think we should tackle this just yet. It's unclear if PHAs are going to want symmetric or asymmetric keys, and I don't think this server implementation should be in the business of key management.

If we come up with a specification and PHAs agree, we can implement that spec.

[2020-05-15 15:06] sethvargo commented on #243
@stati0n I think you mentioned you wanted to work on this.

[2020-05-15 15:11] sethvargo commented on #280
Hi @johanbrandhorst

Thank you for opening an issue.

- We have a [good-first-issue label](https://github.com/google/exposure-notifications-server/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fgood-first-issue), and as a general rule, we always welcome more test coverage.

- You can use the email address [at the bottom of the README](https://github.com/google/exposure-notifications-server#issues-an

[2020-05-15 15:14] #276 closed

[2020-05-15 15:15] johanbrandhorst commented on #280
Great, not sure how I missed that label, that is very helpful. I gather that if I want to contribute on an issue that I should leave a comment on it to say so, to avoid duplicate effort?

[2020-05-15 15:16] sethvargo commented on #280
Well, I just went through and labeled a bunch of things 😄. Yea, please drop a note.

[2020-05-15 15:37] squee1945 opened #284 "Exports not being created"
When we moved to time.Truncate(time.Hour) on the published exposure keys and time.Hour for the export batch period, all exports ceased.

[2020-05-15 15:51] #284 closed

[2020-05-15 15:52] danawillow commented on #272
/assign danawillow

[2020-05-15 15:56] mikehelmick opened #287 "transmissionRisk should be per-key on upload not per-patch"
/kind bug
/assign

[2020-05-15 16:08] mikehelmick opened #289 "run VACUUM on postgresql database"
**Is your feature request related to a problem? Please describe.**

The VACUUM command should be run periodically to ensure that deleted keys are removed from underlying storage and new keys aren't kept consecutively.

```VACUUM FULL VERBOSE```

**Describe the solution you'd like**

New job in `/cmd/vacuum`

Added to terraform config + cloud scheduler to run it.

/kind enhancement
/priority import

[2020-05-15 16:12] mikehelmick opened #290 "pad daily downloads to ensure minimunm size"
**Is your feature request related to a problem? Please describe.**

When generating export batches - generate and shuffle in random keys.
If there are enough keys in the batch, then no additional padding is needed.

/kind enhancement
/priority important-soon

[2020-05-15 16:14] jba commented on #289
I suggest you look into autovacuum. It makes manual vacuuming unnecessary.

[2020-05-15 16:15] mikehelmick opened #291 "consider application level encryption of key data in the database"
**Is your feature request related to a problem? Please describe.**

Allows for a separation of responsibilities and someone with raw database access, but not KMS access can't observe the data in the database.

**Describe the solution you'd like**

An envelop encryption solution seems best due to the high cluster of decrypt operations that would be needed on export generation.

**Describe alternati

[2020-05-15 16:17] mikehelmick commented on #289
looks like it is on by default

https://www.postgresql.org/docs/9.6/runtime-config-autovacuum.html#GUC-AUTOVACUUM

[2020-05-15 16:25] sethvargo commented on #289
Is it on by default in Cloud SQL? https://cloud.google.com/sql/docs/postgres/flags

[2020-05-15 16:26] mikehelmick commented on #289
I think we want to modify our DDL to enable this at the table level, at minimum on the exposure table.

[2020-05-15 16:27] sethvargo commented on #291
My preference would be to leverage [CMEK on Cloud SQL here](https://cloud.google.com/sql/docs/mysql/configure-cmek) and allow anyone implementing this server to choose their own encryption (if they want).

CMEK doesn't quite solve the problem, since the Cloud SQL service account is the authorizing principal though.

[2020-05-15 16:45] sethvargo commented on #289
/assign

[2020-05-15 17:01] #289 closed

[2020-05-15 17:01] crwilcox commented on #35
/assign

[2020-05-15 17:24] crwilcox commented on #35
Adding some information.
The goal here is to separate out the models/db to packages so that things rare more componentized and to improve readability.

[2020-05-15 17:44] mikehelmick commented on #290
/assign
working on this now

[2020-05-15 18:07] mikehelmick commented on #252
/kind good-first-issue

[2020-05-15 18:08] mikehelmick commented on #147
/assign

[2020-05-15 18:11] mikehelmick commented on #280
I tagged a few more issues.

As Seth mentions - we don't have realtime collaboration tools at the moment, and I don't think we'll be creating one in the near future. The email list in the README will reach the team at Google working on this project all at once.

/close

[2020-05-15 18:11] #280 closed

[2020-05-15 19:28] #272 closed

[2020-05-15 20:04] danawillow commented on #246
Added in https://github.com/google/exposure-notifications-server/issues/246

[2020-05-15 20:04] #246 closed

[2020-05-15 20:15] ndmckinley commented on #214
As far as I know, they already can - that's why I haven't picked this up - but once we have integration testing we'll know for sure.  :)

[2020-05-15 20:28] mikehelmick commented on #269
/assign

Fixing this in tandem with #253

[2020-05-15 21:11] #290 closed

[2020-05-15 21:28] mikehelmick commented on #269
/unassign

[2020-05-15 21:31] ndmckinley commented on #214
👍 Mine succeed, but who knows why.  I'll figure that out.
/assign @ndmckinley

[2020-05-15 21:52] squee1945 opened #305 "Fast empty batch processing leads to rate limiting on Cloud Storage."
When a single worker is rapidly moving through empty batches, the index file is written for each one. Re-writing an index file on an empty batch is desirable because it facilitates self-healing, but it in unnecessary to re-write the same index file multiple times within the scope of of single worker invocation.

[2020-05-15 21:54] mikehelmick commented on #305
Do we need to write anything at all on an empty batch?

[2020-05-15 21:57] gurayAlsac commented on #305
It's better the client get a 200 on an empty index and know there was
nothing to retrieve than get a 404 and wonder.

On Fri, May 15, 2020 at 2:54 PM Mike Helmick <notifications@github.com>
wrote:

[2020-05-15 22:07] squee1945 commented on #305
Yes, the empty batch can get the empty index file out as soon as the ExportConfig is created, which helps the client. I also like it because it is good for general self-healing.

[2020-05-15 22:08] crwilcox commented on #35
Currently the structure is roughly this:
[code]

After refactoring I expect to have
[code]

This will allow less exports and should keep related components nearer each other.

[2020-05-15 22:31] #305 closed

[2020-05-16 00:26] gurayAlsac opened #312 "reduce function arity"
https://github.com/google/exposure-notifications-server/pull/308#discussion_r426091463

We've got some functions that take a lot of params, and could do some refactoring to make them easier to work with:

[code]

[2020-05-16 00:49] mikehelmick commented on #287
fixed

/close

[2020-05-16 00:49] #287 closed

[2020-05-16 02:03] sethvargo commented on #312
Thanks for opening this issue. Also, that's some dope grep right there.

[2020-05-16 16:28] crwilcox opened #315 "Consider renaming APIConfig"
Due to it having Config in the name PR #313 has to name a config APIConfigConfig.
Consider renaming this to perhaps `APIAccess` or `Authorization`. Getting Config out of the name could help.

[2020-05-16 16:37] sethvargo commented on #315
My vote would be for `AuthorizedApp`

[2020-05-16 19:57] sebagomez opened #316 "Error trying to run locally"
When I run the `./scripts/dev` with the `dbstart` parameter, the container starts and stops immediately.

After getting the log I see the following message inside the container

This is what I see if I bash into the container:
![image](https://user-images.githubusercontent.com/1637983/82128994-07cd3900-9796-11ea-82b6-487f65718392.png)

How can I change the owner?

**Desktop (please complete the fo

[2020-05-16 21:32] sethvargo commented on #316
Hi @sebagomez

Thank you for opening an issue. We've tested the install script to work with Mac and Ubuntu, but I we haven't tried Windows with WSL. My best guess is that [this line](https://github.com/google/exposure-notifications-server/blob/d79bd811c1a1f7a7bd720e81442756bcfe9f64af/scripts/dev#L80-L82) is returning false on WSL, which doesn't modify the file permissions. It would be helpful to k

[2020-05-16 22:02] sebagomez commented on #316
Thanks @sethvargo for getting back to me so quickly.
`Linux` is what's returned by the command `uname -s`

![image](https://user-images.githubusercontent.com/1637983/82131066-be85e500-97a7-11ea-82fe-ab49152c3a3a.png)

[2020-05-17 01:43] #253 closed

[2020-05-17 01:52] sethvargo commented on #316
The startup script generates a TLS keypair and saves it in `./local`. The certificates need to be owned by the postgres (or root) user. I'm not very familiar with how filesystem permissions are mapped on WSL.

[2020-05-17 14:48] radisef347 opened #319 "I need help with this (please)!!!"
<CONTENT REMOVED>

[2020-05-17 14:49] radisef347 commented on #110
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #147
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #197
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #214
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #242
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #247
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #249
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #252
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #267
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:49] radisef347 commented on #270
![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)

[2020-05-17 14:50] radisef347 commented on #291
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)

[2020-05-17 14:50] radisef347 commented on #315
![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)

[2020-05-17 14:50] sebagomez commented on #316
Yes, it is definitely a WSL2 thing... changing the  owner to root does nothing :(
I worked this around by disabling SSL on the Postgres connection. Thanks

[2020-05-17 14:50] radisef347 opened #320 "[Hidden Malware] this is a virus, don't download!!!"
<CONTENT RENOVED>

[2020-05-17 14:51] radisef347 opened #321 "???"
<CONTENT REMOVED>

[2020-05-17 14:51] radisef347 opened #322 "!!!"
<CONTENT REMOVED>

[2020-05-17 14:52] radisef347 opened #323 "How to use???"
<CONTENT REMOVED>

[2020-05-17 14:53] radisef347 opened #324 "I found a couple bugs!"
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_14

[2020-05-17 14:53] #324 closed

[2020-05-17 14:53] radisef347 opened #325 "Potention [BEAST] exploit on your servers?"
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)

[2020-05-17 14:53] #325 closed

[2020-05-17 14:54] radisef347 opened #326 "Follow up"
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_14

[2020-05-17 14:54] #326 closed

[2020-05-17 14:54] mikehelmick commented on #319
@radisef347 has been reported and blocked.

[2020-05-17 14:54] #319 closed

[2020-05-17 14:55] mikehelmick commented on #320
@radisef347 has been blocked.

[2020-05-17 14:55] #320 closed

[2020-05-17 14:55] radisef347 opened #327 "Is this lisenced? can I redistribute? (make changes and give out for profit)"
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_14

[2020-05-17 14:56] radisef347 opened #328 "Financially speaking..."
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_141_f080.jpg)![alt text](https://images.pornpics.com/1280/201909/07/8005161/8005161_020_3b87.jpg)
![alt text](https://images.pornpics.com/1280/201901/08/2693239/2693239_103_339a.jpg)![alt text](https://cdni.pornpics.com/1280/7/51/81056079/81056079_14

[2020-05-17 14:56] #328 closed

[2020-05-17 14:56] #327 closed

[2020-05-17 14:57] #321 closed

[2020-05-17 14:58] #322 closed

[2020-05-17 14:58] #323 closed

[2020-05-17 19:04] sethvargo commented on #316
Definitely don't disable SSL on Postgres in production. Since development is all on localhost, it's probably fine. I'll try and spin up a windows VM and test this out, but there are higher-priority things to resolve first.

[2020-05-17 19:07] sebagomez commented on #316
I understand, but don't worry, it'll be secured with ssl in production.
Thanks

[2020-05-18 01:23] will-weiss opened #333 "Documentation for how to run locally for testing purposes using minikube"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I want to be able to run the project locally, but don't know where to begin.

**Describe the solution you'd like**
I'd love to see documentation with clear steps I can follow that would allow me to run all associated services within a local kubernetes cluster using minikube.

**Describe alternatives you've consi

[2020-05-18 03:38] mikehelmick commented on #333
/assign

Hello - thanks for the issue.

The quickest way to get up and running is with the script in `./scripts/dev`

It contains methods for starting a local postgresql Database (via docker), generating connection information.

Local servers can be run via

`go run ./cmd/exposure`

(to start the exposure publishing server).

Our target runtime during development has been the combination of Google

[2020-05-18 03:46] #315 closed

[2020-05-18 07:32] bhushanRamnani opened #334 "Question about distribution of signing keys"
How will the verification keys be distributed to the devices ? Will those simply be part of the app distribution or provided by the server through a certificate signed by Google/Apple CA ? Will the signing key pair be provided by Apple / Google when on-boarding the app to the app store ?

Seems like every app server will use its own public-private key pair. If that's the case, does that mean that

[2020-05-18 13:32] stati0n commented on #214
I received the same error:

[code]

[2020-05-18 14:42] krazykid opened #337 "Deployment Scripts?"
Are there any deployment scripts for this on GCP either via GCP Deployment Manager or HashiCorp Terraform?

[2020-05-18 14:43] krazykid commented on #337
nvm. Found the terraform directory.

[2020-05-18 14:43] #337 closed

[2020-05-18 15:16] mikehelmick commented on #334
/assign

[2020-05-18 15:43] bitcrazed commented on #316
@sebagomez I notice that you're storing your files under `/mnt/c/...`

I am guessing that [the permission and ownership operations on your certs](https://github.com/google/exposure-notifications-server/blob/d79bd811c1a1f7a7bd720e81442756bcfe9f64af/scripts/dev#L78-L82) are not being set with adequate fidelity on files in your Windows filesystem.

I recommend moving your working files under your dis

[2020-05-18 15:45] mikehelmick commented on #334
Hello - the public keys for verification of the export need to be distributed to devices by Apple and/ or Google. The owner of the server / app is responsible for generating the key material and safeguarding the private key.

The exact process for collecting these public keys from operators isn't yet determined.

Apps can be interoperable with each other. The federation API in this project allows

[2020-05-18 15:45] crwilcox commented on #333
Adding on to what @mikehelmick has said. Further infrormation about onboarding/contributing can be found at https://github.com/google/exposure-notifications-server/blob/master/CONTRIBUTING.md. If anything in this document is unclear please feel free to open an issue so we can improve it for others.

[2020-05-18 15:50] squee1945 commented on #334
The federation API is a peer-to-peer setup and only local provenance temporary exposure keys are exchanged (i.e., no "transitive" federation). These peer-to-peer scenarios assume trust: trust that the remote federation partner has appropriately validated the temporary exposure keys from the app on upload to the remote server.

[2020-05-18 17:23] yuliumitre commented on #214
My cloud-run services can't be started during terraform deployment.  It seems related to the secrete. Any thoughts?

Here are the error from the GCP logs:

setup.Setup: error loading environment variables: failed to resolve "projects/624788706964/secrets/dbClientKey/versions/1": failed to access secret projects/624788706964/secrets/dbClientKey/versions/1: rpc error: code = PermissionDenied desc =

[2020-05-18 17:25] crwilcox opened #342 "Diagram on requirements document is not up to date"
https://github.com/google/exposure-notifications-server/blob/master/docs/server_functional_requirements.md#system-components

https://github.com/google/exposure-notifications-server/blob/master/docs/images/functional_diagram.svg

This diagram has a few things we want to fix

1) It looks like each update goes to each phone. The phones get update from the store/cdn
1) we don't have a cdn in this ima

[2020-05-18 17:26] crwilcox commented on #342
cc: @flagxor

[2020-05-18 17:55] gurayAlsac commented on #334
We are working with governments and health authorities to whitelist api usage and during that same on-boarding process we would collect the public keys used to verify the signed exports. Google/Apple won't be generating these signing keys. Server/app developers will be generating the public/private key pair. Server and app developers do not need to manage delivery of the public verification keys t

[2020-05-18 18:32] bhushanRamnani commented on #334
How is that accomplished ? Public keys are not secrets and since apps are not going to be authenticating with the server, seems like apps will be able to download and verify keys from any server endpoint or even multiple servers. Am I missing something ?

[2020-05-18 18:47] mikehelmick commented on #334
Access to the exports and ability to import them is a separate thing from the signing.

If the exports are available on a public endpoint, then they can be imported by any app and will be verified by the device if the corresponding public key is installed.

If a server/app author wishes to protect their downloads some other way, then authentication would need to be implemented - not covered in our

[2020-05-18 19:23] mikehelmick opened #345 "Define interface for diagnosis key verification server"
The publish API current has a placeholder for accepting verifications codes that can be validated against an external authority to verify the keys should be accepted.

That "code server" is not and should not be part of this project, but defining a well formed interface so that this server can integrate with code servers is within the scope of this project.

/kind enhancement

[2020-05-18 19:24] mikehelmick commented on #270
/assign

[2020-05-18 20:00] #214 closed

[2020-05-18 20:39] mikehelmick commented on #267
/assign

will be in same PR as #270

[2020-05-18 21:40] mikehelmick commented on #269
/assign @sethvargo

fixed, correct?

[2020-05-18 21:44] sethvargo commented on #269
Gonna propose one more change to clarify which columns are for android and which are ios.

[2020-05-18 22:35] #267 closed

[2020-05-18 22:35] #270 closed

[2020-05-18 22:49] mikehelmick opened #349 "Implement diagnosis signature verification"
**Describe the solution you'd like**

Currently the publish exposures API accepts `VerificationPayload` but the use is of now undefined.

This field will contain a digital signature that can be generated by a health care authority and verified by our server.

The signing protocol must be documented as part of this work

[2020-05-18 22:50] mikehelmick opened #350 "Implement DEBUG mode for API"
Allow for API responses that convey the actual error

/assign
/kind enhancement

[2020-05-19 01:03] sethvargo commented on #197
We could also roll up https://github.com/google/exposure-notifications-server/issues/350 here, to provide standardized debug responses vs production responses

[2020-05-19 01:06] mikehelmick commented on #197
/assign

[2020-05-19 01:47] sethvargo commented on #242
/assign

[2020-05-19 03:25] sethvargo opened #357 "Move off of gcr.io/cloud-builders/gcloud"
It's deprecated:

[code]

[2020-05-19 03:44] steren opened #359 "Docs: draft deploy instructions"
The end of the [deploy instructions](https://github.com/google/exposure-notifications-server/blob/master/docs/deploying.md) are very raw, I am not sure I understand them:

![image](https://user-images.githubusercontent.com/360895/82282262-4276d300-9948-11ea-97e3-9ff1701e2286.png)

CC @llatif

[2020-05-19 04:00] steren opened #360 "Potential issue with using `--no-traffic` in first deployments"
I see that [`builders/deploy.yaml` is deploying to Cloud Run with the `--no-traffic` flag](https://github.com/google/exposure-notifications-server/blob/56c1484ced445579b3fc603affb0496e2642579a/builders/deploy.yaml#L57).

The `--no-traffic` flag cannot be used when creating a new service, traffic will always reach the first revision. If used, the command errors out with the message:
[code]

Is this

[2020-05-19 04:02] steren commented on #357
I asked for clarification internally.

gcr.io/cloud-builders/gcloud is used extensively all over the GCP docs. I doubt it's really deprecated (especially in favor of an image hosted on Dockerhub).

My guess is that the deprecation notice is deprecated :)

Please hold until we learn more from the Cloud Build team.

[2020-05-19 04:42] mikehelmick commented on #357
@ImJasonH Can you provide any insight?

[2020-05-19 04:43] mikehelmick commented on #360
I *think* that is being used for c/i only at the moment

[2020-05-19 04:44] mikehelmick commented on #345
/close in favor of #349

Instead of having the exposure notification server call out, we’re going to define a signed, inbound payload.

[2020-05-19 04:45] mikehelmick commented on #345
/close

[2020-05-19 04:45] #345 closed

[2020-05-19 04:46] mikehelmick commented on #203
/close

We have decied not to move forward with this within the exposure notifications server.

If an app / server operator wanted to utilize encryption we would suggest using the export server here to write to storage and then encrypt those files with a separate process before placing them on the CDN.

[2020-05-19 04:46] #203 closed

[2020-05-19 04:53] mikehelmick commented on #359
/cc @crwilcox

[2020-05-19 05:23] llatif commented on #359
This is being addressed in #362, cheers

[2020-05-19 05:28] crwilcox commented on #359
Thanks @steren these were added to bridge a gap. As @llatif stated they are being touched up :)

[2020-05-19 10:30] ImJasonH commented on #357
The deprecation message should link to a bug or doc with more motivation, and should recommend gcr.io/google.com/cloudsdktool/cloud-sdk

The issue is https://github.com/GoogleCloudPlatform/cloud-builders/issues/638

cc @bendory

[2020-05-19 12:05] bendory commented on #357
Yes -- you'll get that notice if you look in the repo (or build from `:latest`; the hosted service is not yet showing that deprecation notice to users, so I haven't yet done a full cleanup sweep.

[2020-05-19 12:26] sebagomez commented on #316
Awesome Rich, that's was it, thanks!
Will keep that rule in mind.

Thank you all!

[2020-05-19 12:26] #316 closed

[2020-05-19 15:35] yuliumitre opened #365 "Questions about CDN and Notification in Google Cloud Hosted Solution"
I used terraform to deploy the whole solution to google cloud.  Does the current deployment include creating Cloud CDN for the client to download the key file? Where does the notification piece from the functional spec image sit at current stage?

I guess my basic question is how the client gets the files after the scheduler is kicked off.

Thanks a lot for any help.

[2020-05-19 15:38] sethvargo commented on #365
Hi @yuliumitre

Thank you for opening an issue. At present the Terraform configuration does not set up or configure Cloud CDN. We're still thinking through how to automate that process, since it requires you to own and validate a domain.

[2020-05-19 15:40] sethvargo commented on #357
The deprecation message says to use `google/cloud-sdk`, but @ImJasonH you're suggesting `gcr.io/google.com/cloudsdktool/cloud-sdk` instead?

[2020-05-19 15:42] ImJasonH commented on #357
As @bendory said, the image you're using isn't rolled out to GCB yet, so users shouldn't be seeing this message at all today. I believe the intention is that the error message will be changed before it is rolled out.

[2020-05-19 15:44] yuliumitre commented on #365
Thanks for your quick response.

We are working on a pilot APP now. What would be a best way for the client to get those key files?

[2020-05-19 16:26] bendory commented on #357
Yes -- and indeed, this is already updated here in the repo.
Reference: https://github.com/GoogleCloudPlatform/cloud-builders/pull/674

[2020-05-19 16:38] #269 closed

[2020-05-19 17:03] #350 closed

[2020-05-19 18:27] sethvargo commented on #365
They are in Google Cloud Storage. For local testing, that's probably fine, but would be expensive for production. That's where you'd want the CDN.

[2020-05-19 18:27] Covid19Fighter opened #367 "Broadcasting a list of infected persons is not GDPR conform"
**Describe the bug**

The whole concept of this server is to store a list of infected COVID19 persons and send it to everyone.
I know that the list is supposed to be anonym, but locally you can match the IDs to a person. Even a beginner software developer will be able to modify the mobile app (Open Source and API are a good thing, but they are transparent and you can modify them) and store GPS and

[2020-05-19 18:59] yuliumitre commented on #365
@sethvargo Gotcha. Is there a plan to provide an API to allow the client to call to download those files from Cloud storage any time soon? Assume this is one of the two fundamental functionalities of the EN key server :-).

[2020-05-19 19:06] mikehelmick opened #368 "Terraform: Cloud Run service specs are too low"
/kind bug

For all jobs - we want to specify more than the default resource allocation

CPU: 2.0
RAM: 2gb for export server, 1gb for rest

[2020-05-19 19:18] sethvargo commented on #365
Hi @yuliumitre I believe that would be an API on the _client_, not the server. @mikehelmick for thoughts.

[2020-05-19 19:20] sethvargo opened #369 "Docs for setting up DeviceCheck"
We need instructions for

- [x] How to get DeviceCheck credentials
- [ ] How to store them in Secret Manager
- [ ] How to share access w/ our service account
- [ ] how to share resource IDs w/ server operator

[2020-05-19 19:21] sethvargo opened #370 "Create more reliable seed script"
The current seed (`testdata/config.sql`) has hardcoded project IDs for the test server. We should create a more robust script for seeding the database, likely inside `scripts/dev`.

[2020-05-19 19:26] mikehelmick commented on #367
/kind privacy

Please see the overall project page hosted at https://www.google.com/covid19/exposurenotifications/

In particular the FAQ and additional Terms of Service to utilize the on-device APIs.

[2020-05-19 19:28] #242 closed

[2020-05-19 19:29] Covid19Fighter commented on #367
If the app is Open Source a person can change it and use the modified app, this person (tech-savvy) will not comply to your ToS. If he does not use your store, you will not be able to notice he has a different app.

[2020-05-19 19:30] Covid19Fighter commented on #367
And the EU recommedation says you have to take measures to prevent it. A ToS will not do the job.

[2020-05-19 19:30] sethvargo opened #371 "Break apart Terraform into separate files"
main.tf is large. Break down by logical service.

[2020-05-19 19:46] yuliumitre commented on #365
I am thinking that if the server provide a list of URLs to the client for them to download based on the last time they request the files?

[2020-05-19 19:49] sethvargo commented on #367
Hi @Covid19Fighter - thank you for taking the time to open an issue and provide feedback. The server does **not** store information about a specific person or device. We've gone to extensive lengths (which you can audit in this codebase) to make the server unable to associate a particular exposure key to a device or person. In addition to the standard Apple AppStore and Google Play Store review pr

[2020-05-19 20:07] Covid19Fighter commented on #367
Thank you for the fast answer.
I do not find any info on the allowlist verification. How those the allowlist verification check that the app was not modified? They are open source, you can change the code.

[2020-05-19 20:11] sethvargo commented on #367
Those answers are available in our FAQ, linked at the bottom of https://www.google.com/covid19/exposurenotifications/.

[2020-05-19 20:20] sethvargo commented on #368
/assign

[2020-05-19 20:26] mikehelmick opened #372 "Terraform: en-export-sa@ missing permissions"
The en-export-sa SA that is created is missing the `Cloud KMS CryptoKey Signer/Verifier` permission

/kind bug

[2020-05-19 20:30] sethvargo commented on #372
/assign

[2020-05-19 20:37] mikehelmick opened #373 "Terraform: GCS bucket not public"
The GCS bucket that gets created should have 'allUsers' in the viewers permissions.

/kind bug

[2020-05-19 20:45] llatif commented on #359
Closing this as #362 as now been merged.

[2020-05-19 20:45] #359 closed

[2020-05-19 20:45] dirkx commented on #334
The current proposal calls for an unmanaged private key to be used; with the public key communicated out of bound to google and apple. With further key management (revoke, key rollover, dealing with loss or compromise) requiring the out-of-bound involvement of google; and a distribution of a new key outside the normal mobile-app distribution process (akin to, or part of, an operating system update

[2020-05-19 20:54] ijansch commented on #334
+1

Do keep in mind that this feature is not tied to this reference implementation so the solution can’t be specific to this repository.

[2020-05-19 21:01] sethvargo commented on #373
/assign

[2020-05-19 21:03] mikehelmick commented on #334
We'll update this thread when we have more information about key distribution.

[2020-05-19 21:15] gurayAlsac commented on #365
At the moment the server publishes an index.txt of all of the available downloads for the last 2 weeks (configurable). We recommend apps maintain the state of which URLs they've already downloaded -
 a simple timestamp "high water mark" and URLs on exports including a timestamp would be easy. Soon the sample app will also reflect this behavior:
https://github.com/google/exposure-notifications-andr

[2020-05-19 21:35] sethvargo opened #376 "Create a way to rebuild and deploy images"
Terraform creates the initial deployment, but we need a way to build and deploy new images after initial provision.

[2020-05-19 21:35] Covid19Fighter commented on #367
Sorry, not finding the right sentence. Could you please quote?

[2020-05-19 21:36] #197 closed

[2020-05-19 21:42] sethvargo commented on #367
Section `10. How will apps get approval to use this system?` in our FAQ linked at the bottom of https://www.google.com/covid19/exposurenotifications/

[2020-05-19 21:47] Covid19Fighter commented on #367
Ok, the guys that create the app will sign this and be approved. But they will publish the app as Open Source on a git. So anyone can modify this app and create a new one. So, how are you making sure this does not happen?

[2020-05-19 21:56] sethvargo opened #377 "Rename database in Terraform"
The current Terraform database name uses `contact-tracing`, which is less preferred to `exposure-notification` or `en`. Since this renames the Cloud SQL database, we need to coordinate with a production update.

[2020-05-19 21:56] sethvargo commented on #377
/assign

[2020-05-19 21:56] mikehelmick commented on #365
/kind question

[2020-05-19 22:01] sethvargo commented on #367
Hi @Covid19Fighter it's possible for people of any gender to create an app. Usually these apps will be developed by public health authorities (PHAs) or people working closely with PHAs. There's no requirement that implementers make their application open source. If someone were to modify the app and create a new one, that would be a _different_ app that would need to go through an approval process

[2020-05-19 22:05] Covid19Fighter commented on #367
Ok, so if they publish it as Open Source (like in Germany) and someone creates a modification and does not publish it by the Stores and propagates it as apk download, they could get the keys and combine them with additional information. Right?

[2020-05-19 22:05] #371 closed

[2020-05-19 22:10] sethvargo commented on #367
The code for the client or server application being open source is inconsequential to whether someone can make a custom app. Getting a user to install such an app would require them to enable installation from unknown sources.

[2020-05-19 22:11] Covid19Fighter commented on #367
Sorry I do not understand the point. The user is the one that wants to deciphers the keys (hacker). He knows his sources.

[2020-05-19 22:13] Covid19Fighter commented on #367
I think you have a major attack vector here.

[2020-05-19 22:13] sethvargo commented on #367
Can you be more specific about which keys you mean?

[2020-05-19 22:14] Covid19Fighter commented on #367
The keys of the infected persons you are broadcasting.

[2020-05-19 22:19] sethvargo commented on #367
Let me back up to add clarity that might help answer your query. The allowlist is both a client-side and server-side allowlist. In order for an app to access the client API (SDK), it needs to be added to an allowlist. In order for that same app to publish keys to a server, it needs to be in the allowlist for the server.

If someone were to take an existing app implementation and sideload it, they

[2020-05-19 22:20] Covid19Fighter commented on #367
Ok, but if it copies the app it will have the same identity as the original app. Or not?

[2020-05-19 22:21] mikehelmick commented on #367
no, it will not.

[2020-05-19 22:21] mikehelmick commented on #367
The temporary exposure keys that are sent to devices are only ever made available in large batches over a sufficiently large geographic area. There isn't anything to decipher, the keys are available for distribution to all mobile devices participating in the protocol.

If someone were to try and tamper with those exports, the file would fail to validate the signature as signed by the server and wo

[2020-05-19 22:25] Covid19Fighter commented on #367
The user is not tampering with them, the user is only reading them and comparing them to the list of keys stored locally as the original app does. The only change on the software would be to store other information (i.e. timestamp) additionally to the information received from bluetooth). If you know when you met the infected users you can find out who they were.

[2020-05-19 22:31] sethvargo commented on #367
The modified app cannot do this comparison because it doesn't have the root TTKs nor does it have access to the derived keys.

[2020-05-19 22:35] Covid19Fighter commented on #367
But the original app is comparing also the keys to find who is infected, and gets true or false. So the modified app will do the same and only look when it got the key that is now broadcasted as infected. If the original app can, the new should also be able to do this.

[2020-05-19 22:37] Covid19Fighter commented on #367
I mean, this is nothing new. It was mentioned on the DP-3T whitepaper by the professors. I thought you may have found a solution to this problem.

[2020-05-19 22:42] Covid19Fighter commented on #367
"However, the centralised design does not allow proactive
and retroactive linkage attacks by tech-savvy users to learn which contacts are infected"

[2020-05-19 22:50] mikehelmick commented on #367
The app is not responsible for comparing the keys, nor does any app have access to the derived keys that have been collected over BLE.

I would encourage you to read more of the documents from https://www.google.com/covid19/exposurenotifications/

In particular the items under

- Exposure Notifications Bluetooth Specification
- Exposure Notifications Cryptography Specification
- Exposure Notificat

[2020-05-19 23:06] Covid19Fighter commented on #367
Ok, I already went through documentation, but I am not finding any place that stops "proactive
and retroactive linkage attacks by tech-savvy users". Maybe it is solved, but this only seems possible if most of the logic is done under the app on the OS side (not open) and the app is only a kind of a mask.

[2020-05-19 23:07] Covid19Fighter commented on #367
The documentation is not extensive enough to be sure.

[2020-05-19 23:12] Covid19Fighter commented on #367
By the way, measuring distance with Bluetooth doesn't sound physically possible. Do you have studies on this?

[2020-05-19 23:57] sethvargo commented on #367
Hi @Covid19Fighter - this repository is for a sample server implementation. If you have specific questions about BLE, we're likely not the right group of people to answer them.

Are you able to describe a "proactive and retroactive linkage attacks by tech-savvy users"? I believe we've responded to all your concerns in previous comments.

[2020-05-19 23:59] #252 closed

[2020-05-19 23:59] yuliumitre commented on #365
Thanks for answering my questions.

[2020-05-20 01:07] yuliumitre opened #382 "Question about export-config"
I am wondering who is supposed to add export-config.  It seems like the export worker and create-batch are relying on the export-config to generate key files. I saw there is a tool to create the export-config and it will be nice to add some documentation to explain this export flow.  Thanks in advance.

[2020-05-20 01:31] #368 closed

[2020-05-20 01:31] #372 closed

[2020-05-20 01:31] #373 closed

[2020-05-20 01:31] #377 closed

[2020-05-20 02:24] kbobrowski commented on #367
Hi @sethvargo , thanks for your previous answers, they confirm my understanding of security aspects of Exposure Notification API. Further question on this topic: it seems that based on published cryptographic and Bluetooth specification it's possible to write implementation of Exposure Notification API from scratch - meaning that it'd be possible to "enrich" it's output with some additional data.

[2020-05-20 02:36] sethvargo commented on #367
Hi @kbobrowski thanks for your question. It's unlikely such an app/server implementation would pass the allowlisting requirements from the Google/Apple app stores. Our security and privacy team have gone to extensive lengths to remove the ability to associate a particular TEK to a device/person in our implementations. You can actually look at the closed issues history on this repository to see the

[2020-05-20 03:40] kbobrowski commented on #367
@sethvargo thanks, I'm sure that this kind of modified app (with re-implemented Exposure Notification API) won't appear in Play store, I had in mind situation where adversary might distribute APK. In this case I think safety would depend on whether country-specific application properly implemented SafetyNet for fetching TEK, and whether TEKs are handled properly on the device (not only in Google's

[2020-05-20 03:46] sethvargo commented on #367
Hi @kbobrowski - we've done our best to think through the various attack vectors. If you're able to reproduce an attack (or have an idea of how one might work), feel free to reach out to us confidentially at the email address in the README of this repo.

[2020-05-20 03:49] sethvargo opened #386 "When should Terraform stop?"
For discussion and thoughts @danawillow @ndmckinley @mikehelmick

Right now, Terraform configures an empty GCP project with all the things required to run an EN server. It _also_ does the initial provisioning and deployment of the Cloud Run services.

However, we need to build, deploy, promote, scale-up/scale-down those Cloud Run services outside of Terraform. In GH-385, I found that Terraform get

[2020-05-20 04:16] mikehelmick commented on #382
/kind question
/assign

Configuing the export config is up to the operator.

It involves two steps - creating signature info objects for defining the signers for an export and then scheuling the export in export config.

We’ll work to get this process documented in the next couple days.

[2020-05-20 04:17] mikehelmick commented on #386
I would be happy with always deploying by modifying terraform configs, but it has to be able to build/deploy after first deploy.

[2020-05-20 04:19] mikehelmick opened #387 "Create a tool to seed the database w/ starting data"
/assign
/priority important-soon
/kind enhancement

[2020-05-20 04:45] mh- commented on #367
@sethvargo The point @Covid19Fighter was making has been published e.g. in this [paper](https://eprint.iacr.org/2020/399.pdf) as "Nerd attack" (see also https://github.com/corona-warn-app/cwa-documentation/issues/102#issuecomment-631045106)

Personally, I don't see an issue with this: The "Nerd" would need to be a close contact of the infected person to be able to retrospectively identify them fro

[2020-05-20 05:50] Covid19Fighter commented on #367
@mh- I am meeting a lot of people I am not a close contact. Most of business people do.
@sethvargo - Again, the idea of broadcasting critical medical data to millions of devices is against all data protection and hacker recommendations. You can put 100 of layers of encryptions, rotate the keys, you will still get not one but hundreds of vectors. I think you got the whole decentralized idea wrong.

[2020-05-20 06:35] Covid19Fighter commented on #367
Please, I would be glad to discuss BLE with the rigth group of people. Getting distance out of RSSI measure on a dynamical environment does not seem easy or even possible to me. This again, is a well known fact.

[2020-05-20 07:41] Covid19Fighter commented on #367
@ all: Please do not think I am a kind of conspiracy person or even against a tracing app. I think to use technology to trace COVID19 is one of the most important tasks rigth now. But if you use broadcasting of critical information as communication against all data privacy concepts and BLE for distance measuring against every study published on this I am afraid we are loosing precious time here.

[2020-05-20 12:12] yuliumitre commented on #382
@mikehelmick Thanks for your reply. We are working on a pilot app for our state and would like to use your reference server. For now, we just want the happy path of exporting to work. Would appreciate it if you guys could provide some explanation about this process at your earliest convenience.

[2020-05-20 14:23] sethvargo commented on #387
Dupe of https://github.com/google/exposure-notifications-server/issues/370

[2020-05-20 14:23] #387 closed

[2020-05-20 14:49] sethvargo commented on #386
I think the current challenge is that Terraform has no visibility into building images. We shell out to gcloud and submit a build to Cloud Build. In an _ideal world_:

- Terraform submits build to Cloud Build
- Cloud Build returns the image SHA
- The Cloud Run service depends on image SHA (thus creating a dependency)

But support for submitting/receiving build information from Cloud Build doesn't

[2020-05-20 15:15] mikehelmick commented on #360
/assign @sethvargo

The work in progress will make this clear.

Terraform for initial setup and this will be part of incremental, but not first, deploy

[2020-05-20 15:17] mikehelmick commented on #365
/close

Please reopen if we can be of further assistance.

[2020-05-20 15:17] #365 closed

[2020-05-20 15:19] mikehelmick commented on #382
@yuliumitre - if you’re working on the official pilot app for your state, email us using the alias in the main README.md file and we can make sure that you’re getting the right level of support.

[2020-05-20 15:49] sethvargo commented on #367
Hi @Covid19Fighter - I believe we've addressed all of your feedback from previous comments. I kindly as that you please take some time to read our published information on https://www.google.com/covid19/exposurenotifications/. Many of the concerns you've addressed are mitigated or are not present in the design of this system.

- We are **not** "broadcasting all the critical medical data to million

[2020-05-20 17:16] Covid19Fighter commented on #367
@sethvargo - Thank you very much for the answer, I appreciate your effort. I think I need to look at more specific documentation. It is unclear for me at which level you perform the key matching. If it is at a level you can access only from the OS and you secure the OS or if it something you can actually do at the app. It is also unclear how the infected key data is transported and stored locally

[2020-05-20 18:22] #357 closed

[2020-05-20 18:22] #360 closed

[2020-05-20 18:22] #376 closed

[2020-05-20 18:46] sethvargo commented on #334
We don't rely on only TLS because this is protection against a potentially bad application (due to e.g. compromise). Both platforms (client and server) have a secure channel for distributing these keys and handling revocation, rotation, etc.

Adding an extra CA model on top of that is a lot of extra complexity and would require a new PKI scheme and new CAs. This leads to many other unanswered ques

[2020-05-20 18:50] Covid19Fighter commented on #367
@sethvargo Thank you for your effort. I still the concept of broadcasting the critical data is still wrong and it makes an attack to easy, because you get the IDs also locally by Bluetooth, so you can alway find a way to match them. Sending it to millions of devices and do it with Open Source software makes is here more dangerous. Yo can mitigate this main problem and do you try hard with the encr

[2020-05-20 19:02] gurayAlsac commented on #365
Sample app code has been updated. You can see how its managing the index.txt and downloading the export files in https://github.com/google/exposure-notifications-android/blob/master/app/src/main/java/com/google/android/apps/exposurenotification/network/DiagnosisKeyDownloader.java

[2020-05-20 20:48] danawillow commented on #386
I think if you need to update the cloud run services outside of Terraform, it's going to be error-prone to try to use Terraform for them at all. We already do the initial deploy inside of cloud build; it wouldn't be too absurd to also create the services at that time with gcloud.

Would support for a Build resource/data source (https://cloud.google.com/cloud-build/docs/api/reference/rest/v1/projec

[2020-05-20 20:52] sethvargo commented on #386
The problem is that we need information in the build output, like information from gcr

[2020-05-20 21:25] #369 closed

[2020-05-20 21:33] #291 closed

[2020-05-21 05:48] pkleczko commented on #367
@Covid19Fighter I think you don't understand how the process of whitelisting apps works. The fact that code source of each application will be published as an Open Source doensn't mean that anyone can modify this code and compile it as the same approved application. Every app is signed with a proper certificate. This certificate belongs to each Health Authority and SHOULD NOT BE PUBLISHED. So ever

[2020-05-21 12:01] ithinkihaveacat opened #400 "export-generate: rollingPeriod does not default to 144"
`export-generate` fails if `rollingPeriod` keys are not present in `keys.json`:

[code]

The `rollingPeriod` should probably default to 144, as per the [Server Functional Requirements](https://github.com/google/exposure-notifications-server/blob/master/docs/server_functional_requirements.md#publishing-temporary-exposure-keys).

[2020-05-21 12:02] ithinkihaveacat commented on #400
/cc @gurayAlsac

[2020-05-21 12:56] krazykid opened #403 "Cloud Build Trigger build-containers Failure - _REGION not set in trigger"
**Describe the bug**
The `build-containers` trigger failed when applying new code changes. The error from Cloud Build was:

[code]

It will probably fail on other `deploy.yaml` steps that reference `_REGION`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: Cloud Build > Triggers
2. Click on: build-containers > Run trigger
3. Go to: Cloud Build > History
4. Watch the build, and in the

[2020-05-21 13:06] mikehelmick commented on #400
The value is requred, but values < 144 are expected if an exposure is repored mid day

[2020-05-21 14:43] #403 closed

[2020-05-21 15:05] #273 closed

[2020-05-21 16:21] Covid19Fighter commented on #367
@pkleczko - Thank you! This seems to make some sense from the security side. It indeed mitigates the problem further. Sorry but I did not find any place giving such exact definition of the process.
If the app has a certificate and the certificate is whitelisted and you check at runtime this certificate everytime you may close some of the major vectors, you can try to simulate the whitelist authori

[2020-05-21 16:38] mikehelmick commented on #367
Hi folks - I'm going to close this issue.

I believe the questions that have been asked have been answered. As @sethvargo pointed out in a previous comment. None of us are accredited lawyers in the EU and we cannot comment on GDPR conference.

As of right now, Google and Apple are NOT running this server. We are providing it to governments and public health authorities to run.

If you have a concr

[2020-05-21 16:38] #367 closed

[2020-05-21 20:21] wescarr opened #405 "jsonUtil content type parsing is too strict"
**Describe the bug**
The `jsonUtil.Unmarshal` function does a strict equality check of the `Content-type` header and expects only the value `application/json`. Many http libraries automatically include the `charset` parameter to specify the encoding, of the form:
[code]

I would suggest using the `mime` package's `ParseMediaType` function instead:
https://golang.org/pkg/mime/#ParseMediaType

**To

[2020-05-21 20:28] sethvargo commented on #405
/assign

[2020-05-21 20:28] mikehelmick commented on #405
/kind bug
/kind good-first-issue

[2020-05-21 21:37] #405 closed

[2020-05-21 21:41] #386 closed

[2020-05-21 23:47] odeke-em commented on #256
Perhaps, we could use OpenCensus https://pkg.go.dev/go.opencensus.io/trace?tab=doc  which can then use to trivially hook up to Stackdriver, Zipkin, Jaeger or any other backend using the agent. I’d be delighted to help out with this if we deem this direction useful, and for disclosure I worked on most of the mentioned parts and stewarded the project.

[2020-05-22 00:14] mikehelmick commented on #256
Hi @odeke-em - That would be great if you want to help out.

Our main deployment platform is Google Cloud Run, but this application needs to be portable to other environments, so ensuring that the exporter can be configured dynamically is important).

[2020-05-22 01:15] crwilcox commented on #35
#407 and #410.
Considering this work complete.

[2020-05-22 01:15] #35 closed

[2020-05-22 01:56] sejr commented on #312
Happy to see what I can do with this, if it’s still available.

[2020-05-22 02:12] mikehelmick commented on #312
I imagine the grep statement needs to be re-run, but this is still up for grabs.

Type "/assign" on a line by itself to assign the issue to yourself.

[2020-05-22 02:14] sejr commented on #312
/assign

[2020-05-22 04:54] gmilano opened #414 "Implement On premises Signer instead of GCPKMs"
**GCPKMs is not allowed to be used in our country**
We need an on-premise implementation reference for signing export files.

**Solution: Have an on-premise implementation of a KeyManager interface**
In the reference code there is gcpkms.go when an implementation using the Google Cloud service. We are expecting a similar option to be used locally.

We already have a custom implementation for the K

[2020-05-22 05:21] mikehelmick commented on #414
Would support for signining via hasicorp vault be sufficient?
We’ve already added support for vault secret management and could do the same for signing?

Or do you require loading keys from local storage?

[2020-05-22 05:21] mikehelmick commented on #414
/kind enhancement
/priority important-soon

[2020-05-22 05:32] mikehelmick commented on #414
/assign

[2020-05-22 05:54] gmilano commented on #414
With Vault is great and enough for us, we are using the Vault
implementation for secrets.

El El vie, 22 de may. de 2020 a la(s) 02:21, Mike Helmick <
notifications@github.com> escribió:

--

Gaston Milano
CTO | GeneXus
[image: GeneXus] <http://www.genexus.com/>

[2020-05-22 12:35] naveensrinivasan commented on #241
/assign

[2020-05-22 12:36] naveensrinivasan commented on #241
/assign

[2020-05-22 12:36] naveensrinivasan commented on #241
Going to implement the tests.

[2020-05-22 12:52] naveensrinivasan commented on #241
/unassign

[2020-05-22 17:19] mikehelmick commented on #414
Actually - I’m going to hand this off
/assign @sethvargo

[2020-05-22 23:01] #414 closed

[2020-05-23 13:09] krishnadurai opened #420 "Exporting each server module as a package in exposure-notifications-server"
Team, it's great to see the work put behind this sample server.

We at covidsafepath.org are evaluating if we can re-use this work for creating our own exposure server customized to some generic Healthcare Authority requirements.

For our own custom requirements, we wish to develop our own modules in addition to the functionality provided by this server. In this light here are some of our strategi

[2020-05-23 14:00] mikehelmick commented on #420
Are you able to share any of the custom requirements? Would they make sense for us to include in this implementation?

As for which approach makese the most sense, I think it does depend on what kind of extension points you are looking for.

If you want to, for example, upload additional information, right now that would require maintaining a fork.

[2020-05-23 14:08] krishnadurai commented on #420
@mikehelmick Thanks for your quick response.

Here's a document which has a schematic strawman diagram for our requirements:
https://pathcheck.atlassian.net/wiki/spaces/PROD/pages/46235692/Bluetooth+BLE+mobile+app+proof-of-concept
![GAEN MVP Design](https://user-images.githubusercontent.com/6263389/82732776-f43d4780-9d2c-11ea-8f03-1c4d7ebf0c99.png)

The key points of addition are:
1. A test authen

[2020-05-23 14:16] krishnadurai commented on #420
@mikehelmick it would be fantastic if we could have this work as a part of exposure-notification-server. I'll check to see if Path Check, Inc can support this.

[2020-05-23 14:36] mikehelmick commented on #420
Thanks for the info.

We are thinking of the “test authentication server” as a wholy seperate piece from the exposure notificavtions server as one system likely eneds to deal with personally identifiable information (PII) and the other only deals with anonymous data.

We should be able to share some information about the design we are considering in a few days.

[2020-05-23 14:48] krishnadurai commented on #420
Sure that would be great.

[2020-05-23 14:50] krishnadurai commented on #420
Is there a plan to add Authentication and Authorization to the existing exposure-notificaton-server?

[2020-05-23 16:18] sethvargo opened #422 "Should we vendor dependencies?"
We're currently using Go modules, so dependencies are resolved as-needed. However, if a dependency were to ever go away, that could introduce instability. Furthermore, on CI and CD, we spend the additional CPU and bandwidth _every time_ to resolve and download all the modules.

We could, instead, vendor the dependencies (`go mod vendor`) and still use Go modules to maintain the dependency list. It

[2020-05-23 17:01] johanbrandhorst commented on #422
The use cases for vendoring in an open source project are pretty small nowadays. To counter your points:
* Dependencies "going away" is much less likely to happen since the introduction of the official (and third party) Go proxies: https://github.com/golang/go/wiki/Modules#are-there-always-on-module-repositories-and-enterprise-proxies. These hold complete copies of the source, so even if the depen

[2020-05-23 17:07] johanbrandhorst commented on #247
@thatlkat Is this document publically available somewhere? I'd be interested in experimenting with this.

[2020-05-23 17:14] johanbrandhorst opened #423 "Where are the CI/CD tests run?"
Some of the issues are around testing, especially integration testing, and speeding up pipelines, but it's not clear to me where any CI/CD testing is run at the moment, and knowing more about the test environment is essential to being able to write appropriate tests, especially integration tests. I'd also be interested in contributing caching improvements to pipelines, since #422 implies that this

[2020-05-23 17:38] LukasMasuch opened #425 "Question about the key data file limits"
With the most recent update of the exposure notification API, new limits got added for how many key data files can be checked for exposure matches. The daily limit is [15 for iOS](https://developer.apple.com/documentation/exposurenotification/enmanager/3586331-detectexposures) and [20 for Android](https://static.googleusercontent.com/media/www.google.com/en//covid19/exposurenotifications/pdfs/Andr

[2020-05-23 20:39] johanbrandhorst commented on #423
Implementing https://github.com/google/exposure-notifications-server/pull/424 leads me to believe these are being run internally at Google at the moment. I'd love to help migrate this to something more accessible like CircleCI or Github actions or anything that could help bring more transparency.

[2020-05-23 21:56] johanbrandhorst commented on #256
Just out of curiousity @odeke-em, since this is your area of expertise; why not opentelemetry? Would we need to migrate wholesale to otel later?

[2020-05-24 00:09] mikehelmick commented on #422
-1 to vendoring.

I wonder if we can throw more resources at the prow instance.

[2020-05-24 00:10] mikehelmick commented on #423
For CI we are using a Google hosted installation of [prow](https://github.com/kubernetes/test-infra/tree/master/prow)

At the moment, I could considering moving this a low priority item. We can examine opening up the output logs beyond Googlers if that's a concern.

[2020-05-24 01:28] odeke-em commented on #256
Great question and great to catch you here @johanbrandhorst!
So:
a) the exporters for vendor-agnosticity are there for OpenCensus but not for OpenTelemetry -- the goal here is that anyone should be able to get the metrics and traces when it is deployed on any service. OpenCensus has [ocagent-exporter ](https://pkg.go.dev/contrib.go.opencensus.io/exporter/ocagent/) while OpenTelemetry doesn't yet h

[2020-05-24 10:25] johanbrandhorst commented on #423
That would be great, but it would also be great to have visibility of the CI configuration. I couldn't find anything like a job definition file in the repo, except a Makefile and Dockerfile in https://github.com/google/exposure-notifications-server/tree/master/.prow/images/exposure-notifications-test which doesn't seem to actually run anything. Am I missing something?

[2020-05-24 14:29] jan25 commented on #241
/assign

[2020-05-24 16:20] sethvargo commented on #423
You can run the tests locally with `./scripts/presubmit.sh`. That’s what CI runs. We have plans to move to a public instance of prow, but as Mike said, it’s lower priority than some other items.

[2020-05-24 16:22] sethvargo commented on #422
It’s not prow, it’s Cloud Build

[2020-05-25 01:31] sherifkozman opened #430 "Cloud run deployment shouldnt invoke --no-traffic for creating new services"
**Describe the bug**
./scripts/deploy fails in creating Google Cloud Run services

Error : `ERROR: (gcloud.run.deploy) --no-traffic not supported when creating a new service.`

No Traffic options assumes at least one service version is deployed : https://cloud.google.com/sdk/gcloud/reference/run/deploy#--no-traffic

![Screenshot 2020-05-24 18 30 06](https://user-images.githubusercontent.com/666788

[2020-05-25 01:34] mikehelmick commented on #430
Hi - did you use the terraform config to initialize the project first?

[2020-05-25 02:42] sherifkozman commented on #430
The Terraform setup works pretty fine, but the README doesnt indicate that Terraform is a pre-requisite to use the setup scripts as they indicate possibility of using a custom DB connection to reliant over GCP Cloud SQL.

The README wording indicates that setup scripts can be used to build, run , deploy services on its own (excluding the data persistence layer(

[2020-05-25 02:44] #430 closed

[2020-05-25 02:46] sherifkozman commented on #430
The wording may not be clear but it hints at using Terraform first. Please disregard the issue.

[2020-05-25 03:42] mikehelmick commented on #425
/assign @gurayAlsac

The process of performing the file import and key matching is fairly CPU intensive. I believe the suggestion is to perform this operation while the phone is charging + on wifi if possible (i.e. nightly charging).

Our suggestion would be longer windows 6,12,24 hours and larger regions, likely country level.

As for region interpretability. The federation API as specified in th

[2020-05-25 04:35] ysalomon opened #431 "implement TENP"
We have recently published the [Threat Exposure Notification Protocol](https://tenprotocol.org/), an RFC proposal, also available on [Github](https://github.com/tenprotocol/tenprotocol), together with an initial [server reference implementation](https://github.com/tenprotocol/tenprotocol-server/tree/master).

Our objective was to solve the following key limitations:

1. Interoperability across dec

[2020-05-25 10:10] marekaf opened #432 "default sslmode=required is invalid"
**Describe the bug**
Hello 👋
I tried to deploy everything with terraform and get the admin-console running but I ran into a problem:

[code]

I can make it work without using ssl by explicitly exporting this ENV var

[code]

**To Reproduce**
[code]

**Expected behavior**
sslmode should be either `require` by default or `disable` or it should be mentioned in the docs

[2020-05-25 11:10] apmarshall opened #433 "Exposure Key TTL is Too Short/Should be Handled by Clients Not Server"
Caveat: I’m a golang novice and am not an epidemiologist, so perhaps this issue will be nonsensical. If so, I apologize.

After reading through this out of curiosity, I noticed something that doesn’t quite make sense to me. Currently, exposure keys effectively “expire” after a certain amount of time (default 336h/14 days), so whenever the cleanup routine is run keys older than that will be removed

[2020-05-25 12:50] sethvargo commented on #432
sslmode should be “disable” when using the Cloud SQL Proxy. Otherwise it should be “require”, “verify-ca”, or “verify-full”. When using the proxy, your connection is still encrypted, but you talk to the proxy over localhost and the proxy handles TLS.

[2020-05-25 12:54] sethvargo commented on #433
Hi @apmarshall - thank you for the feedback. 14 days is the current guidance from epidemiologists, but we designed the system to be configurable. If guidance should change, we can increase or decrease that number.

/kind question

[2020-05-25 14:31] #241 closed

[2020-05-25 14:54] sethvargo commented on #431
Hi @ysalomon

Thank you for opening an issue. Our API is open (it's this repo), and we've published our server and client API interactions in partnership with Apple at https://www.google.com/covid19/exposurenotifications/ since mid-April.

If you have specific areas where you think our implementation differs from TENP, please feel free to open issues or submit Pull Requests to highlight those diff

[2020-05-25 14:54] #431 closed

[2020-05-25 15:48] gurayAlsac commented on #425
Also note that the server needn't only provide export files at a single constant cadence. For example, it could provide files spanning multiple hours, days and even weeks all at the same time to offer client apps flexibility. In the case of a device that has been off for a while or has just newly begun to participate in the protocol, it may elect to consume these larger time span files to "catch u

[2020-05-25 15:48] mikehelmick commented on #433
14 days is a hard number in the device (iOS + Android) APIs. They will ignore keys that are older than 14 days when matching is requested.

Reference: [Android API documentation v1.3.2](https://static.googleusercontent.com/media/www.google.com/en//covid19/exposurenotifications/pdfs/Android-Exposure-Notification-API-documentation-v1.3.2.pdf)

Our system allows for configurable storage, if an operat

[2020-05-25 15:50] mikehelmick commented on #432
/assign

I'll update the docs accordingly. Cloud SQL proxy uses a local socket w/ ssl disabled and manages the SSL connection between your workstation and the Cloud SQL VM.

[2020-05-25 17:55] apmarshall commented on #433
On further reading, I may have figured out how this works and found the answer to my own question. Correct me if I’m wrong:

Devices refresh their exposure keys at regular intervals. So a given device may be represented by multiple exposure keys in the database. This means that a given key doesn’t just represent a device, it represents that device at that time (interval). Therefore, deleting the k

[2020-05-25 19:38] mikehelmick commented on #433
Devices get new temporary exposure keys every day.

This reference server doesn't have a protocol implemented for continuously updating keys after the initial diagnosis. That's not to say that is prohibited in this model, but we haven't yet accounted for it.

/close

Feel free to reopen if you feel something has gone unanswered here. Thanks!

[2020-05-25 19:38] #433 closed

[2020-05-25 19:42] mikehelmick commented on #422
/close

@sethvargo - you know what to do if you disagree 😃

[2020-05-25 19:42] #422 closed

[2020-05-25 21:53] mikehelmick commented on #382
After PR #435 - there is one more PR to go to make the system configurable via UI

[2020-05-25 23:24] #256 closed

[2020-05-26 15:41] beggers opened #437 "non-logs-based metrics"
In GCP, and probably in some OSS solutions, logs-based metrics can be used solely to count the number of log lines matching a search. This doesn't work for things like latency distributions. We should use a real metrics framework like Prometheus.

[2020-05-26 15:45] sethvargo commented on #437
We should probably use an abstraction here like https://github.com/armon/go-metrics and then have a default configuration for something like statsd or prometheus.

[2020-05-26 15:45] beggers commented on #437
Agreed.

[2020-05-26 16:10] mikehelmick commented on #437
There's already an abstraction for metrics, but going to a more common thing is 👍

[2020-05-26 16:10] mikehelmick commented on #437
/kind enhancement

[2020-05-26 17:43] krazykid opened #438 "Missing: setup_ko.sh"
**Describe the bug**
https://github.com/google/exposure-notifications-server/blob/master/docs/deploying.md states that I should configure `ko` with `source setup_ko.sh`, except `setup_ko.sh` is not in the source tree.

[2020-05-26 17:48] sethvargo commented on #438
/kind bug
/kind docs
/assign

[2020-05-26 18:30] sethvargo commented on #423
Hey @johanbrandhorst - I'm going to close this out. We have threads running internally about moving to the public prow instance, but with GH-428, it should be super trivial to run `go test ./...` and the tests will setup any requirements. Let us know if you have any other questions and thanks for your contribution!

[2020-05-26 18:30] #423 closed

[2020-05-26 18:31] sethvargo commented on #420
Hi @krishnadurai - this server (the exposure-notification-server) is intentionally anonymous and we go to great length to avoid collecting any identifiable information.

[2020-05-26 18:32] johanbrandhorst commented on #423
Sure thing, the `scripts/presubmit.sh` was really all I needed, thanks!

[2020-05-26 18:32] sethvargo commented on #400
Hi there. I'm going to close this as I think it's been answered. Please comment and we can re-open if you disagree.

[2020-05-26 18:32] #400 closed

[2020-05-26 18:38] krishnadurai commented on #420
Thanks @sethvargo. It does make sense to have this service anonymous.

[2020-05-26 18:40] #438 closed

[2020-05-26 18:40] #432 closed

[2020-05-26 18:41] krishnadurai commented on #420
BTW we have released a design doc for PathCheck's documented requirements as shown in the previous [comment](https://github.com/google/exposure-notifications-server/issues/420#issuecomment-633060876).

https://bit.ly/aurorabackend

It would be great if you could take a look and suggest improvements.

[2020-05-26 18:43] krazykid commented on #386
I'm pretty new to TF and GCP, but have had pretty much a crash course on it in the last month and half. I was just wondering why not:
* Have TF create a Cloud Trigger which does:
  * Build
  * Deploy containers to Cloud Run (not shift traffic) via `gcloud run deploy ...` in the `cloudbuild.yaml` file
* Pull trigger (either through TF or hand)
* `terraform apply` the second half of deployment that

[2020-05-26 18:47] sethvargo commented on #386
Hi @krazykid

We actually originally had a Cloud Build Trigger. There have been a few cases where we don't want continuous delivery (e.g. database migrations where we want to plan ahead).

[2020-05-26 19:27] krazykid commented on #386
Thanks @sethvargo. Kind of a bummer that the trigger went away, but I get it. Could you have had the `cloudbuild.yaml` file handle the DB migration too? Just curious.

[2020-05-26 21:17] johanbrandhorst commented on #437
OpenCensus supports exposing Prometheus metrics, there's no need to add anything else. The existing tools already expose HTTP and gRPC metrics out of the box. I suggest reading up on OpenCensus.

cc @odeke-em

[2020-05-26 21:21] johanbrandhorst opened #443 "Additional linters"
**Is your feature request related to a problem? Please describe.**
As developers we inevitably make mistakes, and sometimes tooling can help avoid costly bugs or confusing code.

**Describe the solution you'd like**
I'd like to add the `staticcheck` and `errcheck` linters to run in `presubmit.sh` and block any issues found. Both of these linters have very high signal to noise ratio and should not

[2020-05-26 21:27] sethvargo commented on #443
If possible, it'd be great to _warn_ on these things first instead of failing CI. I worry about folks wasting hours fighting with a linter.

As a concrete example, `errcheck` is going to complain _everywhere_ that we don't check the error returned from `http.ResponseWriter.Write`. Should we - probably? But it's adds complication to the code and isn't something we've prioritized as a fix right now.

[2020-05-26 21:27] mikehelmick opened #445 "Allow export config to read multiple regions"
**Is your feature request related to a problem? Please describe.**

Export config currently only allows for a single `region` in the configuration. This means that the input and output regions have to be the same. This possibly requires up-leveling of regions at the app.

**Describe the solution you'd like**

Change export config to have `output_region` (The current `region` field is fine).

Allow

[2020-05-26 21:35] johanbrandhorst commented on #443
That's a great question! `staticcheck` goes to great lengths to only enable checks by default that are unambiguously helpful, so I'm not so worried about that one being noisy.

errcheck is a bit more inaccurate as you say because we don't normally check errors from functions like fmt.Println, and probably don't care, so as part of adding this linter I'll have a look at existing infractions and add

[2020-05-26 21:36] krazykid opened #447 "Unable to start admin-console"
**Describe the bug**
I'm trying to start the admin console as described [here](https://github.com/google/exposure-notifications-server/blob/master/docs/deploying.md). Except when I run the admin console, I get the following error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. On local machine, start `cloud_sql_proxy`: `cloud_sql_proxy -instances=$DB_CONN=tcp:$DB_PORT &`
2.

[2020-05-26 21:39] sethvargo commented on #443
I'd definitely be in favor of staticcheck on by default. Maybe we should separate the discussion of staticcheck and errcheck?

Personally I run these linters in my IDE (VS Code), so most don't bother me. I usually find myself spending a ton of time fighting errcheck for the reasons you mentioned.

[2020-05-26 21:46] mikehelmick commented on #447
For localhost, can you try setting `sslmode=disabled` ?

[2020-05-26 21:54] krazykid commented on #447
@mikehelmick I must have missed the latest commit by a few minutes and didn't see the `export DB_SSLMODE=disable`. The admin tool works properly when I disable SSL. I don't know if the typo is going to be an issue elsewhere.

[2020-05-26 21:54] sethvargo commented on #447
Hi @krazykid - when running with the Cloud SQL proxy, you want to _disable_ ssl. This is documented in Step 2 of the instructions:

I've opened #448 to fix the default value.

[2020-05-26 21:56] krazykid commented on #447
@sethvargo As I just mentioned, with SSL disabled, the admin console works. 😄

[2020-05-26 21:58] #447 closed

[2020-05-26 22:10] johanbrandhorst commented on #443
Great, sounds like we have concensus around staticcheck to start with. We can leave errcheck for later.

[2020-05-27 00:52] #370 closed

[2020-05-27 00:52] #382 closed

[2020-05-27 00:55] mikehelmick commented on #445
/unassign @gurayAlsac
/assign

I'll take this next.

/priority important-soon
/kind enhancement

[2020-05-27 01:13] mikehelmick opened #450 "Service to generate data"
### TL;DR

Create a deployable service to generate TEKs. For testing purposes only.

### Design

**Proposal**

New HTTP handler in /cmd that can use be deployed and scheduled.

**Alternatives considered**

Current generation tools can't run unattended on cloud infrastructure.

/assign
/kind enhancement

[2020-05-27 01:42] #450 closed

[2020-05-27 03:33] varshithr opened #453 "Remove deleted filename entries from index.txt on cleanup-export operation"
Cleanup-export operation updates exportfile table status as well as deletes the files from GCS but it doesn't update the index.txt by removing deleted file entries.

[2020-05-27 03:51] mikehelmick commented on #453
/kind bug

/cc @gurayAlsac @squee1945

[2020-05-27 03:52] mikehelmick commented on #349
I wanted to give a quick update for anyone watching this issue.

We have a candidate design here and I'll be detailing it along with a PR to show the verification piece in the next couple of days.

[2020-05-27 04:08] mikehelmick opened #454 "Add data generation to terraform config?"
### Question

should we add the new data generation server to the default terraform config?

could be done without adding the cloud scheduler component.

pro: would be useful in getting people up and running with test data

con: should be disabled before going to production.
-- Low risk of harm if left on, as we also generate padded fake data on downloads.

[2020-05-27 14:12] sethvargo commented on #454
/assign

[2020-05-27 16:14] crwilcox opened #459 "feat: Implement a storage backend for Azure Blob Storage"
While there hasn't been an ask yet, it is possible folks will want to store on other cloud providers.

https://github.com/google/exposure-notifications-server/tree/master/internal/storage contains a Google Cloud Storage and a Local File Storage implementation. It should be straightforward to implement the interface for Azure.

The interface is
[code]

[2020-05-27 16:15] crwilcox opened #460 "feat: Implement a storage backend for AWS S3"
While there hasn't been an ask yet, it is possible folks will want to store on other cloud providers.

https://github.com/google/exposure-notifications-server/tree/master/internal/storage contains a Google Cloud Storage and a Local File Storage implementation. It should be straightforward to implement the interface for AWS.

The interface is
[code]

related to #459

[2020-05-27 16:18] #454 closed

[2020-05-27 16:58] #453 closed

[2020-05-27 19:56] sethvargo opened #466 "protoc-gen-go is deprecated?"
Build output:

[code]

We need to investigate why and what to do.

[2020-05-27 20:14] mikehelmick commented on #466
This is due to the recent inclusion of open census as an exporter

[code]

<remove oca contrib exporter from internal/observability>

[code]

[2020-05-27 20:21] mikehelmick commented on #466
@odeke-em - Any thoughts?

[2020-05-27 20:25] odeke-em commented on #466
Thanks for bringing it to my notice, and apologies for the inconvenience!
Is this issue a blocker or preventing builds from passing? If so, we can
remove ocagent and in the background I’ll go work on re-generation of it.
If not, I’ll still work on re-generation of the libraries. That deprecation
seems recent (aka past 7 months or so) compared to when we last generated
opencensus-proto.

On Wed, Ma

[2020-05-27 20:31] mikehelmick commented on #466
Filed an issue here
https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/issues/82

I put up
https://github.com/google/exposure-notifications-server/pull/467

to temporarily remove this from the code. If you could work on getting this fixed and restoring, that would be awesome.

[2020-05-27 20:40] mikehelmick commented on #425
/close

please reopen if you feel this is still unanswered

[2020-05-27 20:40] #425 closed

[2020-05-27 20:57] johanbrandhorst commented on #443
I started looking at this, and I wanted to pre-build a docker image we can use to run a pinned version of staticcheck, and went looking for some prior art and found the following images:

[code]

However, I couldn't find where these images are built, so I assume it's out of band. What would be the best method for me to have one of these images built with control within the repo? I could of course

[2020-05-27 21:09] sethvargo commented on #443
They are built inside the `docker` folder in this repo.

[2020-05-27 21:35] #445 closed

[2020-05-27 22:22] odeke-em commented on #466
Thanks for the file! I've sent a PR fixing it to the ocagent-exporter repository per https://github.com/census-ecosystem/opencensus-go-exporter-ocagent/pull/83. The issue was that the grpc-gateway dependency version was old and needed an update.

[2020-05-28 02:03] sethvargo opened #471 "Move to per-service database credentials and POLP"
Right now, we share a single database login that basically has `root` on the database with all the services. We should:

1. Define the minimal set of database interactions for each service
1. Create a unique user and cert for each service
1. Grant services access to only those credentials
1. Provision the schema permissions using [the Postgres provider](https://www.terraform.io/docs/providers/post

[2020-05-28 12:30] augard commented on #138
Currently there is no guide how integrated server with app? Or any other doc that will help integrate app with server.

[2020-05-28 15:31] gurayAlsac commented on #138
There isn't a formal spec and different apps or servers may have different needs. But we have made a sample reference app available that integrates with this server:
https://github.com/google/exposure-notifications-android

The gist of it is that this server makes available an index of available export files to fetch, which the app periodically checks. See https://github.com/google/exposure-notifi

[2020-05-28 17:56] mikehelmick commented on #471
if we do this, we'll need to issue a cert for the admin console that can write to all the config tables

[2020-05-28 23:50] #466 closed

[2020-05-29 01:11] sethvargo commented on #250
Oh hey, stalebot works 😄

[2020-05-29 04:19] varshithr opened #481 "Optimal EXPORT_FILE_MAX_RECORDS in production"
### Question
Hey guys,
Considering Android and iOS deployments, what's the optimal size(number of keys) per batch size in a production environment?

[2020-05-29 04:23] mikehelmick commented on #481
/assign @gurayAlsac

[2020-05-29 09:44] alpe opened #482 "VerifySafetyNet not called for DualPlatform devices"
### TL;DR
DualPlatform devices are treated as IOS only due to the `else` in
https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L140

**Expected behavior**
I assume to be correct you want to verify against both OS platforms.

**Observed behavior**
Just reading the code. Unfortunately setup complexity is a bit too high to provide a unit test.

### Reprodu

[2020-05-29 13:35] mikehelmick commented on #482
/assign

[2020-05-29 13:54] mikehelmick commented on #482
Thanks for the bug report - I have a fix out for review.

[2020-05-29 13:58] #482 closed

[2020-05-29 16:10] gurayAlsac commented on #481
The short answer is that it depends. :) We recommend instrumenting apps to see how they are handling the export files and adjusting accordingly. If you are doing a single daily export and the apps wait overnight to download and process it, you can probably have larger files. Our loose upper bound recommendation in the [file format spec](https://www.google.com/covid19/exposurenotifications/pdfs/Exp

[2020-05-29 18:20] gurayAlsac commented on #334
W.r.t. the actual process of how to provide a server's verification keys to Google for distribution, the folks that are working to onboard you for usage of the API will provide you an issue tracker link you can use to upload the key along with some related information. If you are not already in communication with Google, you can start at https://support.google.com/googleplay/android-developer/cont

[2020-05-29 19:37] sherifkozman opened #489 "Multiple Apps handling within database"
### Question
The Sample tool hints at the possibility of configuring multiple mobile apps within the same server environment.
Can apps using the same server and different bundle ID utlize checking exposure keys intersections in the same database.
Are keys/data isolated per app on the database/server level ?

[2020-05-29 19:48] sethvargo commented on #489
Hi @sherifkozman - thank you for asking a question. The server is designed to be multi-tenant and can work with multiple applications simultaneously. It can also support dual apps for both iOS and Android as a single config, provided they use the same application bundle ID.

[2020-05-29 20:25] mikehelmick commented on #489
Keys are stored in the same database.

Keys are associated with one or more regions, and exports can get data from one or more regions.

One could imagine where there are mobile apps for every US state, all writing to their state's region, i.e "CT", "NY", "PA" and an export file that pulls in all 50 states for a country wide export.

It is also possible to have the uploads and exports to be totall

[2020-05-29 20:38] sherifkozman commented on #489
@sethvargo @mikehelmick Thanks for the response. I guess my question would be then :
What is the default behaviour of exposure notification if multiple application/bundle_IDs are configured within the same deployment.
i.e
1st app : com.app.state1 (Region NY)
2nd app : com.app.state2 (Region CA)
What would be the expected default behaviour if a user from app1 reported postive crosspath with user fr

[2020-05-29 20:50] sherifkozman opened #491 "External Federated ingest/upload"
### Question
There are mentions within the functionl componeses and server cloud run deployments about federated ingest of data through third parties.
What kind of ingest is expected to be as a sample use case, given that all ingest workflow between client-server should be follow a specific flow such as verification of App ID ?=

[2020-05-29 21:12] mikehelmick commented on #491
Let me know if this isn't exactly the answer that you're looking for.

The idea behind federation is to cover 2 scenarios

1. Multiple apps / servers covering the same geographic area
2. Travellers across geographies.

We've kept things fairly loose as there are lots of different scenarios our partners have considered as they go about this.

For 1 - imagine that Washington and Oregon are each oper

[2020-05-29 21:17] gurayAlsac commented on #489
As Mike was saying, this behavior is configurable. You can either generate exports for a region containing only keys from that region, or broadcast all keys from all regions to all regions. See the OutputRegion and InputRegion parameters of ExportConfig in https://github.com/google/exposure-notifications-server/blob/5647421d17c89205f2a1f1aa73288f3cc78b4fa8/internal/export/model/export_model.go#L39

[2020-05-29 21:28] sherifkozman commented on #489
Great aproach, thanks for the clarification folks.

[2020-05-29 21:28] #489 closed

[2020-05-29 21:32] sherifkozman commented on #491
Thanks for the clarification, i guess i was thrown off by the term "Ingestion of keys from other parties" within the documentation here : https://github.com/google/exposure-notifications-server/blob/master/docs/server_deployment_options.md

[2020-05-29 21:32] #491 closed

[2020-05-30 00:16] mikehelmick commented on #173
/close

[2020-05-30 00:16] #173 closed

[2020-05-30 03:10] varshithr commented on #481
Thank you @gurayAlsac
You have been of great help :)

[2020-05-30 05:00] sherifkozman opened #495 "OpenAPI/Swagger Specs for API endpoints"
### Question
Is there any OpenAPI/Swagger specs available for the services enpoints.
To enhance security deployment for public facing services we are testing exposing them through Cloud endpoints with additional authenticaion layer. Cloud endpoints require OpenAPI specs to define the different endpoints
thanks

[2020-05-30 05:27] mikehelmick commented on #495
/kind enhancement

Not at this time, but something we can add.

This codebase intentionally doesn’t include authententication as we don’t provide any kind of account / identity managment or integration.

Also take a look at #349 - We are in the process of rolling out diagnisis verification through signed JWTs which would provide authentication, but is handled within the server.

[2020-05-30 06:08] sherifkozman commented on #495
Great, I will keep an eye on that as well.

I understand the reason behind not implementing authentication this is why we were exploring cloud endpoints as an external implementation that isn’t coupled with the server, hence the openapi spec.

[2020-05-30 08:16] mkwiecinski opened #496 "Federated learning (privacy preserving) for better risk assessment"
Risk assessment is currently availabile in API as a deterministic function of 4 parameters (all with low variability). If more data were available in API (eg continuous BT signal strength) one could employ (privacy preserving) federated machine learning, managed on the server side, for better (AI-based) risk assessment.

I understand the concept of privacy preserving federated learning might not b

[2020-05-30 20:00] sethvargo commented on #495
Hi @sherifkozman are you looped into the plans re: #493. The longer-term plan is to allow PHAs to employ their own authentication requirements via a token verification system.

[2020-05-31 01:00] mikehelmick commented on #496
/kind question

Yes that has been discussed, but I have no details to share.
The current decentralized approach will deliver results while maintaining user privacy.

[2020-05-31 01:00] mikehelmick commented on #496
/close

[2020-05-31 01:00] #496 closed

[2020-05-31 01:29] sherifkozman commented on #495
@sethvargo i wasnt but @mikehelmick looped me onto #349 , i took a look at #493 however requesting OpenAPI specs was in relation to API management and endpoint security, monitoring through cloud endpoints which doesnt conflict with the token verification system proposal.

Thanks for keeping me looped in as we are testing the deployment in different modes so we can enable more HAs to be able to dep

[2020-05-31 19:56] #93 closed

[2020-06-01 09:20] johanbrandhorst opened #510 "Setup tests are failing in environments without default GCP credentials"
### TL;DR
Running `go test ./internal/setup` fails in certain user environments. We should either make these tests work in any environment or only run them under certain conditions (flags, build tags?).

**Expected behavior**
Tests should pass regardless of external environments.

**Observed behavior**
Tests failed because of local configuration missing.

### Reproduction
Run the setup tests in a

[2020-06-01 16:27] sethvargo commented on #460
/assign

[2020-06-01 16:28] sethvargo opened #513 "Add support for AWS Secret Manager"
### TL;DR
Add support for [AWS Secret Manager](https://aws.amazon.com/secrets-manager/).

[2020-06-01 16:29] sethvargo opened #514 "Add support for AWS KMS"
### TL;DR
Add support for [AWS KMS](https://aws.amazon.com/kms/) for signing.

[2020-06-01 17:03] #510 closed

[2020-06-01 19:03] asutosh97 commented on #460
/assign

[2020-06-01 19:04] asutosh97 commented on #460
@sethvargo shall i pick this up?

[2020-06-01 19:05] asutosh97 commented on #459
/assign

[2020-06-01 19:52] #513 closed

[2020-06-01 20:01] #514 closed

[2020-06-01 20:28] #460 closed

[2020-06-01 23:09] mikehelmick commented on #481
/close

[2020-06-01 23:09] #481 closed

[2020-06-01 23:11] mikehelmick commented on #459
@asutosh97 - pr #519 has this

/assign @sethvargo

[2020-06-01 23:13] mikehelmick commented on #147
/close

This is fixed. Export config allows multiple signature infos to be configured.

[2020-06-01 23:13] #147 closed

[2020-06-01 23:25] mikehelmick commented on #110
There is extensive model validation around exposures now, ensuring proper values.

/close

[2020-06-01 23:25] #110 closed

[2020-06-02 00:36] #459 closed

[2020-06-02 00:39] mikehelmick commented on #333
Adding a comment since this got marked as stale.

I still hope to get to this, but it is not at the top of the priority list yet.

[2020-06-02 03:18] sethvargo commented on #333
@mikehelmick you can remove the label (using the label picker) and add kind/enhancement. It _shouldn't_ mark enhancements as stale.

[2020-06-02 15:46] sethvargo opened #525 "Separate envvar from secret parsing"
### TL;DR
envconfig is overloaded. Now that a bunch of things are configurable, we have complicated inter-graph dependencies that are unnecessary.

### Design

**Proposal**
1. Process configs using `kelseyhightower/envconfig`
1. Iterate over configs using reflection to find any `string` or string-like fields that begin with `secret://`
  - Alternative design: require `secret` struct tags, but that

[2020-06-02 21:07] sethvargo opened #526 "Support Azure KeyVault for Signing operations"

[2020-06-02 21:07] sethvargo commented on #526
/assign @sethvargo

[2020-06-02 21:32] #526 closed

[2020-06-02 23:04] #349 closed

[2020-06-03 00:27] LukasMasuch opened #529 "Questions about the federation API"
I had a closer look on the federation API and have a few open questions. I really like a lot of aspects of the current implementation, but assume that its still an initial version and some of the questions might not have a proper answer yet.

1) What is the purpose of the `fetchType` property in the `FederationFetchRequest` message?
2) Why are the regions as well as the transmission risk separated

[2020-06-03 02:20] mikehelmick commented on #529
/assign @squee1945

[2020-06-03 03:46] squee1945 commented on #529
1. `fetchType` - this is unused and should be removed.
2. The original proto was designed to minimize on-the-wire transmission size. Given this is server-to-server, this is really a much smaller concern, though I'd have to look into current usage to know if we can change something here.
3. naming difference - only an oversight that needs to be cleaned up
4. `transmissionRisk` - I don't know much a

[2020-06-03 04:16] mikehelmick opened #530 "Design and implement revocation certificates"
### TL;DR

After receiving a publish request, respond with a _revocation certificate_

The revocation certificate can be used to later delete a set of published TEKs from the server's database. This does not remove the TEKs from already generated exports.

### Design

**Proposal**

On receiving a batch of TEKs - return an encrypted token that contains the those TEKs.

If that token is returned to

[2020-06-03 09:16] LukasMasuch commented on #529
@squee1945 Thanks for the fast response. This answers my questions for now :)
2. Since the daily server-to-server transmission size is probably just a few MB, I would personally prefer to keep the federation data format very close to how it is stored in the database (this makes it a bit simpler).
5. Within the EU there is a bit of pressure to get all the national systems interoperable as soon as p

[2020-06-03 09:16] #529 closed

[2020-06-03 10:42] johanbrandhorst commented on #510
This is still happening on latest master:
[code]

[2020-06-03 10:46] johanbrandhorst commented on #443
This is blocked on a decision on how to we want to run staticcheck out of band with the presubmit script.

[2020-06-03 17:39] mikehelmick opened #537 "AppPackage/BundleID is case sensisitive"
### TL;DR

Currently the appPackageNAme in the API (dual homed for BundleID) is case sensitive when loading from the database / appconfig cache.

This should be case insensitive.

/kind good-first-issue

[2020-06-03 20:19] #537 closed

[2020-06-03 23:27] crwilcox opened #542 "Clarifying Deployment Instructions"
While chatting I have heard that our instructions for deploying could be clearer. Specifically, it seems it is unclear what needs to be done while re-deploying. We should review the documentation and consider if there are ways to clarify things.

[2020-06-04 03:40] sethvargo commented on #542
It's mostly [documented here](https://github.com/google/exposure-notifications-server/blob/master/docs/deploying.md#running-services). It'd be helpful to have more actionable feedback (where are people stuck, what errors are they getting, etc).

[2020-06-04 05:30] mikehelmick opened #543 "Evaluate holding current day's key"
Currently, a key that is still valid (rolling period + rolling period count covers the current time) causes a whole publish API request to fail.

As this has come up a couple of times, perhaps it is better to hold the still valid key until the end of the UTC day, but allow others to be sent out immediately.

/assign

[2020-06-04 08:24] xyz23 opened #544 "server_functional_requirements.md needs to be modified with current addition of HMAC in the payload"
### TL;DR

https://github.com/google/exposure-notifications-server/blob/master/docs/server_functional_requirements.md

Sample payload is missing HMAC in the request.

[code]

**Expected behavior**

Should have HMAC added in the sample payload

[2020-06-04 10:44] xyz23 opened #545 "Public Health Authority Diagnosis Verification Protocol"
### Question
1. Who is hosting the PIN server (PIN verification server), will it be PHA or will it part of exposure server in future?

1. Is there a sample code for PIN verification server?

1.  High Level Flow

1. Why do we have 3-step process?  We could have directly generated JWT when valid PIN is sent else return error.

1. How do exposure server handle "replay" attack in this new architecture

[2020-06-04 13:46] sethvargo commented on #544
Hi @xyz23 - can you provide more information? What kind of HMAC are you expecting?

[2020-06-04 14:02] sethvargo commented on #545
1. The current plan is for a PHA or other entity to run the PIN server. This provides a separation of concerns, as the PIN server could require some authorization or PII exchange, and this server specifically forbids handling of such information.

1. PIN _generation_ occurs by a PHA server. There is not yet an open source PIN _generation_ server. PIN _verification_ is already available in this rep

[2020-06-04 15:33] mikehelmick commented on #544
/assign

The HMAC value isn't actually part of the request, the HMAC key is.

I'll get it updated and link to the PHA verification certificate design

[2020-06-04 16:00] mikehelmick commented on #545
We are still evolving the requirements for the PIN verification server and will have a reference design and reference implementation to share soon. Design will be published before the full server implementation.

For the replay attack. The verification certificate (the JWT) should be issued with a short validity time window. The is controlled by the standard claims, `iat` and `exp`.

Since the spe

[2020-06-04 16:00] #545 closed

[2020-06-04 16:04] crwilcox commented on #542
@sethvargo 💯

I plan to walk through them with open eyes and see if there aren't places we could provide clarity

@sherifkozman can you provide specific ways in which you (and folks you work with) may have gotten lead astray or stuck?

[2020-06-04 16:14] crwilcox commented on #543
To be clear, this is to handle a still valid key being uploaded. Rather than rejecting the publish, we would embargo that key, not including it in any batches, until after it has expired + additional time to handle skew?

[2020-06-04 16:20] mikehelmick commented on #543
Correct.

[2020-06-04 18:02] #544 closed

[2020-06-04 21:07] sherifkozman commented on #542
@sethvargo @crwilcox we managed to get things running quickly however working with a few HAs over the GCP deployment we found a few issues :

- Using terraform to provision initial infrastructure doesnt enable the required permissions for Cloud build to complete some of the required tasks.

- I believe there was a case where resources manager API needs to be enabled for new projects so deployment

[2020-06-04 21:10] sethvargo commented on #542
Hi @sherifkozman

Thanks for the feedback.

Do you know which permissions are missing? I just tried in a clean project yesterday and it ran successfully to completion (took 13min).

Terraform enables the resource manager API. We do require that billing is configured on the project.

We're currently focused on GCP because that's where our expertise are. Other cloud providers can be found here: http

[2020-06-05 00:13] #543 closed

[2020-06-05 00:29] mikehelmick commented on #495
Not quite swagger - but we have this in a common package now that can be imported into other codebases.

[2020-06-05 00:32] mikehelmick commented on #420
Can you see if the direction we are heading on HA verification helps?
   https://github.com/google/exposure-notifications-server/blob/master/docs/design/verification_protocol.md

It would allow you to put your customization there and to run the exposure notifications server as is.

Our goal with the exposure notifications server is minimal data, everything anonymous. Not intertwined with the healt

[2020-06-05 03:48] sherifkozman commented on #542
Hey @sethvargo A new GCP project would have these permissions disabled by default
https://console.cloud.google.com/cloud-build/settings/service-account

I believe a deployment will need Cloud Run, KMS , Service account enabled for Cloud build. I believe they would be impacted by the Resource Manager API being disabled by default as the deployment fails as being unable to "setIamPolicy" for service

[2020-06-05 03:55] sherifkozman commented on #495
Thanks @mikehelmick thats useful for devs who will be willing to build on top of the work done.
My main interest in OpenAPI spec or swagger was in relation defining and  running Cloud endpoints on top of the Cloud run services to enable more control over the exposure Cloud Run Service.
This would enable an HA to add an additional layer for API control and monitoring either with Cloud run or within

[2020-06-05 14:12] sethvargo commented on #542
Here's the [list of APIs we enable](https://github.com/google/exposure-notifications-server/blob/da68cc3cc512c8ae0cfdbcf11917564fed3dde5c/terraform/main.tf#L36-L47) - we could add `cloudresourcemanager.googleapis.com` to that list. Cloud Run and Cloud KMS are already in that list.

- Cloud Build is already given [permission to manage Cloud Run services](https://github.com/google/exposure-notificat

[2020-06-05 16:02] #525 closed

[2020-06-05 16:59] mikehelmick opened #555 "Implement caching for health authority public keys"
/assign
/kind enhancement

[2020-06-05 17:34] sethvargo commented on #555
We have enough cachable things (authorized apps, secrets, now pkeys) that we should probably unify into a single `cacher` internal package.

[2020-06-05 17:35] mikehelmick commented on #555
yep - I'm taking that into account.

[2020-06-05 18:34] mikehelmick opened #556 "Docs: change to "Diagnosis Key Server""
In all docs, this sever should be referred to as the "Diagnosis Key Server" to match language with the rest of the ecosystem.

/assign @crwilcox @llatif

[2020-06-06 06:13] thatlkat commented on #247
Not yet, will add readme when we have SUT in place

[2020-06-06 19:11] mikehelmick commented on #555
fixed

/close

[2020-06-06 19:11] #555 closed

[2020-06-08 14:51] krishnadurai commented on #420
@mikehelmick Thanks. This does help us in our adoption.

[2020-06-08 17:50] sraybuck commented on #542
Hi all, I'm new to GCP and Terraform and while trying to get this working I consistently ran into errors when following the Terraform doc when I would use the optional settings like "create_generate_service = true" and [these](https://github.com/google/exposure-notifications-server/tree/master/terraform#local-development-and-testing-example-deployment) settings, which get put into a terraform.tfva

[2020-06-08 18:04] sethvargo commented on #542
Hi @sraybuck

Thank you for the feedback. The way to enable the generate service is a bit out of date. I updated it in GH-572.

I believe the issue is with the `max_connections` flag. We bumped this value to 100,000, but that might exceed the possible value for a smaller db instance.

[2020-06-08 23:43] sherifkozman commented on #542
@sethvargo bumping the max_connections = 10000 when setting db_tier to db-custom-1-3840 causing terraform to crash resulting in :
Error, failed to update instance settings for : googleapi: Error 400: Value requested is not valid., invalidFlagValue

[2020-06-09 00:16] #342 closed

[2020-06-09 00:16] #249 closed

[2020-06-09 00:19] sethvargo commented on #542
GH-576

[2020-06-09 00:21] sethvargo commented on #542
Can you try removing lines 33-41 in database.tf and seeing what you get? That error is coming from the Cloud SQL API, and I agree it's not very informative.

[2020-06-09 00:33] sherifkozman commented on #542
According to the CloudSQL documentation this flag is still in beta and by default Cloud SQL sets the max connections depending on the machine type.
I fixed it by setting a lower value
https://cloud.google.com/sql/docs/postgres/quotas

[2020-06-09 03:26] sherifkozman opened #578 "Terraform is missing cloud-sql client permissions for service accounts"
### TL;DR
Service Accounts associated with Cloud run are missing a required Cloud-sql client permission that was available before.

The following config seems to have got removed causing cloud run services ro fail :

resource "google_project_iam_member" "exposure-cloudsql" {
  project = data.google_project.project.project_id
  role    = "roles/cloudsql.client"
  member  = "serviceAccount:${google_

[2020-06-09 03:47] mikehelmick commented on #578
/assign @sethvargo

[2020-06-09 04:34] sherifkozman commented on #578
@mikehelmick i submitted a PR with the fix if it will help.
#579

[2020-06-09 14:05] sethvargo commented on #578
I commented on the PR, but the Cloud Run services should _not_ need this permission. They communicate with Cloud SQL over a local VPN, and thus the Cloud SQL proxy (which is what requires the IAM permission) is no longer required for this setup.

[2020-06-09 18:24] mikehelmick opened #581 "Implement example verification signing server"
### TL;DR

Implement a TEK signing server that doesn't validate or issue _verification codes_ but does sign verification certificates.

The intent is that this is a piece that can be used for end-to-end testing with this server.

[2020-06-09 18:24] mikehelmick commented on #581
/assign
/priority important-soon

[2020-06-09 18:24] mikehelmick commented on #581
/kind enhancement

[2020-06-09 18:38] krishnadurai commented on #581
Is the issuing of verification codes going to another service?

[2020-06-09 18:42] mikehelmick commented on #581
Issuing of verification codes will not bet built directly into this system, no.

Any such system like involves PII coupled with health data and the exposure notifications server should not contain any such information.

How that verification system gets built is lining up to be very specific to a local jurisdiction.

[2020-06-09 22:35] mikehelmick opened #586 "Implement authorized app prefix matching"
### TL;DR

For development purposes - it would be nice to allow the authorized app allow-list to match AppPackageName/BundleID by prefix

### Design

**Proposal**

likely needs column in database to indicate if prefix match is allowed.

The cache is currently by exact match. This would involve adding the ability to to an exact match and then a prefix match.

/kind enhancement

[2020-06-09 22:36] sethvargo commented on #586
Radix trees! (somehow every Go project I work on inevitably needs a radix tree)

[2020-06-09 23:28] yella666 opened #587 "Txts via this email"
### Question

[2020-06-09 23:35] mikehelmick commented on #587
/close

[2020-06-09 23:35] #587 closed

[2020-06-10 00:06] laurentsimon opened #588 "logging request"
we're logging the request in [publish.go#L121](https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L121) if there's a server config problem.

If someone gets access to the log, they may ask PHA which device/user generated these.

The risk is low, since it's a config error.

I wanted to double-check with you if you think that's OK or not.

[2020-06-10 00:13] laurentsimon opened #589 "what is BypassHealthAuthorityVerification"
Is this [flag used for testing](https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L151)?

Or is it used for the self-reporting case? If for self-reporting, are we sure the data field is populated after calling [VerifyDiagnosisCertificate()](https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L149)?

I did not

[2020-06-10 00:14] laurentsimon opened #590 "Audience claim guideline"
do we provide guidance about what the [Audience claim](https://github.com/google/exposure-notifications-server/blob/f165fa56b432ad25400e7c2b54640a98c6cb7447/internal/verification/database/health_authority_db_test.go#L43) should be set to?

[2020-06-10 00:16] laurentsimon opened #591 "is TEK db always local"
is the [TEK db](https://github.com/google/exposure-notifications-server/blob/f165fa56b432ad25400e7c2b54640a98c6cb7447/internal/verification/phaverify.go#L74) always local?

If we allow the db to live on a different host, do we warn them about the danger, i.e. do we tell them to secure the transport between the host and the db?

[2020-06-10 00:18] laurentsimon opened #592 "is ThruDate updatable?"
Is the [ThruDate](https://github.com/google/exposure-notifications-server/blob/9e35fa5d4893d8479a067398be1b1eb2ed7308fb/internal/admin/healthauthority/form.go#L36) field updatable?

When the admin performs key rotation, they ought to be able t change the expiry time of the previous key. Maybe this is done automatically?

[2020-06-10 00:21] laurentsimon opened #593 "KeyVersion vs kid"
We use  [KeyVersion field](https://github.com/google/exposure-notifications-server/blob/9b009b68b6fea472a5ef1426894cc78460f853ea/pkg/api/v1alpha1/verification_types.go#L65) for key versioning and informing which key should be used for verifying the token.

The more standard way to do this is use jwt's kid header field, I think. Shall we use it instead? Or do we have a good reason for not doing tha

[2020-06-10 00:23] laurentsimon opened #594 "TEK encoding is not unique"
the way we [append the TEKs](https://github.com/google/exposure-notifications-server/blob/f165fa56b432ad25400e7c2b54640a98c6cb7447/pkg/verification/utils.go#L39) and the metadata is not unique.

For example a random key may contain a `,` and a `.` that we use as delimiters.
I don't see a good way to exploit it. But to be on the safe size, we may want to b64(TEK_key) before construction the data we

[2020-06-10 00:26] laurentsimon opened #595 "do we want to protect against a curious server admin"
1. we log the number of [received keys](https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L184).

I wonder if this is problematic or not. A curious admin may be recording when we add keys and use the timing information as additional info to anonymize users. Not easy to exploit in practice. But to be on the safe side, we could. remove this.

2. There ar

[2020-06-10 00:28] laurentsimon opened #596 "decoy requests"
Decoy requests are supposed to make it harder for a network observer to determine if someone is infected.

Do we return in the same amount of time? Do we return the same number of bytes?

[2020-06-10 00:36] laurentsimon opened #597 "revocation certificate"
according to the [design doc](https://docs.google.com/document/d/1XS63ghPfrlVqNeAIM6d5eGhHiB3Shmk8hEdSp13f0-8/), the server should return a certificate which can be used later to delete TEKs. I did not find the implementation.

Beware that the doc suggests using AES-GCM and we can only encrypt 2^32 messages (i.e., certificates) with the same key. Since the server may support self-reported upload,

[2020-06-10 00:50] mikehelmick commented on #588
It's logging the error from the lookup, which would contain the AppPackageName/BundleID and not anything else from the request.

I'll add a comment there to clarify what is actually being logged.

/assign

[2020-06-10 00:53] mikehelmick commented on #590
/assign

It's up to the server operator. This should be added to the configuration docs.

/cc @crwilcox in case he wants to take this on.

[2020-06-10 00:55] mikehelmick commented on #591
We should assume that the DB is never on localhost.

Our default configuration - https://github.com/google/exposure-notifications-server/tree/master/terraform

Sets up PostgreSQL SSL certificate based authentication with the certs stored in secret manager and accessed by the service account that the server runs as.

Let us know if you think further documentation is warranted.

[2020-06-10 00:58] mikehelmick commented on #592
Yes, it is updatable. See attached admin UI.

Typically, I would expect that keys are created w/ a blank THRU time.
When a user presses the "revoke" button, the thru time is set to now.

![image](https://user-images.githubusercontent.com/92319/84215283-a2a9f200-aa7a-11ea-988d-07e69dcac7f5.png)

[2020-06-10 01:01] laurentsimon commented on #591
Seems pretty good. Please close the issue.

On Tue, Jun 9, 2020 at 5:55 PM Mike Helmick <notifications@github.com>
wrote:

[2020-06-10 01:01] laurentsimon commented on #592
great. Please close the issue.

On Tue, Jun 9, 2020 at 5:58 PM Mike Helmick <notifications@github.com>
wrote:

[2020-06-10 01:02] mikehelmick commented on #591
/assign
/close

[2020-06-10 01:02] #591 closed

[2020-06-10 01:03] mikehelmick commented on #589
This is just meant for testing.

Currently there is no server available to actually issue these certificates, so for end to end tests we are bypassing verification.

/assign

[2020-06-10 01:06] mikehelmick commented on #594
the keys are already base64 encoded, so `,` and `.` are used since they aren't in the base64 character set.

There is a comment to that effect on line [line 28](https://github.com/google/exposure-notifications-server/blob/f165fa56b432ad25400e7c2b54640a98c6cb7447/pkg/verification/utils.go#L28)

/assign

[2020-06-10 01:08] mikehelmick commented on #596
/assign

Yes - the handler for the exposure API is wrapped with the [minimum latency handler](https://github.com/google/exposure-notifications-server/blob/master/cmd/exposure/main.go#L58)

Our default value for minimum latency is 5s currently.

[2020-06-10 01:09] laurentsimon commented on #594
thanks. I missed the comment. Please close the issue.

On Tue, Jun 9, 2020 at 6:06 PM Mike Helmick <notifications@github.com>
wrote:

[2020-06-10 01:11] mikehelmick commented on #592
/close

[2020-06-10 01:11] #592 closed

[2020-06-10 01:11] mikehelmick commented on #596
/kind question

[2020-06-10 01:12] laurentsimon commented on #596
how about the number of bytes? Can we return the same [OK status](https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L187) for the decoy requests?

[2020-06-10 01:13] mikehelmick commented on #597
The issuance of revocation certifications is currently on hold for this server as we believe our automated, time-based data deletion is sufficient.

[2020-06-10 01:14] mikehelmick commented on #593
/assign

simple oversight on my part- will adjust code, samples and docs.

[2020-06-10 01:17] laurentsimon commented on #597
I see. Shall we update the design doc
<https://docs.google.com/document/d/1XS63ghPfrlVqNeAIM6d5eGhHiB3Shmk8hEdSp13f0-8>
to
reflect this?

On Tue, Jun 9, 2020 at 6:13 PM Mike Helmick <notifications@github.com>
wrote:

[2020-06-10 06:19] mikehelmick commented on #596
We do return OK status for all non-internal server error requests, w/ no body

https://github.com/google/exposure-notifications-server/blob/master/internal/publish/publish.go#L211

[2020-06-10 06:19] mikehelmick commented on #596
test environments get detailed response codes + error messages to assist w/ app development.

[2020-06-10 06:22] mikehelmick commented on #556
sounds like we want this to just be "key server" or "exposure notifications key server"

[2020-06-10 06:22] mikehelmick commented on #593
note to self

'kid' is a header field not a claim - easy change to make.

[2020-06-10 19:41] gurayAlsac opened #606 "offer /debug endpoint surfacing some server config/state"
To facilitate end-to-end testing (where testers may not have access to the underlying project resources), we could offer some super simple `/debug` endpoints handled in, say, the publish and export servers. These would be only served in test instances, and could serve up a simple static page that surfaces:

- all environment variables
- dump all config tables (e.g., export config, authorized app,

[2020-06-10 21:56] mikehelmick opened #608 "Export config - groups"
### TL;DR

Allow for multi-period export config to be explicit in the server.

For example, daily exports combined with 4 hour exports.

All of a clean mapping for a device to understand which export files to process to get complete coverage in the event of being offline for multiple days.

Currently, the understanding of the index.txt is rather opaque.

/kind enhancement
/assign

[2020-06-10 22:59] mikehelmick commented on #589
Also - self-reporting is an issue for public health authorities. If they are willing to sign a JWT for a self report - then this server will accept it.

/close

[2020-06-10 22:59] #589 closed

[2020-06-11 01:01] #590 closed

[2020-06-11 01:05] mikehelmick commented on #597
I'm going to close this. There's nothing actionable on this repo at this time. The referenced doc isn't public at this time.

/close

[2020-06-11 01:05] #597 closed

[2020-06-11 01:15] mikehelmick commented on #595
We do log the number of keys as a metric - I think this is useful / necessary for operators. It feeds into capacity planning and estimating CDN bandwidth that may need to be secured as the system grows.

Re (2) I'm not certain that operators will run this in production. I don't think there's a reason to run it under normal circumstances.

Result size is always padding to minimum 1000 keys for expo

[2020-06-11 01:16] #595 closed

[2020-06-11 01:16] mikehelmick commented on #530
This is currently on hold. Will revisit if this becomes necessary.

/close

[2020-06-11 01:16] #530 closed

[2020-06-11 01:42] #588 closed

[2020-06-11 15:38] ultimateboy opened #613 "Migrate binary assumes url-escaped connection string"
### TL;DR
If you get an obscure error while trying to run migrate, most likely you have too secure of a password and the special characters need url escaped.

Depending on exactly where your special character is, the error message will be slightly different, but it should look something like this:
[code]

To fix, simply url-escape the connection string.

This is purely an informational issue and c

[2020-06-11 15:43] ultimateboy commented on #613
Cross linking issue from migrate queue: https://github.com/golang-migrate/migrate/issues/396

[2020-06-11 16:05] mikehelmick commented on #613
/assign @crwilcox

[2020-06-11 16:05] mikehelmick commented on #613
/priority important-soon

[2020-06-11 17:27] mikehelmick commented on #312
/assign

[2020-06-11 18:47] sethvargo commented on #613
/assign

We can't actually encode the _entire_ string, but we can encode the password.

[2020-06-11 19:00] #613 closed

[2020-06-12 18:56] sethvargo opened #623 "Handle null output region"
### TL;DR
The `output_region` in ExportConfig can be null. When null, the `scanOneExportConfig` function returns an error that it cannot unmarshal `NULL` in `*string`.

**Expected behavior**
No error.

**Observed behavior**
Error.

### Reproduction

1.  Create an ExportConfig with no output_region:

[code]

1. Call method

[2020-06-12 18:57] lmartensson commented on #495
Thanks @mikehelmick - is there any progress on the API specification Sherif is requesting?
I just spent well over an hour trying to dig through the code and help one of our app developers figure out what endpoints he can call, but I'm really not doing too well.

[2020-06-12 19:05] mikehelmick commented on #495
Hi - no progress to report.

We do have our documentation that talks about how to call the publish API: https://google.github.io/exposure-notifications-server/
This includes the sample App with an integration to the API.

If someone wants to contribute this, we would be happy to review it.

[2020-06-12 19:06] mikehelmick commented on #623
hmm, that column should be not null I think.

@gurayAlsac ?

[2020-06-12 19:29] gurayAlsac commented on #623
We have enforcement in the tool where we typically create these configs from:
https://github.com/google/exposure-notifications-server/blob/186c92778fe3791dc4e29b26b8e967e54aea0b26/tools/export-config/main.go#L53

But we I believe we have the field as nullable in the schema:
[code]

No harm treating null as empty string or making non nullable I suppose.

[2020-06-12 19:46] mikehelmick commented on #623
the admin console also enforces at least an empty string, but not null.

Is it valid for this to be empty?
If it is empty and import regions is also empty, do you end up with no data?

[2020-06-12 20:00] gurayAlsac commented on #623
Region isn't (yet - depending on where we land with roaming and upcoming stuff) used from the file, so output_region can probably be null. input_region only applies an additional filter, so if its null it'll just use all keys in the db, so it too can probably be null:
https://github.com/google/exposure-notifications-server/blob/186c92778fe3791dc4e29b26b8e967e54aea0b26/internal/publish/database/exp

[2020-06-12 20:09] mikehelmick commented on #623
right, but if input regions is 0 and output regions is null - do you get 0 keys or ALL keys?

[2020-06-12 22:01] mattThousand commented on #495
@mikehelmick we are using the Apple iOS sample code as reference for our iOS client implementation. Does this server contain endpoints for the following requests "out of the box" or would they need to be added?

[code]

[2020-06-12 22:08] mikehelmick commented on #495
I'm not familiar w/ the iOS device side APIs.

Assuming it works similar to the Android counterparts, the actual URL for both publishing and downloading is up to the developer.

The various OS implementations are responsible for verifying the signature of the requested key files and if it matches will run the key matching algorithm.

The actual URLs for the upload/download pieces need to be provid

[2020-06-12 22:12] mattThousand commented on #495
@mikehelmick just to confirm, only the publishing/downloading urls are provided "out of the box" (i.e. fetching the exposure configuration is not)

[2020-06-12 22:15] mikehelmick commented on #495
I'm going to say "correct" - because I don't know what the exposure configuration. I'm guessing that communicated w/ an apple server?

[2020-06-12 22:33] sherifkozman commented on #495
@mikehelmick I will echo @mattThousand here and his question. In the current exposure notification server deployment there are 6 running services , only 2 with public endpoints (exposure and federationout)
@mattThousand was trying to figure if one would be used for submitting exposure keys and the other would be used to download the index of the server key exposure files through GCS or did we miss

[2020-06-12 22:36] mikehelmick commented on #495
Ah - thanks, I missed that in the question

The exposure service is used to upload keys from the device.
The export files (including the index) are only available on the GCS bucket (ideally fronted by Cloud CDN)

@llatif @crwilcox - can we double check docs?

[2020-06-12 22:40] sherifkozman commented on #495
@mikehelmick ok so the index file is hosted and updated over the GCS bucket along with the exposure keys. if i got that correctly then its worth checking the docs to clarify that a bit more over the docs.
Thanks

[2020-06-14 13:40] mattThousand commented on #495
@mikehelmick can you offer any guidance on requesting the `index` file for individual regions? Is there a query parameter that should be passed in the network request? Or is the idea that a mobile client will always request the `index` file for "all" regions?

[2020-06-14 14:02] mikehelmick commented on #495
Currnetly that’s an agreement between the app and server operator. I think in most cases, it will be a single index file for a region / for an app.

I filed #608 last week to enhance this.

[2020-06-15 01:59] dougnd opened #627 "Problem with migrate in terraform"
### TL;DR
I'm having trouble deploying using terraform. It fails on the migrate step with a password error. I was able to do the terraform step at least once before.  Upon further investigation, one recent related change was #616. My theory is that PR has a bug.

**Expected behavior**
When running `terraform apply` you successfully deploy the server environments.

**Observed behavior**
[code]

###

[2020-06-15 02:18] mikehelmick commented on #627
/assign @sethvargo

[2020-06-15 18:39] #627 closed

[2020-06-15 19:10] #623 closed

[2020-06-15 22:47] crwilcox opened #632 "Add documentation to help estimate deployment cost"
I have had questions about the cost to run this reference server. It would be good to add docs that show how you might calculate this cost.

[2020-06-15 22:59] sherifkozman commented on #632
Great, i have tried to run a sample simulation over a Google Cloud TCO based on the information from terraform and other configs but was missing some assumptions such as expected batch download sizes Vs Exposure keys volume.

[2020-06-16 00:36] sherifkozman opened #635 "export-create-batches creating an empty index file"
After checking all the export configs and running through temp generated keys, the export batches service doesnt create any batch keys but only an empty index file.

Out log shows the following : `Failed to create batches for config 1: fetching most recent batch for config 1: scanning result: can't scan into dest[0]: cannot assign NULL to *time.Time, continuing to next config`

@gurayAlsac any poi

[2020-06-16 00:40] sethvargo commented on #635
@gurayAlsac that error looks like we have another field in the database than can be null.

[2020-06-16 14:21] nahuelhds opened #636 "What does BYPASS_DEVICECHECK do?"
### Question
I was looking into the code implemented by AGESIC (Uruguay) and I've seen two constants that are weird to me. One is `BYPASS_SAFETYNET` and I've seen that is a debugging flag as said at #96

I assume that `BYPASS_DEVICECHECK` is something similar, is that right?

[2020-06-16 15:19] sethvargo commented on #636
Hi @nahuelhds

These are old artifacts from when the service used Android SafetyNet and Apple's DeviceCheck to verify requests came from real Android/iOS devices. We've since removed that. These variables are no longer required or used in the latest server implementation.

Please let us know if you have any additional questions.

/close

[2020-06-16 15:19] #636 closed

[2020-06-16 15:34] mikehelmick commented on #636
@nahuelhds  - I want to point out the replacement for this functionality.

We have described a verification system
    https://developers.google.com/android/exposure-notifications/verification-system

that allows for the diagnosis to be conveyed to the key server.

This repository already implements the verification protocol
    https://github.com/google/exposure-notifications-server/blob/master/d

[2020-06-16 16:26] #437 closed

[2020-06-16 17:17] nmiodice commented on #247
I'd also love to get my eyes on that document. If one were to implement such an end to end test, would a PR for it be welcome in the repo?

We are planning some work, and I want to better understand how we should prioritize efforts. Is this already being worked on in parallel? If so, when can we expect a true end to end test to be implemented -- one that is fully isolated from the deployed environ

[2020-06-16 18:26] nahuelhds commented on #636
Thanks for all the info, guys

[2020-06-16 18:28] nahuelhds commented on #636
I assumme that Agesic should pull these changes as well in order for them to remove these references too, right?

[2020-06-16 20:01] gurayAlsac commented on #635
Hmm, odd. That error comes from https://github.com/google/exposure-notifications-server/blob/e3bc7086720018e92fcd120dcad78153b5affa90/internal/export/database/export.go#L383 where the batch creation attempts to pick up at the last created batch (thus querying for max(end_timestamp) from ExportBatch table). The thing is that is a non-nullable column:
https://github.com/google/exposure-notifications

[2020-06-16 21:16] #632 closed

[2020-06-16 23:40] sherifkozman commented on #635
@gurayAlsac There was no manual insertion of data , i am sharing screenshots of the testing export config and will be happy to share access to the project if needed.

![Screenshot 2020-06-16 16 39 46](https://user-images.githubusercontent.com/666788/84838730-02ab1600-aff0-11ea-878f-fc2e89eda1a0.png)

[2020-06-17 08:00] madhavajay opened #639 "Error waiting to create Connector google_vpc_access_connector"
So I have tried deploying with terraform to a brand new GCE project.

I am using the following commit:
ccc44a91dbb9624fbb064e500175399e2bb2b3dc

I have made the change to the database.tf file to fix the error from here:
https://github.com/google/exposure-notifications-server/issues/542

But I am still getting the following other error:

[code]

However I can't seem to get the VPC error to go away.

[2020-06-17 10:15] zssz commented on #639
I'm having this issue too.

Related: **Manually** creating a new Serverless VPC access Connector is failing too, for my billing-enabled project.

Steps to reproduce:
1. Go to https://console.cloud.google.com/networking/connectors/
2. Delete the `serverless-vpc-connector` if there is one.
3. Click **CREATE CONNECTOR**.
4. Fill out the for with Name: `serverless-vpc-connector`, Network: `default`, I

[2020-06-17 13:23] #635 closed

[2020-06-17 13:30] sethvargo commented on #639
Hi @zssz and @madhavajay

Do you have any organizational policies or restrictions? The cloudservices account is automatically created and managed by Google ([see more](https://cloud.google.com/iam/docs/service-accounts#google-managed)). If you deleted or modified those service accounts, most Google Cloud services will no longer work.

The first error is because your git tree is dirty. You must com

[2020-06-17 13:32] sethvargo commented on #639
A few more questions:

1. Have you changed the region in the configurations? Only [the these regions](https://cloud.google.com/vpc/docs/configure-serverless-vpc-access#supported_regions) are allowed.
1. Do you restrict the list of available GCE images? You must grant your project permission to use Compute Engine VM images from the project with ID serverless-vpc-access-images ([see more](https://cl

[2020-06-17 17:43] chaodaiG commented on #243
/reopen

[2020-06-17 17:44] stati0n commented on #243
/reopen

[2020-06-17 17:45] chaodaiG commented on #243
/assign chaodaiG

[2020-06-17 18:02] chaodaiG opened #640 "e2e_test: create e2e test for cleanup keys"
### TL;DR

Add new e2e test for testing cleaning up keys

### Design

**Proposal**

* Add keys
* Export keys, check that all keys are there
* Add more keys
* Export keys, check that only new keys are there
* Clean up old keys
* Verifies that they were actually deleted and not included in any export

**Alternatives considered**

[2020-06-17 18:02] chaodaiG commented on #640
/assign

[2020-06-17 18:22] mikehelmick commented on #636
yes - for now, I recommend continuing to fetch upstream commits as we're still actively working on the project.

[2020-06-18 01:24] #578 closed

[2020-06-18 01:34] sherifkozman opened #642 "How are keys being selected for batching/export creation?"
@gurayAlsac after the last bug fix we were able to succefully create a batch of files from uploaded keys, thanks.

We reset the entire DB to run another test round and were able to submit keys to "exposure" service but they they keep getting skipped for batching with no errors.

We have set the export config window to 2 months for testing purposes, index files gets created but no new batches even

[2020-06-18 01:56] madhavajay commented on #639
@sethvargo To answer your questions:
1) The project location is: us-central1
2) See screenshot: https://imgur.com/a/tdFEMs2
The git tree has changes due to the above mentioned db issue patch.
71f5ac30922182cb5ed98610753ddff6343c42cb

This is a brand new project so we haven't configured anything special.
Additionally, earlier versions from about 2 weeks ago, of this repo deployed without these issu

[2020-06-18 02:53] mikehelmick commented on #642
Hi @sherifkozman

This is an intentional embargo to ensure that keys are not released until they are held for 2 hours after their batch window closes.

See the [MIN_WINDOW_AGE](https://github.com/google/exposure-notifications-server/blob/master/internal/export/config.go#L49) var on the export service.

So with the default value and the export period you have, any gaps from the last created export

[2020-06-18 03:25] TJMusiitwa opened #643 "One-click Deploy or Deploy from marketplace"
Hello there,
I think it would be great to have a one-click deployment option or to have a ready to go option set up on Google cloud marketplace that could then be configured as necessary with say the dbnames, passwords etc and be ready to go.

However if this isn't something that's a possibility, a minor explanation would be great to help understand why.
Thanks

[2020-06-18 03:26] mikehelmick commented on #643
Hello - we have one step deploy in the terraform directory. Is that sufficient?

[2020-06-18 03:50] sethvargo commented on #639
Brand new projects are still covered under organizational policies. This is difficult to debug because it works without errors on my two test domains.

[2020-06-18 05:56] madhavajay commented on #639
@sethvargo Thanks for your help debugging this.

Do you know what organisational policy is preventing us from making a serverless VPC Connector and why would that be a default? This whole org was created purely for this COVID project so while there's a chance something is mis-configured, I would err on the side of assuming this is default settings all the way. Does the use of this repo require som

[2020-06-18 06:28] madhavajay commented on #639
Weird. Looks like @zssz solved it.

Seems we can only create the VPC connector with max_throughput = 300 and then everything works fine.

Any idea what thats about?

[code]
Apply complete! Resources: 20 added, 0 changed, 1 destroyed.

Outputs:

appengine_location = us-central
cloudrun_location = us-central1
cloudscheduler_location = us-central1
db_conn = xxx:us-central1:en-xxx
db_location = us-cen

[2020-06-18 06:46] madhavajay commented on #639
@sethvargo I made a PR:
https://github.com/google/exposure-notifications-server/pull/644

I left the default at 1000 which is what it is without specifying and left our setting to 300 as a comment in the commit / PR for now.

[2020-06-18 13:24] #639 closed

[2020-06-18 20:08] gurayAlsac commented on #334
Feel free to open a new issue if you have any further questions about export signing key distribution.

[2020-06-18 20:08] #334 closed

[2020-06-18 20:10] gurayAlsac commented on #608
I can hold onto this for time being. We may not need "catch up" files after all if we get the right sort of flexibility into the api.

[2020-06-18 20:12] gurayAlsac commented on #606
Seth helped close this one out. We can reopen new issue if needs change.

[2020-06-18 20:12] #606 closed

[2020-06-19 00:09] mikehelmick opened #648 "Remove error code flattening and latency injection"
Now that API calls are authenticated via the health authority certificates, return useful error codes and stop injecting latency.

/assign

[2020-06-19 00:10] sethvargo commented on #648
/assign

[2020-06-19 00:43] #648 closed

[2020-06-19 06:30] thatlkat commented on #248
We now have some headcount for load test scenarios

[2020-06-19 13:47] zobayer1 opened #650 "Cloud run deploy leads to: error loading environment variables: ObservabilityExporter: StackdriverConfig: ProjectID: "default:$GOOGLE_CLOUD_PROJECT": unknown option"
**Description**

I was trying to deploy the services to cloud run following the instruction docs. However, I am always running into the following error:
[code]

On a closer inspection from the web console, I can see that the following error was logged:
[code]

**Reproduction steps**
[code]

I'd like to include here, when I tried using `terraform` deployment earlier on a clean and empty project, it

[2020-06-19 14:09] sethvargo commented on #650
This is a code bug. See GH-651 for a fix.

[2020-06-19 14:23] #650 closed

[2020-06-19 20:35] gurayAlsac opened #652 "retry db reads and idempotent writes"
### TL;DR
We should retry db operations that are safe to retry (like config reads, or idempotent writes).

### Design

**Proposal**
There are cases of transient db connection errors that could be retried. E.g., if we fail to read AppConfig to see if an exposure upload was from an authorized app, we could drop keys on the floor:
https://github.com/google/exposure-notifications-server/blob/76f3f89c7

[2020-06-19 21:00] ultimateboy opened #653 "Docker image for admin-console"
### TL;DR
A docker image should be provided for running the admin-console for the purpose of using `docker run` instead of using `go run` to run the console.

### Design

**Proposal**

Currently, the admin console is only usable with a `go run`. Due to the fact it does not have authentication, it's not meant to be deployed publicly. But for development and testing purposes, it is useful to deploy

[2020-06-19 21:05] ultimateboy commented on #653
I didn't want to submit the PR with the new dockerfile until it was decided it was the correct direction to go, but I'll go ahead and drop the file I've been using myself here.
[code]

[2020-06-19 21:16] ultimateboy opened #654 "Proposal: migrations docker image should contain the migrations instead of being mounted in at runtime"
### TL;DR

The migrations docker image is expected to be run by volume-mounting in the migration files. This unnecessarily complicates creating deployable build artifacts as the migration files need to be handled separately from the docker images.

### Design

**Proposal**

I propose that we bake the migration files directly into the migrate docker container. This provides for a consistent build-t

[2020-06-19 23:19] sherifkozman commented on #642
@mikehelmick That explains it all thank you.
One more question related to keys and the requirement to sign them.
Documentation states :
"If the signing key is invalid, or if the key is not shared with Google and Apple, the Exposure Notification API will not invoke matching on the export."
If keys are not signed or signed with a key that is not shared during development and testing will this affect

[2020-06-19 23:28] gurayAlsac commented on #642
During development you can take advantage of the debug mode to disable signature verification. Settings > Google > Covid-19 Exposure Notifications > Debug Mode > Enable diagnosis key file signature check

[2020-06-20 00:50] sherifkozman commented on #642
@gurayAlsac i assume you are referring to android settings here?

[2020-06-20 00:58] gurayAlsac commented on #642
Right

[2020-06-20 16:31] sethvargo commented on #652
I'm definitely down to retry - we have a library that makes it easy. I'm interested in learning the situations where failures happen - do you have server logs? The most likely candidate is during a scale down event, in which case a server-side retry wouldn't help.

[2020-06-20 16:32] sethvargo commented on #653
@ultimateboy I think we can update the main Dockerfile to accept the full path instead of assuming cmd/ to make this more flexible.

[2020-06-20 16:33] sethvargo commented on #654
The migrate container is just supposed to be the set of tools needed to perform migrations (independent of this project actually). It makes the build/deploy process more complex as now you need to know which migrate container contains your migrations for the current build.

[2020-06-20 16:36] mikehelmick commented on #653
We can also move admin console to cmd

[2020-06-20 16:37] mikehelmick commented on #652
Thank I saw the logs - this was a connection reset. I think retry would have helped.

Cloud run won't scale down during live requests

[2020-06-22 15:02] ultimateboy commented on #654
@sethvargo How would that be any different than knowing which exposure server container to run? You always want the "current build" and that's what makes the current setup difficult. I have to package the docker containers and then package the migrations files, tag them similarly, and then make the deployment smarter to know it also has to grab the deployments. If everything was baked into the doc

[2020-06-22 15:09] ultimateboy commented on #653
How would the template files be copied into the result container in either of those cases?

[2020-06-22 15:11] #495 closed

[2020-06-22 15:11] #642 closed

[2020-06-22 15:16] sherifkozman opened #655 "signing exposure keys"
Although signature information settings exists using a KMS resource, all TEKs are still showing that they are signed by Google managed keys over GCS.

How can we debug trace the root cause for this?
I am also attaching the Signature config sample.
@mikehelmick

![Screenshot 2020-06-22 08 13 03](https://user-images.githubusercontent.com/666788/85304486-a9fcd280-b460-11ea-92bb-625e7a0e6165.png)
![Sc

[2020-06-22 15:29] mikehelmick commented on #655
In the GCS browser?

The gooogle managed key there is for encryption at rest. You can also specify your own key for encryption at rest (Customer Managed Encryption Keys).

For signing - you need to actually unzip the file and verify the signature of the .bin file using the public key for the key specified.

[2020-06-22 16:25] sherifkozman commented on #655
@mikehelmick checking the exported bin file , it doesnt seem to be signed with the key that was set in export config. is there a way to verify if the process during export actually occured in signing those files?

[2020-06-22 16:30] mikehelmick commented on #655
Is the signature info selected on your export config?

This just defines available keys. The actual key to use is dependent on the export config.

[2020-06-22 17:20] sethvargo commented on #653
I supposed we'd always copy them. It's a few bytes on top of the already super-small image.

[2020-06-22 17:21] sethvargo commented on #654
Hmm I see. I think this is a "GCP vs Azure" thing 😄 . When we run our migrations, we submit the build to our CI server _with the source at that time_, so all the migration files are included.

I think you're right, we should be versioning the migrations with the containers.

[2020-06-22 19:25] sherifkozman commented on #655
@mikehelmick we are referencing the signer key that is created through deployment in terraform.

Attached is a screenshot of the export config.
![Screenshot 2020-06-22 12 24 18](https://user-images.githubusercontent.com/666788/85327179-5d76be80-b483-11ea-8827-cd06bf918902.png)

[2020-06-22 19:38] mikehelmick commented on #655
That's still the signature info screenshot - wrong image?

[2020-06-22 19:42] gurayAlsac commented on #655
The configuration would be what's in the ExportConfig table, with corresponding model object of same name:
https://github.com/google/exposure-notifications-server/blob/8e9c93fb130cd825f76b5552d52f2b20b01ba5fb/internal/export/model/export_model.go#L35

If you haven't already configured an ExportConfig you can use this tool to do so:
https://github.com/google/exposure-notifications-server/blob/maste

[2020-06-22 19:48] sherifkozman commented on #655
@mikehelmick @gurayAlsac The signature is selected in export already.

![Screenshot 2020-06-22 12 47 40](https://user-images.githubusercontent.com/666788/85329034-9a908000-b486-11ea-8044-23d4efea014a.png)

[2020-06-22 20:10] mikehelmick commented on #655
Thanks for confirming. Next step would be to check the logs.

A successful signing would emit this message:
https://github.com/google/exposure-notifications-server/blob/8e9c93fb130cd825f76b5552d52f2b20b01ba5fb/internal/export/worker.go#L212

And if it failed, the error would be bubbled up and logged here:
https://github.com/google/exposure-notifications-server/blob/8e9c93fb130cd825f76b5552d52f2b20

[2020-06-22 20:13] gurayAlsac commented on #655
I believe to use a different key provider for signing files (e.g., the AWS KMS implementation in https://github.com/google/exposure-notifications-server/blob/master/pkg/secrets/aws_secrets_manager.go) you'll need to modify your server setup to explicitly call `WithKeyManager()`:
https://github.com/google/exposure-notifications-server/blob/1b409114bbc1edb43d25978222f4897d1f259573/internal/serverenv

[2020-06-22 20:35] sherifkozman commented on #655
we keep everything GCP focused so we dont have to deviate on anything.
however as per the error , it seems there is an issue with the resource ID and i believe it may not be picking the version value!
we are using the following values for test :

Signing Key : projects/xxxxxx/locations/us-central1/keyRings/export-signing/cryptoKeys/signer
Signing Key Version 1

![Screenshot 2020-06-22 13 03 54](ht

[2020-06-22 20:39] gurayAlsac commented on #655
Ah, you'll definitely want to include the version in the resource id. E.g.
`projects/.../locations/us/keyRings/.../cryptoKeys/region-us/...KeyVersions/1`

[2020-06-22 20:52] sethvargo commented on #655
The default is AWS KMS, and you can configure the others with envvars

[2020-06-22 20:58] sherifkozman commented on #655
@sethvargo @gurayAlsac adding the version number within the Signing key resource and signing works fine now.

However, I assumed having a Signing Key version input field would append the version number to the resources ID for GCP KMS.

What would be the use of the Signing Key version if it has to be explicitly mentions in the resource ID ?

[2020-06-22 21:08] gurayAlsac commented on #655
Ah I see the confusion. There's a version of the key in your KMS of choice, but also a version as you've provided to Apple/Google, and they need not necessarily be the same. The admin ui was asking about the latter, and that's what will get populated into the verification_key_version field in the proto:
https://github.com/google/exposure-notifications-server/blob/8e9c93fb130cd825f76b5552d52f2b20b0

[2020-06-22 21:36] #655 closed

[2020-06-22 22:20] mikehelmick commented on #312
/close

[2020-06-22 22:20] #312 closed

[2020-06-23 16:44] crwilcox commented on #556
10 mentions of 'key' in our docs currently. https://github.com/google/exposure-notifications-server/search?q=extension%3Amd+key&unscoped_q=extension%3Amd+key

PR incoming for a few mentions of 'tracing key'

[2020-06-23 17:03] #556 closed

[2020-06-23 21:50] gurayAlsac opened #662 "Support for revisions and revocations to keys"
As part of EN 1.6 we plan to support the ability to revise a previously submitted confirmed TEK by either revoking it or updating the report type (e.g., going from self report to confirmed positive test).

In addition to the proto changes and plumbing new fields from upload to export, we want to see if our db model (w/ TEK as primary key of exposures table) needs revision.

[2020-06-23 21:58] flagxor opened #663 "Add support for v1.5 API"
### TL;DR
v1.5 adds some additional fields attached to keys that need to be handled by the Key server.
Limited support for change of key status + revocation is supported in the API shape.

### Design Goals

Additional fields need to be selected by the HA app:
* report_type - unambiguous source of the diagnosis
* days_since_onset_of_symptoms - offset to the date on which symptoms first appeared

Th

[2020-06-23 22:40] gurayAlsac commented on #662
I'll close this out for the more comprehensive https://github.com/google/exposure-notifications-server/issues/663

[2020-06-23 22:40] #662 closed

[2020-06-23 23:09] mikehelmick commented on #663
I'll take this on next week.

[2020-06-24 00:16] #333 closed

[2020-06-25 02:40] #640 closed

[2020-06-26 14:17] chaodaiG commented on #248
/assign

[2020-06-26 14:25] chaodaiG commented on #248
/reopen

[2020-06-26 14:49] chaodaiG commented on #250
/assign

[2020-06-26 15:51] stati0n commented on #248
/reopen

[2020-06-26 15:52] stati0n commented on #248
/assign @chaodaiG

[2020-06-27 17:36] lmartensson opened #670 "Clarification of protobuf fields"
I'd like to make sure I understand what some of the fields in the TemporaryExposureKeyExport mean.
https://github.com/google/exposure-notifications-server/blob/035195440ec9e72a9bf4236e686388f22a5bfd7a/internal/pb/export/export.proto

In TemporaryExposureKeyExport:
  // Time window of keys in this batch based on arrival to server, in UTC seconds.
  optional fixed64 start_timestamp = 1;
  optional f

[2020-06-27 18:00] mikehelmick commented on #670
/assign @gurayAlsac

[2020-06-29 01:36] mikehelmick opened #671 "Define release process"
Things are still progressing fairly rapidly.

Define a release process for tagging this and the exposure-notifications-verification-server repositories on the same release cadence.

/assign

[2020-06-29 14:50] sethvargo commented on #671
Are you thinking auto-build and deploy on tag, or just a regular "we tag on significant changes"?

[2020-06-29 15:46] mikehelmick commented on #671
probably not auto.

More so - I want to be able to say v0.1 of the ENS and v0.1 of the ENVS know how to talk to each other.
Here is the exposure API that supports and here is the export API that supports.

And then in between versions we don't have to guarantee HEAD compatibility at all times.

[2020-06-29 15:57] sethvargo commented on #671
Cool totally reasonable. I had (have) some ideas on auto, but I agree that it's probably too soon.

[2020-06-29 16:18] mikehelmick opened #672 "index.txt crosses export configs"
### TL;DR

When there are multiple export configs on a single instance, the index.txt file seems to cross the streams as it were.

For example, this is a sample from an export that should only contain "CH" region TEKs

[code]

**Expected behavior**

The different export configs have separate index.txt files

**Observed behavior**

They were merged

[2020-06-29 17:38] crwilcox commented on #672
@gurayAlsac looked at the configs and it seems we are collecting all in regions right now, so this makes sense.

[code]

I propose we collect input US output US, input CH, output CH, and output ALL input {}

[2020-06-29 17:39] crwilcox commented on #672
Clarification: if no input region specified it should be output region

[2020-06-29 17:58] gurayAlsac commented on #670
1. It is based on arrival to the server. The idea is that the server exports keys as it becomes aware of them and generates immutable files corresponding to the keys that came in from start/end timestamp and these files could be cached.

2. Interval number is `is discretized ... 10 minute intervals that are enumerated starting from Unix
Epoch Time` and associated to when the RPI (Rotating Proximit

[2020-06-29 18:08] mdsummers opened #673 "Is there a reason not to cache export bundle files?"
### Question
Metadata on .zip export bundles sets `cache-control: no-cache, max-age=0`.

Is there a reason not to cache these files? Should they ever change?

### Context
Invocations of `s.env.Blobstore().CreateObject` in internal/export/worker.go set cachable: false for index and bundle files.

[2020-06-29 18:14] mdsummers commented on #673
Relates to https://github.com/google/exposure-notifications-server/pull/494

The index stands to change and makes sense not to cache. The change also set caching on bundle files.

[2020-06-29 18:34] gurayAlsac commented on #673
Looks like a bug:
[code]

The intention was to have export files themselves be cacheable (as they are immutable) and the index not be cached.

[2020-06-29 19:33] #673 closed

[2020-06-29 20:19] gurayAlsac commented on #642
FYI, Debug Mode documentation is now available at https://developers.google.com/android/exposure-notifications/partners/debug-mode

[2020-06-29 22:10] sherifkozman commented on #642
@gurayAlsac The link is a 404

[2020-06-29 22:27] gurayAlsac commented on #642
Ah sorry. The link is currently available to certain allowlisted partners, but will be public in a week or so.

[2020-06-30 00:17] #420 closed

[2020-06-30 09:02] mdsummers commented on #672
When the filename root differs between export configurations, it seems that index.txt files still refer to files from other export configurations (and therefore in different filename roots).

[2020-06-30 15:20] mikehelmick commented on #672
originally, output region was just `region`

when I introduced the input region, the intent was that if that was an empty array, then the output region would be used.

I think an implicit "all" is potentially dangerous as it makes it really easy to over-export keys.

[2020-06-30 17:33] #670 closed

[2020-07-01 00:22] #542 closed

[2020-07-01 15:35] mikehelmick opened #677 "Rename default branch to main"
/assign

[2020-07-01 15:38] mikehelmick commented on #677
/assign

[2020-07-01 15:39] mikehelmick commented on #677
main branch has been created - it is even w/ the master branch

[2020-07-01 16:11] sethvargo commented on #677
@mikehelmick I think we should tag before the full rename

[2020-07-01 16:12] mikehelmick commented on #677
Tag as 'v0.1' ?

[2020-07-01 16:15] sethvargo commented on #677
works for me. then tag future as v0.2

[2020-07-01 16:32] mikehelmick commented on #677
Releases created on both repositories w/ v0.1 tag

[2020-07-01 16:33] mikehelmick commented on #677
Leaving this issue open and tagged for a while so that folks are aware

[2020-07-01 16:38] mikehelmick commented on #677
old 'master' branch has been deleted

[2020-07-01 20:16] mikehelmick opened #679 "Interface with verification service discovery"
### TL;DR

For health authority verification,

instead of storing public keys in the database, integrate with verification server discovery.

Dependent on the outcome of https://github.com/google/exposure-notifications-verification-server/issues/93

/kind enhancement
/assign

[2020-07-01 20:19] mikehelmick opened #680 "Verification claims improvements"
* Remove free form PHA Claims field
* Add fields for v1.5
* Validate all data in (i.e. ReportType) and reject requests with invalid claim values

/kind enhancement
/assign

[2020-07-01 21:00] mikehelmick commented on #672
/assign

[2020-07-02 00:30] #672 closed

[2020-07-03 01:24] TJMusiitwa commented on #643
I will give the Terraform deployment a shot and hope all goes well.

Any heads up I should be aware of while deploying with Terraform such as pre-deploy tasks on Google cloud and the like?
Thanks

[2020-07-03 02:14] mikehelmick commented on #608
keep alive

[2020-07-03 02:16] mikehelmick commented on #643
The readme in this directory should have complete instructions

https://github.com/google/exposure-notifications-server/tree/main/terraform

Note that terraform is used for the initial deployment. After that there are a series of scripts in the `scripts` directory that are used to build, deploy, and promote releases.

[2020-07-03 02:27] mikehelmick commented on #663
Is revoked in this case, a user initiated action or does that need to be run through a verification server?

[2020-07-04 07:03] vbGoz opened #684 "Deployment fails with Cloud Run Error"
Deployment fails with Cloud Run Error:
`ERROR: (gcloud.run.deploy) Cloud Run error: Container failed to start. Failed to start and then listen on the port defined by the PORT environment variable. Logs for this revision might contain more information.`

[2020-07-04 07:41] giautm commented on #684
You should check log on Cloud Run, It can't start because something wrong on that service.

[2020-07-05 00:34] sethvargo commented on #684
What do the Cloud Run logs show?

[2020-07-05 01:03] vbGoz commented on #684
Logs do not have much additional info either. Here's what they look like:

[code]

[2020-07-05 05:37] atikrahman-ew opened #685 "Proper Tutorial for deployment and everything ."
### Question

The documentation from google is always scatter and is not clear at all . Is there Any tutorial that covers everything ????

[2020-07-05 14:04] sethvargo commented on #685
Hi @atikrahman-ew there's some documentation in this repository in the `docs/` folder. Specifically, you might be interested in:

- [Deployment Options](https://github.com/google/exposure-notifications-server/blob/a820290c22f0c973da3af3c2d2d7c41218a80b04/docs/server_deployment_options.md)
- [Deployment Guide](https://github.com/google/exposure-notifications-server/blob/a820290c22f0c973da3af3c2d2d7

[2020-07-05 14:05] sethvargo commented on #684
Hi @vbGoz those are the Cloud _Build_ logs. To get the Cloud _Run_ logs, go to Cloud Run in the console (find it in the sidebar or use the search box). Then click on your service (it should have a big red circle indicating it failed), then click on logs to view the logs.

[2020-07-05 15:28] vbGoz commented on #684
@sethvargo Here's the error I see:

[code]

[2020-07-05 15:48] vbGoz commented on #684
I found the confine.go file with the host and port configuration, but changing it didn't help:

[code]

[code]

[2020-07-05 16:57] sethvargo commented on #684
Hi @vbGoz can you tell me more about how you're deploying? Did you use the Terraform configurations?

[2020-07-05 17:01] vbGoz commented on #684
Yes, I used Terraform configurations.

[2020-07-05 17:15] sethvargo commented on #684
Terraform has to do the first deployment to set those variables.

[2020-07-05 21:18] vbGoz commented on #684
Thank you @sethvargo for your quick responses. I truly appreciate it.

I re-tried the terraform setup and followed the guide at:
https://github.com/google/exposure-notifications-server/tree/main/terraform

I see the following warning for the apply command:

[code]

[2020-07-05 21:49] sethvargo commented on #684
Are you sure you're inside the `terraform/` directory on the latest pull? The module _does_ define a variable named "project" and "generate_cron_schedule".

[2020-07-05 22:12] vbGoz commented on #684
Thank you! My bad, I believe while trying to debug other issues. I overwrote some of the configs.

I did a fresh clone and re-ran the terraform instructions and apply fails with the following:

[code]

I verified that `<PROJECT_NUMBER>@cloudservices.gserviceaccount.com` already has an editor role for the project.

[2020-07-06 12:44] atikrahman-ew commented on #685
Hi @sethvargo  i know about this but those are scatter . i wanted to know if theres any single document how to deploy the api and test everything .

[2020-07-06 13:06] sethvargo commented on #685
Hi @atikrahman-ew thank you for your reply. I'm not entirely sure what you're asking for. The Deployment Guide I linked above is a single document that tells you how to deploy the API. The Deployment Options explain the different components of the system (it's pluggable).

[2020-07-06 13:08] sethvargo commented on #684
Can you share more of the Terraform output logs? Can you share a screenshot of your IAM console where the Service Agent has Editor permissions please?

[2020-07-06 16:39] gurayAlsac commented on #608
After v1.5 we won't need the notion of catch-up files as the api can be called with multiple whole batches, so we probably don't need to support more complexity in grouping generated files by frequency. If servers find they need to do this for pre-v1.5 devices, some simple prefix conventions might be sufficient to distinguish.

[2020-07-06 16:39] #608 closed

[2020-07-06 18:50] mikehelmick commented on #685
There is some additional documentation that covers more of the overall ecosystem located at https://developers.google.com/android/exposure-notifications/exposure-notifications-api

The other things I would recommend are

- https://github.com/google/exposure-notifications-server/tree/main/terraform - shows how to deploy the server
- https://google.github.io/exposure-notifications-server/server_func

[2020-07-06 20:00] mikehelmick opened #692 "Integration tests are flaky"
### TL;DR

Integration tests sometimes pass, and sometimes file with errors along this line

https://oss-prow.knative.dev/view/gcs/oss-prow/pr-logs/pull/google_exposure-notifications-server/687/pull-en-server-release-unit/1280215327820484608

**Expected behavior**

Tests are deterministic and pass unless the actually code under tests changes.

[2020-07-06 21:19] vbGoz commented on #684
[https://drive.google.com/file/d/1mOIQsExVxcvCaV5-of7Qqps6Q5sJ0Tae/view?usp=sharing](Permissions)

[https://drive.google.com/file/d/1IKyl3IBMQ0UO5_GtQ8Q7rUvC-BfitvtB/view?usp=sharing](Logs)

[2020-07-06 21:27] sethvargo commented on #684
Hmm. Do you have any organization policies or restrictions on your project (like VPC-SC, org policies, etc)?

[2020-07-06 21:45] vbGoz commented on #684
No, I don't have the project connected to any org, it is under my personal google account.

[2020-07-06 22:17] mikehelmick opened #693 "Upload additional keys after initial report"
Design and implement a protocol for continuing to allow for additional days upload.

[2020-07-06 22:17] mikehelmick commented on #693
This likely crosses both the verification and ENS

[2020-07-06 22:18] mikehelmick commented on #693
This is steps 10-13 of this flow:
  https://developers.google.com/android/exposure-notifications/verification-system#flow-diagram

[2020-07-06 23:57] sethvargo commented on #684
Hmm I'm really not sure to be honest. I just tried again in a new project and it worked fine. You could try a new project, or revoke and re-add the permisisons:

[code]

[2020-07-07 13:17] sherifkozman opened #696 "Invalid Project ID on all services"
After upgrading the codebase after two weeks all services are reporting an invalid project ID value over all logs as follows  :

2020-07-07 06:14:26.850 PDT
2020/07/07 13:14:26 Failed to export to Stackdriver: rpc error: code = InvalidArgument desc = Invalid project ID

Similar trace in export service :
GET200 235 B 105 ms Google-Cloud-Scheduler https://xxxxxxxxxx-uc.a.run.app/create-batches
2020-

[2020-07-07 14:07] sethvargo commented on #696
This is likely related to changes in https://github.com/google/exposure-notifications-server/commit/5cb95f73ffdcf23aa424906d7a983607de53848f#diff-cbb25aea043ef5888a4f0283ee00649a to support multiple observability tools. Can you try setting `PROJECT_ID` or `GOOGLE_CLOUD_PROJECT` on your Cloud Run services' environment and see if that issue goes away? If so, we can update the logic to "find" the pro

[2020-07-07 15:38] mikehelmick commented on #692
/assign

[2020-07-07 15:39] mikehelmick commented on #692
/fixed

[2020-07-07 15:39] #692 closed

[2020-07-07 15:40] mikehelmick commented on #692
all open PRs succeed on retest and new ones haven't failed since this change went in

[2020-07-07 15:43] mikehelmick commented on #696
There are 2 options

1) disable the stackdriver exporting

2) set the PROJECT_ID env-var (what #697 ) does + grant stackdriver write permissions to the SAs. PR incoming for that piece I believe.

/assign @sethvargo

[2020-07-07 15:57] mikehelmick commented on #677
this is done - doc publishing has ben fixed.

[2020-07-07 15:57] #677 closed

[2020-07-07 15:58] mikehelmick commented on #680
/assign

[2020-07-07 15:58] mikehelmick commented on #680
/kind enhancement

[2020-07-07 16:43] sethvargo opened #699 "Observability timeseries failing"
[code]

[2020-07-07 16:45] #696 closed

[2020-07-07 19:39] mikehelmick commented on #663
Some high level notes

- In this reference sever we will not support uploads of "recursive" or "self-report" at this time, but instead continue to recommend the use of the verification server protocol.
- Symptom onset date will be accepted and then assigned by the server. This field can also be present on the verification certificate. Ideally that is where the field will come from.
- Report type _

[2020-07-08 02:10] mikehelmick commented on #663
Updates to verification server for new claims:
   https://github.com/google/exposure-notifications-verification-server/pull/101

[2020-07-08 14:35] sherifkozman opened #703 "Creating batches fail after updating Cloud Run services"
After updating Cloud run services with recent changes for Stackdriver monitors the following errors occur for exporting batches :

creating batches: IterateExportConfigs(2020-07-08 12:30:00.410815324 +0000 UTC m=-6498.363359313): ERROR: column "region" does not exist (SQLSTATE 42703)

2020-07-08 07:29:42.618 PDT
GET403 0 B 0 ms Firefox 78 https://export-2kabcv6c4a-uc.a.run.app/create-batches

[2020-07-08 14:51] #703 closed

[2020-07-08 16:44] sherifkozman opened #704 "Failed to export Metrics to StackDriver"
The latest update for Cloud run permissions resulting the below errors :

Failed to export to Stackdriver: rpc error: code = InvalidArgument desc = One or more TimeSeries could not be written: Points must be written in order. One or more of the points specified had an older start time than the most recent point.: timeSeries

[2020-07-08 16:59] sethvargo commented on #704
Hi @sherifkozman these are not permission errors, something is wrong with some of our metrics. Dupe of GH-699.

[2020-07-08 16:59] #704 closed

[2020-07-08 17:51] sherifkozman opened #705 "Posting Keys from previosly working clients results error 400"
Recenetly submitting exposure Keys from clients that were succesffully working before started giving :
Error 400 : unable to read request data: exposure keys have overlapping intervals
Any pointers on how to trace that and the root cause ?

[2020-07-08 18:34] mikehelmick commented on #705
if you set [this flag](https://github.com/google/exposure-notifications-server/blob/main/internal/publish/config.go#L50) to true, it will allow that upload to work.

We're still in process for upgrading the server for the "v1.5" model, see #663

In this new model - there will be 2 keys for the last day, one that ends earlier and one that continues for the rest of the day.

[2020-07-08 18:56] sherifkozman commented on #705
@mikehelmick This worked fine for now, thanks

[2020-07-09 00:22] #247 closed

[2020-07-09 09:40] johanbrandhorst commented on #247
We should reopen this, right? Is this no longer relevant?

[2020-07-09 12:52] sethvargo commented on #247
I believe we have an e2e test now, @crwilcox @chaodaiG can you confirm?

[2020-07-09 13:44] chaodaiG commented on #247
We have integration tests against in memory DB, testing the following scenarios:
- Publish/export keys
- Cleanup published keys
- Cleanup exported keys

https://github.com/google/exposure-notifications-server/blob/main/internal/integration/publish_test.go

So I think we have the requested "upload" part done, but no test for "download" part yet

[2020-07-09 13:47] chaodaiG commented on #243
/reopen

[2020-07-09 14:00] sherifkozman commented on #705
Hello @mikehelmick even after lifting the embargo over the Keys and setting DEBUG_RELEASE_SAME_DAY_KEYS=true for the exposure service we are still getting error 400

[2020-07-09 14:14] mikehelmick commented on #705
Same error message?

Can you share the server logs?

And can you share the data that is being uploaded? You can redact the keys, just need to see the timing information.

[2020-07-09 14:54] sherifkozman commented on #705
So we are getting a bunch of errors of overlapping Keys through the mobile app that was previously working.
Yesterday they were generating Error 400 with "exposure keys have overlapping intervals" today they are being accepted with the same warning.

[keys.txt](https://github.com/google/exposure-notifications-server/files/4897612/keys.txt)

[2020-07-09 15:03] mh- commented on #663
The [specification](https://developers.google.com/android/exposure-notifications/exposure-key-file-format) still states "The header must be exactly “EK Export **v1**” right-padded to 16 bytes with UTF-8 whitespaces."
Do you intend to keep that / how do you plan to do versioning for this interface?

[2020-07-09 15:38] mikehelmick commented on #705
/cc @peetsasaki

[2020-07-09 15:41] mikehelmick commented on #663
@flagxor @gurayAlsac  - Can you answer the question about the header string?

[2020-07-09 15:45] mikehelmick commented on #705
I pulled out just the timing information from the file.

[code]

As far as I know, this situation shouldn't be happening. I've asked someone from the android team to take a look.

[2020-07-09 16:30] mikehelmick commented on #705
/assign
/kind bug

conferred w/ the android folks - I'll get a fix out to the server to support this new functionality today.

[2020-07-09 17:56] sherifkozman commented on #642
@gurayAlsac any updates about the above link being public ?

[2020-07-09 22:56] mikehelmick commented on #663
When stable, I plan to promote the API version from v1alpha1 to v1beta1.

[2020-07-10 01:04] sherifkozman commented on #705
@mikehelmick This issue is not yet resolved with the latest patch. We are still recieving error 400 over POST requests.
For Testing purposes we have set the following too :

        - name: DEBUG_RELEASE_SAME_DAY_KEYS
          value: 'true'
        - name: MAX_KEYS_ON_PUBLISH
          value: '30'
        - name: MAX_SAME_START_INTERVAL_KEYS
          value: '14'

[2020-07-10 01:09] mikehelmick commented on #705
What’s the error message and log messages?

[2020-07-10 01:31] sherifkozman commented on #705
The Server doesnt show any detail error log only 400 as per the screenshot.
The Odd part is multiple devices using the same test app, some of those get 400 and some get 200 with successful exposoure insertion.
<img width="1177" alt="Screen Shot 2020-07-09 at 6 30 58 PM" src="https://user-images.githubusercontent.com/666788/87106469-5d601800-c212-11ea-89f7-151db88db9cd.png">

[2020-07-10 01:52] mikehelmick commented on #705
The error would likely be one line above that.

Are you capturing the http response body at the client? That would have details as well.

I’ll try and get additional log details added tonight.

[2020-07-10 02:19] mikehelmick commented on #705
Added some additional logging along this code path: https://github.com/google/exposure-notifications-server/pull/708
Sent out for code review.

[2020-07-10 09:24] zssz commented on #642
@sherifkozman reach out to your Google EN contact person. Also, be sure to be logged in with the allowlisted email address when you visit the link above.

[2020-07-10 15:53] mikehelmick commented on #705
Hi @sherifkozman  -

Can you deploy the additional logging and let me know what you see?
We can debug further from there if necessary.

[2020-07-10 16:48] sherifkozman commented on #705
@mikehelmick The latest logging change paid off , now we can see things clearer and start acting accordingly.
Here is a sample of why we are getting 400
<img width="973" alt="screen_shot_2020-07-10_at_7 11 33_am" src="https://user-images.githubusercontent.com/666788/87178703-6ee90480-c292-11ea-9080-70dc08d0df13.png">

[2020-07-10 17:14] mikehelmick commented on #705
ah - perfect. I just sent a PR for a tool that will help w/ interval conversions #709

This timing is close, it is under a day too old

[code]

In the server, you can tune the max age by setting
https://github.com/google/exposure-notifications-server/blob/main/internal/publish/config.go#L48

[2020-07-10 17:23] mikehelmick commented on #705
Going to close this out as I don't think there's anything to "fix" in the code

[2020-07-10 17:23] #705 closed

[2020-07-10 17:53] sherifkozman commented on #705
confirmed

[2020-07-11 12:13] atikrahman-ew commented on #685
Hi Guys I have successfully Deployed from terraform setting .

Now i need to know how to call those on api and setting up on demo project . I am lost there completely .
@mikehelmick @sethvargo  Appreciated if you help please .

[2020-07-11 17:18] mikehelmick commented on #685
To configure the server, you need to run the admin console. You run this locally, see https://google.github.io/exposure-notifications-server/getting-started/deploying#configuring-the-server

There are 2 key pieces

1. Configure the authorized app to enable uploads

1. Configure exportconfig to create exports

The API for uploading keys is defined here, https://github.com/google/exposure-notificati

[2020-07-12 06:42] atikrahman-ew commented on #685
@mikehelmick
Thank you very much .As you suggested
![Capture](https://user-images.githubusercontent.com/29091506/87240622-e65a9780-c43c-11ea-808e-fa344454cac9.PNG)

i have successfully run admin console and add an auth app. But on the the android demo project where should i found the server url ? can you guide a bit on that . So far Great Help . Appreciate it .

[2020-07-12 09:45] mahabub-parallax commented on #685
**I am also stack in this stage**.  can anyone help me

[2020-07-12 14:00] sherifkozman opened #711 "Error in setting up CLEANUP_TTL to delete older export files"
Trying to abide by the max file limit for IOS and Android we have reset the export config to a min of 24 hours to generate less files.
The index file still contains references for the older files which we tried to clear by setting the CLEANUP_TTL to a lower value of 24 hours so we can get rid of the older batch files but the clean jobs always result the below error : "error processing cutoff time:

[2020-07-12 16:39] mikehelmick commented on #711
I think that shortening the cleanup period is the wrong approach. Consider the impact of a device that has been offline for several days and needs to catch up.

Instead, your app should "remember" which .zip files it has processed of those in the index.txt file and only process the new ones.

There are two cleanup jobs.

- `cmd/cleanup-export` for cleanup up of the old files
- `cmd/cleanup-exposur

[2020-07-12 16:42] mikehelmick commented on #685
The server url can be found by visiting the Cloud Run section of the Cloud Console: https://console.cloud.google.com/run

Look for the "exposure" service and click into the details to find the URL.

[2020-07-12 16:47] sherifkozman commented on #711
@mikehelmick i totally agree for a production environment, but during development while configs are being tested (i.e setting a 4 hours export config) created hundreds of files that a mobile device is unable to process due to the 15-20 files limit and those files will only be cleared out after 14+1 days (360h)

[2020-07-12 17:01] atikrahman-ew commented on #685
@mikehelmick  Got the url thank you so much brother .
 God bless you .
Our google demo project application runs and says not authorized ?? any last help for this ?

[2020-07-13 15:43] sherifkozman commented on #711
@mikehelmick any ideas on how we can get rid of the older files created quicker and in a cleaner way ?

[2020-07-13 17:11] stati0n opened #712 "test: Create an integration test for interfacing with the verification server"
### TL;DR
Create an integration test for interactions with the verification server.  The verification server can be mostly mocked.

[2020-07-13 17:16] stati0n commented on #712
This is going to need a positive and negative case, one where the exposure is verified, and one where it is not verified.

[2020-07-13 18:13] stati0n commented on #712
/assign @argetlam-cs

[2020-07-13 18:24] mikehelmick commented on #685
2 possibilities

1) Make sure the apppackagename that the app is sending is the same as you have configurd
2) You may need to set "bypass health authority verification" unless you are also running a verification server : https://github.com/google/exposure-notifications-verification-server

[2020-07-13 18:27] mikehelmick commented on #711
the only way to do that would be to add a flag to remove this backstop.

[2020-07-13 18:57] sherifkozman commented on #711
you mean in the code it self not an actual variable availble correct ?
or i would reset the entire database and start fresh ?

[2020-07-13 19:11] mikehelmick commented on #711
code change to give you a new flag to set.

https://github.com/google/exposure-notifications-server/pull/714 will give you that

/assign

[2020-07-13 19:12] mikehelmick commented on #711
/kind enhancement

[2020-07-13 19:17] mikehelmick commented on #680
This is merged

[2020-07-13 19:17] #680 closed

[2020-07-13 20:16] sherifkozman commented on #711
i ran it off your personal branch and it worked fine deleted all old files as expected. However the index file is not updated and still have references to the old files, is this normal ?

[2020-07-13 20:18] mikehelmick commented on #711
index.txt will be regenerated next time an export is generated and won't contain the old files.

[2020-07-13 20:57] sherifkozman commented on #711
@mikehelmick after the latest update the following started surfacing , are they related ?

![Screenshot 2020-07-13 13 35 11](https://user-images.githubusercontent.com/666788/87352960-c7c5d080-c510-11ea-873b-bbd5b1814c48.png)

[2020-07-13 21:08] mikehelmick commented on #711
that is related to #663

it means the app is uploading keys that were previously uploaded are being uploaded again (which is not necessary).

In the new model it will be possible to upload a key for a second time and change it's report type.

When I finish the work on #663 the old way of uploading a key without changes will continue to work. Sorry for the temporary breakage. I wanted to break this

[2020-07-13 21:23] nmiodice opened #715 "Azure Storage credentials cannot be resolved from a secrets store - they are assumed to be directly in the environment"
### TL;DR
The credentials for Azure Storage accounts are not able to be pulled from KeyVault (using the `secret://` prefix) because they are pulled directly from the environment. The code can be found [here](https://github.com/google/exposure-notifications-server/blob/main/internal/storage/azure_blobstore.go#L39-L67).

### Design

**Proposal**
The values could be more configurable if resolved usin

[2020-07-14 00:18] sethvargo commented on #715
I'm fine supporting auth via the environment, but in talking through the use case on chat, I'm not convinced this is a good pattern.

[2020-07-14 00:22] #654 closed

[2020-07-14 00:22] #653 closed

[2020-07-14 02:21] sherifkozman commented on #711
@mikehelmick i wanted to confirm that new export batch has been create and the index file was updated yet still containing the references of the older files that were deleted. Any pointers ?

[2020-07-14 02:23] mikehelmick commented on #711
That is unexpected.

/assign @gurayAlsac - Can you take a look?

[2020-07-14 02:23] mikehelmick commented on #711
/assign @gurayAlsac

[2020-07-14 02:25] sherifkozman commented on #711
I have temporarly cleaned the index.txt referencing only exisiting files and kept a copy of the old one

[2020-07-14 02:31] mikehelmick commented on #711
If export generation didn't clean up the file, they will be put back next time.
I'm guessing there is a bug in selecting files from the exportfiles table through the exportbatch table.

[2020-07-14 02:32] sherifkozman commented on #711
i agree that with the next batch the file will get back to the same state, this is a very temp solution as our testing is blocked by the number of files that client has to parse through though they dont exist.

[2020-07-14 02:51] mikehelmick opened #717 "Update federation to support v1.5"
### TL;DR

Federation APIs need to support key revision and extended date, see #663

/kind enhancement

[2020-07-14 08:01] atikrahman-ew commented on #685
Hi @mikehelmick

![solve1](https://user-images.githubusercontent.com/29091506/87399756-a846aa80-c5d9-11ea-92dc-d7afe163ac4b.PNG)

here is the ss of android default app adding .

Kindly Do look the bellow
![WhatsApp Image 2020-07-14 at 1 56 04 PM](https://user-images.githubusercontent.com/29091506/87400124-3a4eb300-c5da-11ea-890b-94203550ac74.jpeg)
![WhatsApp Image 2020-07-14 at 1 56 13 PM](https:/